@model TMP.Models.InvoiceTransactionModel
@using CONT = TMP.Infrastructure.Web.StatusManager.OtherDetail.Constant;
@{
    bool IsEdit = true;
}
<div class="col-md-12 createusertitle">BULK INVOICE EDIT</div>
<div class="col-md-12" style="height:10px;"></div>
<div class="col-md-12">

    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr class="bgspr">
                <th>Payable Number</th>
                <th>Currency</th>
                <th>Invoice Date</th>
                <th>Invoice Due Date</th>
                @if (ViewBag.CustomerTypeID == CONT.SupplierCustomerTypeID)
                {
                    <th>Buyer Name</th> }
                else if (ViewBag.CustomerTypeID == CONT.ObligorCustomerTypeID)
                {
                    <th>Supplier Name</th> }
               
                else if (ViewBag.CustomerTypeID == CONT.BuyerCustomerTypeID)
                {
                    <th>Supplier Name</th> }
                else if (ViewBag.CustomerTypeID == CONT.BothObligorAndBuyerTypeID && ViewBag.ProgramType == CONT.FType)
                {
                    <th>Supplier Name</th> }

                else if (ViewBag.CustomerTypeID == CONT.BothObligorAndBuyerTypeID && ViewBag.ProgramType == CONT.RType)
                {
                    <th>Supplier Name</th> }
                else
                {
                    <th></th>
                }
                <th>Amount</th>
                <th>Attachment</th>
                <th>Comment</th>
                @if (ViewBag.CustomerTypeID == CONT.SupplierCustomerTypeID)
                {
                    <th>Buyer Name</th>
                    <th>Obligor Code</th>
                    <th>Attachment</th>}
                else if (ViewBag.CustomerTypeID == CONT.ObligorCustomerTypeID)
                {
                    <th>Supplier Name</th>
                    <th>Supplier Code</th>
                    <th>Attachment</th>}
               
                else if (ViewBag.CustomerTypeID == CONT.BuyerCustomerTypeID)
                {
                    <th>Supplier Name</th>
                    <th>Supplier Code</th>
                    <th>Attachment</th>}
                else if (ViewBag.CustomerTypeID == CONT.BothObligorAndBuyerTypeID && ViewBag.ProgramType == CONT.FType)
                {
                    <th>Supplier Name</th>
                    <th>Supplier Code</th>
                    <th>Attachment</th>}

                else if (ViewBag.CustomerTypeID == CONT.BothObligorAndBuyerTypeID && ViewBag.ProgramType == CONT.RType)
                {
                    <th>Supplier Name</th>
                    <th>Supplier Code</th>
                    <th>Attachment</th>}
                else
                {
                    <th></th>
                    <th></th>
                    <th></th>
                }
                <th>Edit</th>
            </tr>

        <tbody>
            @foreach (var item1 in ViewBag.ChildData)
            {
                <tr>
                    <td>@item1.InvoiceNo</td>
                    <td>@item1.CurrencyCode</td>
                    <td>@Convert.ToDateTime(item1.InvoiceDate).ToString("dd-MMM-yyyy")</td>
                    <td>@Convert.ToDateTime(item1.DueDate).ToString("dd-MMM-yyyy")</td>

                    @if (ViewBag.CustomerTypeID == CONT.SupplierCustomerTypeID)
                    {
                        <td>@item1.ObligorName</td> }
                    else if (ViewBag.CustomerTypeID == CONT.ObligorCustomerTypeID)
                    {
                        <td>@item1.SupplierName</td> }            
                    else if (ViewBag.CustomerTypeID == CONT.BuyerCustomerTypeID)
                    {
                        <td>@item1.ExporterName</td> }
                    else if (ViewBag.CustomerTypeID == CONT.BothObligorAndBuyerTypeID && ViewBag.ProgramType == CONT.FType)
                    {
                        <td>@item1.SupplierName</td> }
                    else if (ViewBag.CustomerTypeID == CONT.BothObligorAndBuyerTypeID && ViewBag.ProgramType == CONT.RType)
                    {
                        <td>@item1.ExporterName</td> }
                    else
                    {
                        <td></td>
                    }

                    <td>@item1.CurrencyCode @string.Format("{0:0,0.00}", item1.Amt)</td>
                    <td><a href='~/Files/UploadedTempInvoiceFiles/@item1.Attach' target="_blank">Invoice</a></td>
                    <td>@item1.Comment</td>
                    @if (ViewBag.CustomerTypeID == CONT.SupplierCustomerTypeID)
                    {
                        <td>@Html.TextBoxFor(model => model.ObligorName, new { @class = "form-control validate[required]", maxlength = "50", autocomplete = "off" })</td>
                        <td>@Html.TextBoxFor(model => model.ObligorCode, new { @class = "form-control validate[required]", maxlength = "50", autocomplete = "off" })</td>
                        <td><input type="file" name="Attach" id="Attach" pattern="^(([a-zA-Z]:)|(\\{2}\w+)\$?)(\\(\w[\w].*))+(.pdf)$" class="onlyPDFfile" /></td>
                    }
                    else if (ViewBag.CustomerTypeID == CONT.ObligorCustomerTypeID)
                    {
                        <td>@Html.TextBoxFor(model => model.SupplierName, new { @class = "form-control validate[required]", maxlength = "50", autocomplete = "off" })</td>
                        <td>@Html.TextBoxFor(model => model.SupplierCode, new { @class = "form-control validate[required]", maxlength = "50", autocomplete = "off" })</td>
                        <td><input type="file" name="Attach" id="Attach" pattern="^(([a-zA-Z]:)|(\\{2}\w+)\$?)(\\(\w[\w].*))+(.pdf)$" class="onlyPDFfile" /></td> }
                 
                    else if (ViewBag.CustomerTypeID == CONT.BuyerCustomerTypeID)
                    {
                        <td>@Html.TextBoxFor(model => model.ExporterName, new { @class = "form-control validate[required]", maxlength = "50", autocomplete = "off" })</td>
                        <td>@Html.TextBoxFor(model => model.ExporterCode, new { @class = "form-control validate[required]", maxlength = "50", autocomplete = "off" })</td>
                        <td><input type="file" name="Attach" id="Attach" pattern="^(([a-zA-Z]:)|(\\{2}\w+)\$?)(\\(\w[\w].*))+(.pdf)$" class="onlyPDFfile" /></td>  }
                    else if (ViewBag.CustomerTypeID == CONT.BothObligorAndBuyerTypeID && ViewBag.ProgramType == CONT.FType)
                    {
                        <td>@Html.TextBoxFor(model => model.SupplierName, new { @class = "form-control validate[required]", maxlength = "50", autocomplete = "off" })</td>
                        <td>@Html.TextBoxFor(model => model.SupplierCode, new { @class = "form-control validate[required]", maxlength = "50", autocomplete = "off" })</td>
                        <td><input type="file" name="Attach" id="Attach" pattern="^(([a-zA-Z]:)|(\\{2}\w+)\$?)(\\(\w[\w].*))+(.pdf)$" class="onlyPDFfile" /></td> }

                    else if (ViewBag.CustomerTypeID == CONT.BothObligorAndBuyerTypeID && ViewBag.ProgramType == CONT.RType)
                    {
                        <td>@Html.TextBoxFor(model => model.ExporterName, new { @class = "form-control validate[required]", maxlength = "50", autocomplete = "off" })</td>
                        <td>@Html.TextBoxFor(model => model.ExporterCode, new { @class = "form-control validate[required]", maxlength = "50", autocomplete = "off" })</td>
                        <td><input type="file" name="Attach" id="Attach" pattern="^(([a-zA-Z]:)|(\\{2}\w+)\$?)(\\(\w[\w].*))+(.pdf)$" class="onlyPDFfile" /></td>  }
                    else
                    {
                        <td></td>
                        <td></td>
                        <td></td>
                    }
                    @if (item1.IsGenerated == false && item1.MstIsDeleted == false)
                    {
                        <td>
                            <a id="chk_@item1.InvTempID" name="chk_@item1.InvTempID" class="DisableItem">Edit</a>
                        </td>
                    }
                    else
                    {
                        <td>Edit</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    if ('@ViewBag.isEdit' == 'True')
    { @IsEdit = true; }
    else
    { @IsEdit = false; }
</script>