@model TMP.Models.InvoiceTransactionModel
@using CONT = TMP.Infrastructure.Web.StatusManager.OtherDetail.Constant;
@{
    ViewBag.Title = "Bulk Invoice Upload";
    Layout = "~/Views/MasterPage/_defaultLayout.cshtml";
    int _fileUploadSize = 100;
    if (Model.InvoiceID > 0)
    {
        _fileUploadSize = 1;
    }
}
<div class="col-md-12 div-border padoff">
    <link href="~/Content/dropzone.css" rel="stylesheet" />
    <script src="~/Scripts/dropzone.js"></script>
    @*<script src="~/Scripts/dropzone.min.js"></script>*@

    <div class="col-md-12 createusertitle">BULK Payable UPLOAD</div>

    <div class="container" style="border:1px solid;padding:20px;margin:20px; border-color:#58595b;">
        <label class="createusertitle" id="instruction">Please follow steps :</label>&nbsp;&nbsp;
        
        <ul style="list-style-type:disc; margin-bottom:0px;">
            @if (ViewBag.CustTypeID == CONT.SupplierCustomerTypeID)
            {
                <li>Step 1 - Upload CSV file and submit it. <a href='~/Files/BulkUploadSample/BulkUpload_Supplier.csv' target="_blank">(Download Sample File)</a>.</li>
            }
            else if (ViewBag.CustTypeID == CONT.ObligorCustomerTypeID)
            {
                <li>Step 1 - Upload CSV file and submit it. <a href='~/Files/BulkUploadSample/BulkUpload_Obligor.csv' target="_blank">(Download Sample File)</a>.</li>
            }
            else if (ViewBag.CustTypeID == CONT.BuyerCustomerTypeID)
            {
                <li>Step 1 - Upload CSV file and submit it. <a href='~/Files/BulkUploadSample/BulkUpload_Buyer.csv' target="_blank">(Download Sample File)</a>.</li>
            }
            else if (ViewBag.CustTypeID == CONT.BothObligorAndBuyerTypeID)
            {
                <li>Step 1 - Upload CSV file and submit it. <a href='~/Files/BulkUploadSample/BulkUpload_Buyer.csv' target="_blank">(Download Sample File)</a>.</li>
            }
            @*<li class="F_View" style="display:none;">
                Step 1 - Upload CSV file and submit it. <a href='~/Files/BulkUploadSample/BulkUpload_Obligor.csv' target="_blank">(Download Sample File)</a>.
            </li>
            <li class="R_View" style="display:none;">
                Step 1 - Upload CSV file and submit it. <a href='~/Files/BulkUploadSample/BulkUpload_Buyer.csv' target="_blank">(Download Sample File)</a>.
            </li>*@
            <li>Step 2 - Click Browse files and upload PDF files (Please note, only allow PDF file and name should be same as defined in CSV file).</li>
            <li>Step 3 - Uploaded CSV file listing in table.</li>
            <li>Step 4 - Click "View" action for review invoice details or also available option to delete upload file.</li>
            <li>Step 5 - In review page, Submit button will enable after resolve all comment queries.</li>
            @if (ViewBag.CustTypeID == CONT.SupplierCustomerTypeID || ViewBag.CustTypeID == CONT.ObligorCustomerTypeID)
            {                
                <li>Step 6 - It will display in supplier maker level after successfully generate transactions and it will finally invoice submitted.</li>
            }
            else if (ViewBag.CustTypeID == CONT.BuyerCustomerTypeID)
            {
                <li>Step 6 - It will display in buyer maker level after successfully generate transactions and it will finally invoice submitted.</li>
            }
            else if (ViewBag.CustTypeID == CONT.BothObligorAndBuyerTypeID)
            {
                <li>Step 6 - It will display in buyer maker level after successfully generate transactions and it will finally invoice submitted.</li>
            }
            @*<li class="F_View" style="display:none;">
                Step 6 - It will display in supplier maker level after successfully generate transactions and it will finally invoice submitted.
            </li>
            <li class="R_View" style="display:none;">
                Step 6 - It will display in buyer maker level after successfully generate transactions and it will finally invoice submitted.
            </li>*@
            <li>Step 7 - Please select funds required by date and process it.</li>
        </ul>
    </div>
    @if (@ViewBag.CustTypeID == CONT.BothObligorAndBuyerTypeID)
    {
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="text-align:center;">
                @*<input type="radio" name="RdoF" id="RdoF" checked /> Factoring*@                
                <input type="radio" name="RdoR" id="RdoR" checked/> Payables Finance                
            </div>
            <div class="col-md-4"></div>
        </div>
    }
    <form action="~/InvoiceCommon/BulkInvoiceUpload" method="post" enctype="multipart/form-data" class="col-md-12 padoff CommonValidations" id="InvoiceUpload">
        @Html.HiddenFor(model => model.ProgramType)
        <input type="hidden" name="strProgramType" id="strProgramType" />
        <div class="col-sm-12 padoff" style="text-align:center;">
            Invoice Upload CSV File&nbsp;<span style="color:red;width:50px;">*</span>
            <label class="f-btn f-btn-default f-btn-file">
                Select File<input type="file" name="UpdInvoices" id="UpdInvoices" class="validate[required] onlyCSVfile" />
            </label>
            <label class="l-filename" id="UpdInvoices_span"></label>&nbsp;&nbsp;
            <button type="submit" id="btnUpload" name="btnUpload" value="Save" class="btn btn-tgs">Submit</button>&nbsp;&nbsp;
            <button type="submit" id="btnCancel" name="btnCancel" class="btn btn-tgs">Back</button>
        </div>
    </form>
@if (Model.InvTempID > 0)
{
    <div id="dropzonffe" style="width: 62%; margin-left: 19%">

        <form action="~/InvoiceCommon/SaveDropzoneJsUploadedFiles" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneJsForm">
            @Html.HiddenFor(model => model.InvTempID)
            @Html.HiddenFor(model => model.ProgramType)
            <div class="fallback">
                <input name="file" type="file" class="onlyPDFfile" multiple />
            </div>
        </form>

        <div class="col-sm-12 padoff" style="text-align:center;">
            <button type="button" id="btnSave" name="btnSave" value="Save" class="btn btn-tgs">Upload</button>&nbsp;&nbsp;
            <button type="submit" id="btnCancel1" name="btnCancel1" class="btn btn-tgs">Back</button>
        </div>

    </div>
}
    <div class="col-md-12 padoff">
        @if (ViewBag.TmpMasterData != null && ViewBag.TmpMasterData.Count > 0)
        {
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr class="bgspr">
                    <th style="width:60px;">Sr. No.</th>
                    <th>Company Name</th>
                    <th>Company Code</th>
                    <th>Upload Date</th>
                    <th>File Deleted</th>
                    <th>Invoice Generated</th>
                    <th>Attachment</th>
                    @*<th>Comment</th>*@
                    <th>Delete</th>
                    <th>Action</th>
                </tr>

            <tbody>
                @{ int intNo = 1; }
                @foreach (var item in ViewBag.TmpMasterData)
                {
                    <tr>
                        <td>@intNo</td>

                        @if (item.ObligorID > 0)
                            {
                            <td>@item.ObligorName</td> }
                            else if (item.SupplierID > 0)
                            {
                            <td>@item.SupplierName</td> }
                            else if (item.BuyerID > 0)
                            {
                            <td>@item.BuyerName</td> }
                            else
                            {
                            <td></td>
                            }
                        @if (item.ObligorID > 0)
                            {
                            <td>@item.ObligorCode</td> }
                            else if (item.SupplierID > 0)
                            {
                            <td>@item.SupplierCode</td> }
                            else if (item.BuyerID > 0)
                            {
                            <td>@item.BuyerCode</td> }
                            else
                            {
                            <td></td>
                            }

                        <td>@(string.Format("{0:dd-MMM-yyyy hh:mm:ss tt}", item.CreateDate))</td>

                        @if (item.IsDeleted == true)
                            {
                            <td>Yes</td>
                            }
                            else
                            {
                            <td>No</td>
                            }
                        @if (item.IsGenerated == true)
                            {
                            <td>Yes</td>
                            }
                            else
                            {
                            <td>No</td>
                            }
                        <td>
                            @if (item.Attach != "")
                                { 
                                <a href='~/Files/UploadedTempInvoiceFiles/@item.Attach' target="_blank">View</a> 
                            }
                        </td>
                        @*<td>@item.AttachComment</td>*@
                        @if (item.IsDeleted == false && item.IsGenerated == false)
                            {
                            <td>@Html.ActionLink("Delete", "BulkInvoiceUpload", new { ProgramType = Model.ProgramType, Delete_InvTempID = item.InvTempID })</td> }
                            else
                            {
                            <td>Delete</td> }

                        @*@if (item.IsUpdAttach == true)
                            {
                            <td>@Html.ActionLink("View", "BulkInvoiceView", new { InvTempID = item.InvTempID })</td>
                            }
                            else
                            {
                            <td>View</td> }*@

                        <td>@Html.ActionLink("View", "BulkInvoiceView", new { InvTempID = item.InvTempID, ProgramType = Model.ProgramType })</td>

                    </tr>
                        intNo++;
                    }
            </tbody>
        </table>
                        }
    </div>

</div>

<div class="modal fade" id="Success" role="dialog">
    <div class="modal-dialog" style="width:600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button id="DivClose" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="text-align:center;">
                <div class="error">

                </div>
                <div id="SuccessMsg" style="font-size:17px;">
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .f-btn {
        margin-bottom: 11px;
    }

    .modal-header {
        border-bottom: 0px solid #e5e5e5;
    }
</style>
@section scripts {
    <script type="text/javascript">
        var _errorInUpload = false;

        Dropzone.options.dropzoneJsForm = {
            uploadMultiple: true,
            autoProcessQueue: false,
            maxFiles: @_fileUploadSize,
            acceptedFiles: ".pdf",
            parallelUploads: 10000,
            maxFilesize: 3000.0,
            init: function () {
                var submitButton = document.querySelector("#btnSave");

                if(submitButton!=null )
                {
                    var myDropzone = this;
                    submitButton.addEventListener("click", function () {
                        if(myDropzone.getAcceptedFiles().length > 0){

                            myDropzone.processQueue();
                        }else {
                            $("#errorMsg").html("Please select file.");
                            $('#Error').modal('show');
                        }
                    });
                    this.on("addedfile", function (file) {

                        var removeButton = Dropzone.createElement("<button>Remove file</button>");
                        var _this = this;

                        removeButton.addEventListener("click", function (e) {
                            e.preventDefault();
                            e.stopPropagation();

                            _this.removeFile(file);
                        });

                        file.previewElement.appendChild(removeButton);
                    });
                    this.on("maxfilesexceeded", function(file) {
                        this.removeAllFiles();
                        this.addFile(file);
                    });
                    this.on("error", function(file, message) {
                        _errorInUpload = true;
                        $("#errorMsg").html(message);
                        $('#Error').modal('show');
                        this.removeFile(file);
                    });
                    this.on("queuecomplete", function (file) {
                        if(!_errorInUpload){
                            $("#SuccessMsg").html("File upload successfully.");
                            $('#Success').modal('show');
                            this.removeAllFiles();
                            $("#ajax_loader").hide();
                            location.reload();
                            // LoadPage(_indexUrl);
                        }
                    });
                }
            }
        };
        $("#btnCancel, #btnCancel1").click(function () {
            if('@ViewBag.CustTypeID' == '@CONT.SupplierCustomerTypeID' || '@ViewBag.CustTypeID' == '@CONT.BuyerCustomerTypeID' )
            {
                document.location = '@Url.Action("CMNDashboard", "Home")';
            }
            else if ('@ViewBag.CustTypeID' == '@CONT.ObligorCustomerTypeID')
            {
                document.location = '@Url.Action("CMNDashboard", "Home")';
            }
            return false;
        });

        $(document).ready(function () {
            $('#example').DataTable({
                "pageLength": 5,
            });

            if('@ViewBag.CustTypeID' == '@CONT.BothObligorAndBuyerTypeID')
            {
                $('#strProgramType').val("R");
                $('#RdoF').attr('checked', true);
                $(".R_View").css("display", "none");
                $(".F_View").css("display", "block");
            }
        });

        $("#RdoF").on("change", function () {
            $('#RdoF').attr('checked', true);
            $('#RdoR').attr('checked', false);
            $('#strProgramType').val("F");
            $(".R_View").css("display", "none");
            $(".F_View").css("display", "block");
        });
        $("#RdoR").on("change", function () {
            $('#RdoR').attr('checked', true);
            $('#RdoF').attr('checked', false);
            $('#strProgramType').val("R");
            $(".F_View").css("display", "none");
            $(".R_View").css("display", "block");
        });
    </script>
}