@model TMP.Models.CustomerReviewModel
@using CONT = TMP.Infrastructure.Web.StatusManager.OtherDetail.Constant;

<div class="container padoff">
    <div class="col-md-12" style="height:15px;"></div>
    <div class="col-md-12 createusertitle">CREDIT FACILITY</div>
    <div class="col-md-12" style="height:15px;"></div>

    @if ((Model.CustomerTypeID == CONT.BothObligorAndBuyerTypeID && Model.ProgramType == CONT.BothProgramType))
    {

        <table class="col-md-5">
            <tbody>

                <tr>
                    <td class="td-bg">Currency</td>
                    <td class="td-line">@Model.CurrencyCode</td>

                </tr>
                <tr>
                    <td class="td-bg">Recommended Limit</td>
                    <td class="td-line">
                        @string.Format("{0:0,0.00}", Model.Limit)
                    </td>

                </tr>
                <tr>
                    <td class="td-bg">Profit Rate</td>
                    <td class="td-line">
                        @string.Format("{0:0,0.00}", Model.ProfitRate) %
                    </td>


                </tr>
                <tr>
                    <td class="td-bg">Transaction Fee Percentage</td>
                    <td class="td-line">
                        @string.Format("{0:0,0.00}", Model.TranFeePer)
                    </td>

                </tr>
                <tr>
                    <td class="td-bg">Security Deposit Percentage</td>
                    <td class="td-line">
                        @string.Format("{0:0,0.00}", Model.SecDeptPer)
                    </td>

                </tr>
                <tr>
                    <td class="td-bg">Security Deposit Amount</td>
                    <td class="td-line">
                        @string.Format("{0:0,0.00}", Model.SecDeptAmt)
                    </td>
                </tr>
                <tr>
                    <td class="td-bg">Due Diligence Report</td>
                    <td class="td-line">
                        @if (Model.UpdDiligRpt != null)
                        {
                            if (Model.UpdDiligRpt != "")
                            {
                        @Html.HiddenFor(x => x.UpdDiligRpt)
                        <span>
                            @*<a href='~/Files/Upload/@Model.UpdDiligRpt' target="_blank">View</a>*@
                            <a href="javascript:void(0);" class="UpdDiligRpt_PopUp" data-id="@Model.UpdDiligRpt">View</a>
                        </span>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td class="td-bg">Reviewed By</td>
                    <td class="td-line">@Convert.ToString(Session["DisplayName"])</td>
                </tr>
            </tbody>
        </table>

        <table class="col-md-5">
            <tbody>
                <tr>
                    <td class="td-bg">Maximum Tenor (Days)</td>
                    <td class="td-line">@Model.Tenor</td>

                </tr>
                <tr>
                    <td class="td-bg">Broker Fee</td>
                    <td class="td-line">
                        @string.Format("{0:0,0.00}", Model.BrokerFee)
                    </td>

                </tr>
                <tr>
                    <td class="td-bg">Arrangement Fee Percentage</td>
                    <td class="td-line">
                        @string.Format("{0:0,0.00}", Model.ArrangFeePer)
                    </td>

                </tr>
                <tr>
                    <td class="td-bg">Arrangement Fee Amount</td>
                    <td class="td-line">
                        @string.Format("{0:0,0.00}", Model.ArrangFeeAmt)
                    </td>

                </tr>
                @*<tr>
                    <td class="td-bg">Other Fees</td>
                    <td class="td-line">
                        @string.Format("{0:0,0.00}", Model.OtherFee)
                    </td>

                </tr>*@
                <tr>
                    <td class="td-bg">Penalty Rate</td>
                    <td class="td-line">
                        @string.Format("{0:0,0.00}", Model.PenaltyRate) %
                    </td>
                </tr>
                <tr>
                    <td class="td-bg">Credit Review Report</td>
                    <td class="td-line">
                        @if (Model.UpdCredRpt != null)
                                {
                                    if (Model.UpdCredRpt != "")
                                    {
                                @Html.HiddenFor(x => x.UpdCredRpt)
                                <span>
                                    @*<a href='~/Files/Upload/@Model.UpdCredRpt' target="_blank">View</a>*@
                                    <a href="javascript:void(0);" class="UpdCredRpt_PopUp" data-id="@Model.UpdCredRpt">View</a>
                                </span>
                                    }
                                }
                    </td>
                </tr>
                <tr>
                    <td class="td-bg">Review Date</td>
                    <td class="td-line">@DateTime.Now.ToString("dd-MMM-yyyy")</td>
                </tr>
            </tbody>
        </table>
    }

    else
    {
        

                <table class="col-md-5">
                    <tbody>
                        <tr>
                            <td class="td-bg">Currency</td>
                            <td class="td-line">@Model.CurrencyCode</td>

                        </tr>
                        <tr>
                            <td class="td-bg">Maximum Tenor (Days)</td>
                            <td class="td-line">@Model.Tenor</td>

                        </tr>
                        <tr>
                            <td class="td-bg">Due Diligence Report</td>
                            <td class="td-line">
                                @if (Model.UpdDiligRpt != null)
                                {
                                    if (Model.UpdDiligRpt != "")
                                    {
                                @Html.HiddenFor(x => x.UpdDiligRpt)
                                <span>
                                    @*<a href='~/Files/Upload/@Model.UpdDiligRpt' target="_blank">View</a>*@
                                    <a href="javascript:void(0);" class="UpdDiligRpt_PopUp" data-id="@Model.UpdDiligRpt">View</a>
                                </span>
                                    }
                                }
                            </td>
                        </tr>

                        <tr>
                            <td class="td-bg">Reviewed By</td>
                            <td class="td-line">@Convert.ToString(Session["DisplayName"])</td>
                        </tr>

                    </tbody>
                </table>
                <table class="col-md-5">
                    <tbody>
                        <tr>
                            <td class="td-bg">Recommended Limit</td>
                            <td class="td-line">
                                @string.Format("{0:0,0.00}", Model.Limit)
                            </td>

                        </tr>
                        <tr>
                            <td class="td-bg">Credit Review Report</td>
                            <td class="td-line">
                                @if (Model.UpdCredRpt != null)
                                {
                                    if (Model.UpdCredRpt != "")
                                    {
                                @Html.HiddenFor(x => x.UpdCredRpt)
                                <span>
                                    @*<a href='~/Files/Upload/@Model.UpdCredRpt' target="_blank">View</a>*@
                                    <a href="javascript:void(0);" class="UpdCredRpt_PopUp" data-id="@Model.UpdCredRpt">View</a>
                                </span>
                                    }
                                }
                            </td>
                        </tr>

                        <tr>
                            <td class="td-bg">Review Date</td>
                            <td class="td-line">@DateTime.Now.ToString("dd-MMM-yyyy")</td>
                        </tr>

                    </tbody>
                </table>
    }
</div>

<style>
    table {
        margin-bottom:0;
         margin-top:0;
        margin-left: 65px;
    }
</style>
<script>
    $(".UpdDiligRpt_PopUp").on("click", function () {
        var url = '/Files/Upload/' + '@Model.UpdDiligRpt' + '#toolbar=0';
        $('#dociframe').attr('src', url)
        $('#DocPopup').modal({ show: true });
    });

    $(".UpdCredRpt_PopUp").on("click", function () {
        var url = '/Files/Upload/' + '@Model.UpdCredRpt' + '#toolbar=0';
        $('#dociframe').attr('src', url)
        $('#DocPopup').modal({ show: true });
    });

</script>