@model IEnumerable<TMP.Models.HTMLTemplate_ListAll_Result>
@using CONT = TMP.Infrastructure.Web.StatusManager.OtherDetail.Constant;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MasterPage/_defaultLayout.cshtml";
}

<div class="col-md-12 div-border padoff">
    <div class="col-md-12" style="height:10px;"></div>
    @if (ViewBag.UserRight.IsMaker == true)
    {
        <form action="~/HTMLTemplate/ViewSample">
            <div class="col-md-12">
                <button name="createnew" type="submit" class="btn-tgs">Create New</button>
            </div>
        </form>
    }
    <div class="col-md-12 table-responsive-grid">
        <table id="example_html_template" class="display" cellspacing="0" width="100%">
            <thead>
                <tr class="bgsp">
                    <th class="tr-filter-value"><p class="p-th-header">Template</p><input type="search" class="dataTables_filter filter-value" data-column="0"></th>
                    <th class="tr-filter-value"><p class="p-th-header">Template Type</p><input type="search" class="dataTables_filter filter-value" data-column="1"></th>
                   <th class="tr-filter-value">
                        <p class="p-th-header">Status</p>
                        <select id="statusFilter" typeof="search" class="form-control dataTables_filter filter-value" data-column="2">
                            <option value="">--Select--</option>
                            @foreach (var item in ViewBag.StatusList)
                            {
                                <option value="@item.StatusUserDesc">@item.StatusUserDesc</option>
                            }
                        </select>
                    </th>
                    <th class="tr-filter-value"><p class="p-th-header">Action</p> <p class="filter-value-not-filtered"></p></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.HtmlName)</td>
                            <td>@Html.DisplayFor(modelItem => item.TemplateType)</td>
                            <td>@Html.DisplayFor(modelItem => item.StatusUserDesc)</td>
                            <td class="editbutton">
                                @if (ViewBag.UserRight.IsMaker == true)
                                {
                                    if (item.Status == CONT.RQ || item.Status == CONT.NM || item.Status == CONT.NA || item.Status == CONT.UA|| item.Status == CONT.UM)
                                    {
                                        @Html.ActionLink("Edit", "ViewSample", new { id = item.HtmlTemplateID, Status = item.Status })
                                    }
                                    else
                                    {
                                        <a href="#" onclick="ViewDetail('@item.HtmlTemplateID')">View</a>
                                    }
                                }

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-10" style="height:10px;"></div>
    <input type="hidden" id="hdnHtmlTempateID" name="hdnHtmlTempateID" />
    <input type="hidden" id="hdnActionName" name="hdnActionName" />
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog " style="width:1100px">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="DivClose" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body scroll" style="height:500px;">
                    <div id='myModalContent'></div>
                </div>
            </div>
        </div>
    </div> 
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $('#example_html_template').DataTable({
            "pageLength": 10, "ordering": false
        });


        $("#btnShowModal").click(function (e) {
            ShowDialog(true);
            e.preventDefault();
        });
        $("#btnClose").click(function (e) {
            HideDialog();
            e.preventDefault();
        });
        
        $('th input.dataTables_filter').on('keyup', function () {
            var columnIndex = $(this).data('column');
            var searchValue = $(this).val();

            $('#example_html_template').DataTable().column(columnIndex).search(searchValue).draw();
        });

        $('th select.dataTables_filter').on('change', function () {
            var columnIndex = $(this).data('column');
            var searchValue = $(this).val();

            $('#example_html_template').DataTable().column(columnIndex).search(searchValue).draw();
        });

    });

    $('.OpenDiv').click(function () {

        var ID = $(this).attr("id");
        var DocumentName = $(this).attr("varname");


        var b = ID.split("_");
        var ActionName = ID.split("_")[0];
        var DocumentID = ID.split("_")[1];
        $("#hdnHtmlTempateID").val(DocumentID);
        $("#hdnActionName").val(ActionName);

        $.ajax({
            url: "/HTMLTemplate/AIDPopup?ActionName=" + ActionName + "&TemplateName=" + DocumentName,
            type: "POST",
            data: "{}",
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            //contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success: function (result) {
                $('#myModalContent').html(result);
                $('#myModal').modal('show');
                // $("#dialog").addClass("popupbox col-md-5");
                //$("#NEW").html(result);

                ShowDialog(true);
                return false;
            },
            error: function () {
                $("#errorMsg").html(Error);
                $('#Error').modal('show');
            }
        });

    });


    function Act_InA_Del() {
        var ProcessRemarks = $("#txtProcessRemarks").val();

        if (ProcessRemarks == "") {
            $("#errorMsg").html("Please Enter Remarks");
            $('#Error').modal('show');
            return false;
        }
        var HtmlTempateID = $("#hdnHtmlTempateID").val();
        var ActionName = $("#hdnActionName").val();

        if (confirm("Are you sure you want to " + ActionName)) {

            $.ajax({
                url: "/HTMLTemplate/Act_InA_Del?ActionName=" + ActionName + "&HtmlTempateID=" + HtmlTempateID + "&ProcessRemarks=" + ProcessRemarks,
                type: "POST",
                data: "{}",
                datatype: "text",
                contentType: "application/text; charset=utf-8",
                success: function (data) {
                    var Value = data.split("$")[0];
                    var msg = data.split("$")[1];
                    if (Value == "0") {
                        $("#errorMsg").html(msg);
                        $('#Error').modal('show');

                    }
                    else if (Value == "1") {
                        $("#errorMsg").html(msg);
                        $('#Error').modal('show');
                        window.location.href = "/HTMLTemplate/index";
                    }
                    else if (Value == "2") {
                        window.location.href = "/mUserMasters/Login";
                    }
                    return false;
                }
            });
        } else {
            return false;
        }


    }

    function ShowDialog(modal) {

        $("#overlay").show();
        $("#dialog").fadeIn(300);
        if (modal) {
            $("#overlay").unbind("click");
        }
        else {
            $("#overlay").click(function (e) {
                HideDialog();
            });
        }
    }
    function HideDialog() {

        $("#overlay").hide();
        $("#dialog").fadeOut(300);
    }

</script>
<style>
    .table-responsive-grid {
        display: grid;
        width: 100% !important;
        overflow: auto;
    }

    .filter-value-not-filtered {
        height: 20px;
    }
</style>