@model  TMP.Models.CustomerBankAccDetail
@{
    ViewBag.Title = "Bank Account Details List";
    Layout = "~/Views/MasterPage/_defaultLayout.cshtml";
}
<div class="col-md-12 div-border-multitab padoff">
    @if (Model.CustomerID > 0)
    {
        @Html.Action("_CustomerDetailMenuPartialPage", "MasterPage", new { CustomerID = Model.CustomerID, _tab = 4 })
    }

    @using (Html.BeginForm("BankAccountDetailsList", "CustomerReg", FormMethod.Post, new { enctype = "multipart/form-data", @class = "col-md-12 padoff CommonValidations", id = "CommonDetails" }))
    {
        if (Enumerable.Count(@ViewBag.BankDetailGrid) > 0)
        {
            <div class="col-md-12  dashboard-title">BANK ACCOUNT DETAILS</div>

            <div class="tab-pane" id="4a">
                <!--tab 4a-->

                <div class="col-md-12 table-responsive-grid">
                    <table id="example" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr class="bgspr">
                                <th class="tr-filter-value"><p class="p-th-header">Account Name</p><input type="search" class="dataTables_filter filter-value" data-column="0"></th>
                                <th class="tr-filter-value"><p class="p-th-header">Currency</p><input type="search" class="dataTables_filter filter-value" data-column="1"></th>
                                <th class="tr-filter-value"><p class="p-th-header">Bank Name</p><input type="search" class="dataTables_filter filter-value" data-column="2"></th>
                                <th class="tr-filter-value"><p class="p-th-header">Account Number</p><input type="search" class="dataTables_filter filter-value" data-column="3"></th>
                                <th class="tr-filter-value"><p class="p-th-header">Address</p><input type="search" class="dataTables_filter filter-value" data-column="4"></th>
                                <th class="tr-filter-value"><p class="p-th-header">IBAN</p><input type="search" class="dataTables_filter filter-value" data-column="5"></th>
                                <th class="tr-filter-value"><p class="p-th-header">Country</p><input type="search" class="dataTables_filter filter-value" data-column="6"></th>
                                <th class="tr-filter-value"><p class="p-th-header">Swift Code</p><input type="search" class="dataTables_filter filter-value" data-column="7"></th>
                                <th class="tr-filter-value"><p class="p-th-header">IFSC Code</p><input type="search" class="dataTables_filter filter-value" data-column="8"></th>
                            </tr>
                        <tbody>
                            @foreach (var item in ViewBag.BankDetailGrid)
                            {
                                foreach (var item1 in ViewBag.BankDetailCheck)
                                {
                                    if (item.CustomerBankAccID == item1.CustomerBankAccID)
                                    {

                                        <tr>

                                            @if (item.AccountName == item1.AccountName)
                                            {
                                                <td>@item.AccountName</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.AccountName">@item.AccountName</td>}
                                            @if (item.CurrencyCode == item1.CurrencyCode)
                                            {
                                                <td>@item.CurrencyCode</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.CurrencyCode">@item.CurrencyCode</td>}
                                            @if (item.BankName == item1.BankName)
                                            {
                                                <td>@item.BankName</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.BankName">@item.BankName</td>}
                                            @if (item.AccountNo == item1.AccountNo)
                                            {
                                                <td>@item.AccountNo</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.AccountNo">@item.AccountNo</td>}
                                            @if (item.Address == item1.Address)
                                            {
                                                <td>@item.Address</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.Address">@item.Address</td>}
                                            @if (item.IBAN == item1.IBAN)
                                            {
                                                <td>@item.IBAN</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.IBAN">@item.IBAN</td>}
                                            @if (item.CountryName == item1.CountryName)
                                            {
                                                <td>@item.CountryName</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.CountryName">@item.CountryName</td>}
                                            @if (item.Swift == item1.Swift)
                                            {
                                                <td>@item.Swift</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.Swift">@item.Swift</td>}
                                            @if (item.IFSC == item1.IFSC)
                                            {
                                                <td>@item.IFSC</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.IFSC">@item.IFSC</td>}
                                        </tr>

                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-md-12" style="height:15px;"></div>
        }
      
        <div class="col-md-12" style="height:15px;"></div>
        <div class="col-md-12" style="text-align:right">
            @Html.HiddenFor(x => x.CustomerID)
            @Html.HiddenFor(x => x.Status)
            <button id="Next" name="Next" value="Next" type="submit" class="btn CommonAttachValidation btn-tgs">Next</button>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        $('#example,#example1').DataTable({
            "pageLength": 5, "ordering": false
        });

        $('th input.dataTables_filter').on('keyup', function () {
            var columnIndex = $(this).data('column');
            var searchValue = $(this).val();

            $('#example').DataTable().column(columnIndex).search(searchValue).draw();
        });

        $('th select.dataTables_filter').on('change', function () {
            var columnIndex = $(this).data('column');
            var searchValue = $(this).val();

            $('#example').DataTable().column(columnIndex).search(searchValue).draw();
        });

    });
    ShareCompany();
</script>
<style>
    .table-responsive-grid {
        display: grid;
        width: 100% !important;
        overflow: auto;
    }

    .filter-value-not-filtered {
        height: 20px;
    }
</style>