@model  TMP.Models.CustomerShareHolderModel
@using CONT = TMP.Infrastructure.Web.StatusManager.OtherDetail.Constant;
@using System.Linq;
@{
    ViewBag.Title = "Shareholders/Directors Details";
    Layout = "~/Views/MasterPage/_defaultLayout.cshtml";
}
<div class="col-md-12 div-border-multitab padoff">
    @if (Model.CustomerID > 0)
    {
        @Html.Action("_CustomerDetailMenuPartialPage", "MasterPage", new { CustomerID = Model.CustomerID, _tab = 3 })
    }

    @using (Html.BeginForm("CommonDetails", "CustomerReg", FormMethod.Post, new { enctype = "multipart/form-data", @class = "col-md-12 padoff CommonValidations", id = "CommonDetails" }))
    {
        if (Enumerable.Count(@ViewBag.DirAuthSignGrid) > 0)
        {
            <div class="col-md-12 createusertitle">DIRECTORS / SIGNATORIES DETAILS</div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="tab-pane" id="4a">
                <!--tab 4a-->
                <div class="col-md-12" style="height:10px;"></div>
                <div class="col-md-12">
                    <table id="example" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr class="bgspr">
                                <th>First Name</th>
                                @*<th>Middle Name</th>
                                    <th>Last Name</th>
                                    <th>Gender</th>*@
                                <th>Country of Residence</th>
                                <th>E-Mail</th>
                                <th>Mobile Number</th>
                                <th>Passport Expiry Date</th>
                                <th>Type</th>
                                <th>View</th>
                            </tr>
                        <tbody>
                            @foreach (var item in ViewBag.DirAuthSignGrid)
                            {
                                foreach (var item1 in ViewBag.DirAuthSignCheck)
                                {
                                    if (item.CustomerShareHoldID == item1.CustomerShareHoldID)
                                    {
                                        <tr>
                                            @if (item.FirstName == item1.FirstName)
                                            {
                                                <td>@item.FirstName</td>
                                            }
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.FirstName">@item.FirstName</td>
                                            }

                                            @*@if (item.MiddleName == item1.MiddleName)
                                                {
                                                    <td>@item.MiddleName</td>}
                                                else
                                                {
                                                    <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.MiddleName">@item.MiddleName</td>}

                                                @if (item.LastName == item1.LastName)
                                                {
                                                    <td>@item.LastName</td>}
                                                else
                                                {
                                                    <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.LastName">@item.LastName</td>}

                                                @if (item.Gender == item1.Gender)
                                                {
                                                    <td>@item.Gender</td>}
                                                else
                                                {
                                                    <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.Gender">@item.Gender</td>}*@


                                            @if (item.LocCountryName == item1.LocCountryName)
                                            {
                                                <td>@item.LocCountryName</td>
                                            }
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.LocCountryName">@item.LocCountryName</td>
                                            }


                                            @if (item.EmailID == item1.EmailID)
                                            {
                                                <td>@item.EmailID</td>
                                            }
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.EmailID">@item.EmailID</td>
                                            }

                                            @if (item.MobileNo == item1.MobileNo)
                                            {
                                                <td>@item.MobileNo</td>
                                            }
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.MobileNo">@item.MobileNo</td>
                                            }

                                            @if (string.Format("{0:dd-MMM-yyyy}", item.PassExpDate) == string.Format("{0:dd-MMM-yyyy}", item1.PassExpDate))
                                            {
                                                if (DateTime.Now.AddDays(CONT.DateExpireDay) > Convert.ToDateTime(item.PassExpDate))
                                                {
                                                    <td class="DateExpireLabel">@(string.Format("{0:dd-MMM-yyyy}", item.PassExpDate))</td>
                                                }
                                                else
                                                {
                                                    <td>@(string.Format("{0:dd-MMM-yyyy}", item.PassExpDate))</td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@(string.Format("{0:dd-MMM-yyyy}", item1.PassExpDate))">@(string.Format("{0:dd-MMM-yyyy}", item.PassExpDate))</td>
                                            }

                                            @if (item.CustTypeDesc == item1.CustTypeDesc)
                                            {
                                                <td>@item.CustTypeDesc</td>
                                            }
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.CustTypeDesc">@item.CustTypeDesc</td>
                                            }
                                            <td>
                                                <span onclick="ViewDetail('@item.CustomerShareHoldID')" class="view-eye-btn">
                                                    <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                         width="20px" height="20px" viewBox="0 0 442.04 442.04" class="eye-svg-position"
                                                         xml:space="preserve">
                                                    <g>
                                                    <g>
                                                    <path d="M221.02,341.304c-49.708,0-103.206-19.44-154.71-56.22C27.808,257.59,4.044,230.351,3.051,229.203
			                                                    c-4.068-4.697-4.068-11.669,0-16.367c0.993-1.146,24.756-28.387,63.259-55.881c51.505-36.777,105.003-56.219,154.71-56.219
			                                                    c49.708,0,103.207,19.441,154.71,56.219c38.502,27.494,62.266,54.734,63.259,55.881c4.068,4.697,4.068,11.669,0,16.367
			                                                    c-0.993,1.146-24.756,28.387-63.259,55.881C324.227,321.863,270.729,341.304,221.02,341.304z M29.638,221.021
			                                                    c9.61,9.799,27.747,27.03,51.694,44.071c32.83,23.361,83.714,51.212,139.688,51.212s106.859-27.851,139.688-51.212
			                                                    c23.944-17.038,42.082-34.271,51.694-44.071c-9.609-9.799-27.747-27.03-51.694-44.071
			                                                    c-32.829-23.362-83.714-51.212-139.688-51.212s-106.858,27.85-139.688,51.212C57.388,193.988,39.25,211.219,29.638,221.021z" />
	                                                    </g>
                                                    <g>
                                                    <path d="M221.02,298.521c-42.734,0-77.5-34.767-77.5-77.5c0-42.733,34.766-77.5,77.5-77.5c18.794,0,36.924,6.814,51.048,19.188
			                                                    c5.193,4.549,5.715,12.446,1.166,17.639c-4.549,5.193-12.447,5.714-17.639,1.166c-9.564-8.379-21.844-12.993-34.576-12.993
			                                                    c-28.949,0-52.5,23.552-52.5,52.5s23.551,52.5,52.5,52.5c28.95,0,52.5-23.552,52.5-52.5c0-6.903,5.597-12.5,12.5-12.5
			                                                    s12.5,5.597,12.5,12.5C298.521,263.754,263.754,298.521,221.02,298.521z" />
	                                                    </g>
                                                    <g>
                                                    <path d="M221.02,246.021c-13.785,0-25-11.215-25-25s11.215-25,25-25c13.786,0,25,11.215,25,25S234.806,246.021,221.02,246.021z" />
	                                                    </g>
                                                    </g>
                                                    </svg>
                                                </span>
                                            </td>

                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-md-12" style="height:15px;"></div>
        }

        if (Model.CompPubList == "N")
        {
            if (Enumerable.Count(@ViewBag.CompSharHoldGrid) > 0 || Enumerable.Count(@ViewBag.SharHoldGrid) > 0)
            {
                <div class="col-md-12 createusertitle">SHAREHOLDERS</div>
                <div class="col-md-12" style="height:10px;"></div>
            }
            if (Enumerable.Count(@ViewBag.SharHoldGrid) > 0)
            {
                <div class="tab-pane" id="4a">
                    <!--tab 4a-->
                    <div class="col-md-12" style="height:10px;"></div>
                    <div class="col-md-12">
                        <table id="example2" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr class="bgspr">
                                    <th>First Name</th>
                                    <th>Middle Name</th>
                                    <th>Last Name</th>
                                    <th>Gender</th>
                                    <th>Country of Residence</th>
                                    <th>Share Percentage</th>
                                    <th>Nationality</th>
                                    <th>Passport Number</th>
                                    <th>Place of Issuance</th>
                                    <th>Issuance Date</th>
                                    <th>Expiry Date</th>
                                    <th>Passport Copy</th>
                                    <th>National ID Copy</th>
                                    <th style="display:none;">
                                    </th>
                                    <th style="display:none;">
                                    </th>
                                    <th style="display:none;">
                                    </th>
                                    <th style="display:none;">
                                    </th>
                                </tr>
                            <tbody>
                                @foreach (var item in ViewBag.SharHoldGrid)
                                {
                                    foreach (var item1 in ViewBag.SharHoldCheck)
                                    {
                                        if (item.CustomerShareHoldID == item1.CustomerShareHoldID)
                                        {
                                            <tr>
                                                @if (item.FirstName == item1.FirstName)
                                                {
                                                    <td>@item.FirstName</td>
                                                }
                                                else
                                                {
                                                    <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.FirstName">@item.FirstName</td>
                                                }

                                                @if (item.MiddleName == item1.MiddleName)
                                                {
                                                    <td>@item.MiddleName</td>
                                                }
                                                else
                                                {
                                                    <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.MiddleName">@item.MiddleName</td>
                                                }

                                                @if (item.LastName == item1.LastName)
                                                {
                                                    <td>@item.LastName</td>
                                                }
                                                else
                                                {
                                                    <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.LastName">@item.LastName</td>
                                                }

                                                @if (item.Gender == item1.Gender)
                                                {
                                                    <td>@item.Gender</td>
                                                }
                                                else
                                                {
                                                    <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.Gender">@item.Gender</td>
                                                }

                                                @if (item.LocCountryName == item1.LocCountryName)
                                                {
                                                    <td>@item.LocCountryName</td>
                                                }
                                                else
                                                {
                                                    <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.LocCountryName">@item.LocCountryName</td>
                                                }



                                                @if (item.SharePer == item1.SharePer)
                                                {
                                                    <td>@string.Format("{0:0,0.00}", item.SharePer) %</td>
                                                }
                                                else
                                                {
                                                    <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@string.Format("{0:0,0.00}", @item1.SharePer)">@string.Format("{0:0,0.00}", @item.SharePer) %</td>
                                                }

                                                @if (item.NatCountryName == item1.NatCountryName)
                                                {
                                                    <td>@item.NatCountryName</td>
                                                }
                                                else
                                                {
                                                    <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.NatCountryName">@item.NatCountryName</td>
                                                }

                                                @if (item.PassNo == item1.PassNo)
                                                {
                                                    <td>@item.PassNo</td>
                                                }
                                                else
                                                {
                                                    <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.PassNo">@item.PassNo</td>
                                                }

                                                @if (item.PassCountryName == item1.PassCountryName)
                                                {
                                                    <td>@item.PassCountryName</td>
                                                }
                                                else
                                                {
                                                    <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.PassCountryName">@item.PassCountryName</td>
                                                }


                                                @if (string.Format("{0:dd-MMM-yyyy}", item.PassIssueDate) == string.Format("{0:dd-MMM-yyyy}", item1.PassIssueDate))
                                                {
                                                    <td>@(string.Format("{0:dd-MMM-yyyy}", item.PassIssueDate))</td>
                                                }
                                                else
                                                {
                                                    <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@(string.Format("{0:dd-MMM-yyyy}", item1.PassIssueDate))">@(string.Format("{0:dd-MMM-yyyy}", item.PassIssueDate))</td>
                                                }


                                                @if (string.Format("{0:dd-MMM-yyyy}", item.PassExpDate) == string.Format("{0:dd-MMM-yyyy}", item1.PassExpDate))
                                                {
                                                    if (DateTime.Now.AddDays(CONT.DateExpireDay) > Convert.ToDateTime(item.PassExpDate))
                                                    {
                                                        <td class="DateExpireLabel">@(string.Format("{0:dd-MMM-yyyy}", item.PassExpDate))</td>
                                                    }
                                                    else
                                                    {
                                                        <td>@(string.Format("{0:dd-MMM-yyyy}", item.PassExpDate))</td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@(string.Format("{0:dd-MMM-yyyy}", item1.PassExpDate))">@(string.Format("{0:dd-MMM-yyyy}", item.PassExpDate))</td>
                                                }


                                                @if (item.UpdPassport == item1.UpdPassport)
                                                {
                                                    <td>
                                                        @if (item.UpdPassport != "")
                                                        {
                                                            <a href="javascript:void(0);" class="UpdPassport_PopUp  view-eye-btn" data-id="@item.UpdPassport">
                                                                <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                     width="20px" height="20px" viewBox="0 0 442.04 442.04" class="eye-svg-position"
                                                                     xml:space="preserve">
                                                                <g>
                                                                <g>
                                                                <path d="M221.02,341.304c-49.708,0-103.206-19.44-154.71-56.22C27.808,257.59,4.044,230.351,3.051,229.203
            c-4.068-4.697-4.068-11.669,0-16.367c0.993-1.146,24.756-28.387,63.259-55.881c51.505-36.777,105.003-56.219,154.71-56.219
            c49.708,0,103.207,19.441,154.71,56.219c38.502,27.494,62.266,54.734,63.259,55.881c4.068,4.697,4.068,11.669,0,16.367
            c-0.993,1.146-24.756,28.387-63.259,55.881C324.227,321.863,270.729,341.304,221.02,341.304z M29.638,221.021
            c9.61,9.799,27.747,27.03,51.694,44.071c32.83,23.361,83.714,51.212,139.688,51.212s106.859-27.851,139.688-51.212
            c23.944-17.038,42.082-34.271,51.694-44.071c-9.609-9.799-27.747-27.03-51.694-44.071
            c-32.829-23.362-83.714-51.212-139.688-51.212s-106.858,27.85-139.688,51.212C57.388,193.988,39.25,211.219,29.638,221.021z" />
    </g>
                                                                <g>
                                                                <path d="M221.02,298.521c-42.734,0-77.5-34.767-77.5-77.5c0-42.733,34.766-77.5,77.5-77.5c18.794,0,36.924,6.814,51.048,19.188
            c5.193,4.549,5.715,12.446,1.166,17.639c-4.549,5.193-12.447,5.714-17.639,1.166c-9.564-8.379-21.844-12.993-34.576-12.993
            c-28.949,0-52.5,23.552-52.5,52.5s23.551,52.5,52.5,52.5c28.95,0,52.5-23.552,52.5-52.5c0-6.903,5.597-12.5,12.5-12.5
            s12.5,5.597,12.5,12.5C298.521,263.754,263.754,298.521,221.02,298.521z" />
    </g>
                                                                <g>
                                                                <path d="M221.02,246.021c-13.785,0-25-11.215-25-25s11.215-25,25-25c13.786,0,25,11.215,25,25S234.806,246.021,221.02,246.021z" />
    </g>
</g>
</svg>
                                                            </a>
                                                        }
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        @if (item.UpdPassport != "")
                                                        {

                                                            <a href="javascript:void(0);" class="UpdPassport_PopUp view-eye-btn" data-id="@item.UpdPassport">
                                                                <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                     width="20px" height="20px" viewBox="0 0 442.04 442.04" class="eye-svg-position"
                                                                     xml:space="preserve">
                                                                <g>
                                                                <g>
                                                                <path d="M221.02,341.304c-49.708,0-103.206-19.44-154.71-56.22C27.808,257.59,4.044,230.351,3.051,229.203
            c-4.068-4.697-4.068-11.669,0-16.367c0.993-1.146,24.756-28.387,63.259-55.881c51.505-36.777,105.003-56.219,154.71-56.219
            c49.708,0,103.207,19.441,154.71,56.219c38.502,27.494,62.266,54.734,63.259,55.881c4.068,4.697,4.068,11.669,0,16.367
            c-0.993,1.146-24.756,28.387-63.259,55.881C324.227,321.863,270.729,341.304,221.02,341.304z M29.638,221.021
            c9.61,9.799,27.747,27.03,51.694,44.071c32.83,23.361,83.714,51.212,139.688,51.212s106.859-27.851,139.688-51.212
            c23.944-17.038,42.082-34.271,51.694-44.071c-9.609-9.799-27.747-27.03-51.694-44.071
            c-32.829-23.362-83.714-51.212-139.688-51.212s-106.858,27.85-139.688,51.212C57.388,193.988,39.25,211.219,29.638,221.021z" />
    </g>
                                                                <g>
                                                                <path d="M221.02,298.521c-42.734,0-77.5-34.767-77.5-77.5c0-42.733,34.766-77.5,77.5-77.5c18.794,0,36.924,6.814,51.048,19.188
            c5.193,4.549,5.715,12.446,1.166,17.639c-4.549,5.193-12.447,5.714-17.639,1.166c-9.564-8.379-21.844-12.993-34.576-12.993
            c-28.949,0-52.5,23.552-52.5,52.5s23.551,52.5,52.5,52.5c28.95,0,52.5-23.552,52.5-52.5c0-6.903,5.597-12.5,12.5-12.5
            s12.5,5.597,12.5,12.5C298.521,263.754,263.754,298.521,221.02,298.521z" />
    </g>
                                                                <g>
                                                                <path d="M221.02,246.021c-13.785,0-25-11.215-25-25s11.215-25,25-25c13.786,0,25,11.215,25,25S234.806,246.021,221.02,246.021z" />
    </g>
</g>
</svg>
                                                            </a>
                                                            if (item.CustomerShareHoldID == item1.CustomerShareHoldID)
                                                            {
                                                                <span>
                                                                    Old Document
                                                                    <a href="javascript:void(0);" class="OldUpdPassport_PopUp view-eye-btn" data-id="@item1.UpdPassport">
                                                                        <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                             width="20px" height="20px" viewBox="0 0 442.04 442.04" class="eye-svg-position"
                                                                             xml:space="preserve">
                                                                        <g>
                                                                        <g>
                                                                        <path d="M221.02,341.304c-49.708,0-103.206-19.44-154.71-56.22C27.808,257.59,4.044,230.351,3.051,229.203
                  c-4.068-4.697-4.068-11.669,0-16.367c0.993-1.146,24.756-28.387,63.259-55.881c51.505-36.777,105.003-56.219,154.71-56.219
                  c49.708,0,103.207,19.441,154.71,56.219c38.502,27.494,62.266,54.734,63.259,55.881c4.068,4.697,4.068,11.669,0,16.367
                  c-0.993,1.146-24.756,28.387-63.259,55.881C324.227,321.863,270.729,341.304,221.02,341.304z M29.638,221.021
                  c9.61,9.799,27.747,27.03,51.694,44.071c32.83,23.361,83.714,51.212,139.688,51.212s106.859-27.851,139.688-51.212
                  c23.944-17.038,42.082-34.271,51.694-44.071c-9.609-9.799-27.747-27.03-51.694-44.071
                  c-32.829-23.362-83.714-51.212-139.688-51.212s-106.858,27.85-139.688,51.212C57.388,193.988,39.25,211.219,29.638,221.021z" />
          </g>
                                                                        <g>
                                                                        <path d="M221.02,298.521c-42.734,0-77.5-34.767-77.5-77.5c0-42.733,34.766-77.5,77.5-77.5c18.794,0,36.924,6.814,51.048,19.188
                  c5.193,4.549,5.715,12.446,1.166,17.639c-4.549,5.193-12.447,5.714-17.639,1.166c-9.564-8.379-21.844-12.993-34.576-12.993
                  c-28.949,0-52.5,23.552-52.5,52.5s23.551,52.5,52.5,52.5c28.95,0,52.5-23.552,52.5-52.5c0-6.903,5.597-12.5,12.5-12.5
                  s12.5,5.597,12.5,12.5C298.521,263.754,263.754,298.521,221.02,298.521z" />
          </g>
                                                                        <g>
                                                                        <path d="M221.02,246.021c-13.785,0-25-11.215-25-25s11.215-25,25-25c13.786,0,25,11.215,25,25S234.806,246.021,221.02,246.021z" />
          </g>
      </g>
      </svg>
                                                                    </a>
                                                                    <br />
                                                                </span>
                                                            }
                                                        }
                                                    </td>
                                                }

                                                @if (item.UpdNatIden == item1.UpdNatIden)
                                                {
                                                    <td>
                                                        @if (item.UpdNatIden != "")
                                                        {
                                                            <a href="javascript:void(0);" class="UpdNatIden_PopUp view-eye-btn" data-id="@item.UpdNatIden">
                                                                <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                     width="20px" height="20px" viewBox="0 0 442.04 442.04" class="eye-svg-position"
                                                                     xml:space="preserve">
                                                                <g>
                                                                <g>
                                                                <path d="M221.02,341.304c-49.708,0-103.206-19.44-154.71-56.22C27.808,257.59,4.044,230.351,3.051,229.203
            c-4.068-4.697-4.068-11.669,0-16.367c0.993-1.146,24.756-28.387,63.259-55.881c51.505-36.777,105.003-56.219,154.71-56.219
            c49.708,0,103.207,19.441,154.71,56.219c38.502,27.494,62.266,54.734,63.259,55.881c4.068,4.697,4.068,11.669,0,16.367
            c-0.993,1.146-24.756,28.387-63.259,55.881C324.227,321.863,270.729,341.304,221.02,341.304z M29.638,221.021
            c9.61,9.799,27.747,27.03,51.694,44.071c32.83,23.361,83.714,51.212,139.688,51.212s106.859-27.851,139.688-51.212
            c23.944-17.038,42.082-34.271,51.694-44.071c-9.609-9.799-27.747-27.03-51.694-44.071
            c-32.829-23.362-83.714-51.212-139.688-51.212s-106.858,27.85-139.688,51.212C57.388,193.988,39.25,211.219,29.638,221.021z" />
    </g>
                                                                <g>
                                                                <path d="M221.02,298.521c-42.734,0-77.5-34.767-77.5-77.5c0-42.733,34.766-77.5,77.5-77.5c18.794,0,36.924,6.814,51.048,19.188
            c5.193,4.549,5.715,12.446,1.166,17.639c-4.549,5.193-12.447,5.714-17.639,1.166c-9.564-8.379-21.844-12.993-34.576-12.993
            c-28.949,0-52.5,23.552-52.5,52.5s23.551,52.5,52.5,52.5c28.95,0,52.5-23.552,52.5-52.5c0-6.903,5.597-12.5,12.5-12.5
            s12.5,5.597,12.5,12.5C298.521,263.754,263.754,298.521,221.02,298.521z" />
    </g>
                                                                <g>
                                                                <path d="M221.02,246.021c-13.785,0-25-11.215-25-25s11.215-25,25-25c13.786,0,25,11.215,25,25S234.806,246.021,221.02,246.021z" />
    </g>
</g>
</svg>
                                                            </a>
                                                        }
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        @if (item.UpdNatIden != "")
                                                        {
                                                            <a href="javascript:void(0);" class="UpdNatIden_PopUp view-eye-btn" data-id="@item.UpdNatIden">
                                                                <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                     width="20px" height="20px" viewBox="0 0 442.04 442.04" class="eye-svg-position"
                                                                     xml:space="preserve">
                                                                <g>
                                                                <g>
                                                                <path d="M221.02,341.304c-49.708,0-103.206-19.44-154.71-56.22C27.808,257.59,4.044,230.351,3.051,229.203
            c-4.068-4.697-4.068-11.669,0-16.367c0.993-1.146,24.756-28.387,63.259-55.881c51.505-36.777,105.003-56.219,154.71-56.219
            c49.708,0,103.207,19.441,154.71,56.219c38.502,27.494,62.266,54.734,63.259,55.881c4.068,4.697,4.068,11.669,0,16.367
            c-0.993,1.146-24.756,28.387-63.259,55.881C324.227,321.863,270.729,341.304,221.02,341.304z M29.638,221.021
            c9.61,9.799,27.747,27.03,51.694,44.071c32.83,23.361,83.714,51.212,139.688,51.212s106.859-27.851,139.688-51.212
            c23.944-17.038,42.082-34.271,51.694-44.071c-9.609-9.799-27.747-27.03-51.694-44.071
            c-32.829-23.362-83.714-51.212-139.688-51.212s-106.858,27.85-139.688,51.212C57.388,193.988,39.25,211.219,29.638,221.021z" />
    </g>
                                                                <g>
                                                                <path d="M221.02,298.521c-42.734,0-77.5-34.767-77.5-77.5c0-42.733,34.766-77.5,77.5-77.5c18.794,0,36.924,6.814,51.048,19.188
            c5.193,4.549,5.715,12.446,1.166,17.639c-4.549,5.193-12.447,5.714-17.639,1.166c-9.564-8.379-21.844-12.993-34.576-12.993
            c-28.949,0-52.5,23.552-52.5,52.5s23.551,52.5,52.5,52.5c28.95,0,52.5-23.552,52.5-52.5c0-6.903,5.597-12.5,12.5-12.5
            s12.5,5.597,12.5,12.5C298.521,263.754,263.754,298.521,221.02,298.521z" />
    </g>
                                                                <g>
                                                                <path d="M221.02,246.021c-13.785,0-25-11.215-25-25s11.215-25,25-25c13.786,0,25,11.215,25,25S234.806,246.021,221.02,246.021z" />
    </g>
</g>
</svg>
                                                            </a>
                                                            if (item.CustomerShareHoldID == item1.CustomerShareHoldID)
                                                            {
                                                                <span>
                                                                    Old Document
                                                                    <a href="javascript:void(0);" class="OldUpdNatIden_PopUp view-eye-btn" data-id="@item1.UpdNatIden">
                                                                        <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                             width="20px" height="20px" viewBox="0 0 442.04 442.04" class="eye-svg-position"
                                                                             xml:space="preserve">
                                                                        <g>
                                                                        <g>
                                                                        <path d="M221.02,341.304c-49.708,0-103.206-19.44-154.71-56.22C27.808,257.59,4.044,230.351,3.051,229.203
            c-4.068-4.697-4.068-11.669,0-16.367c0.993-1.146,24.756-28.387,63.259-55.881c51.505-36.777,105.003-56.219,154.71-56.219
            c49.708,0,103.207,19.441,154.71,56.219c38.502,27.494,62.266,54.734,63.259,55.881c4.068,4.697,4.068,11.669,0,16.367
            c-0.993,1.146-24.756,28.387-63.259,55.881C324.227,321.863,270.729,341.304,221.02,341.304z M29.638,221.021
            c9.61,9.799,27.747,27.03,51.694,44.071c32.83,23.361,83.714,51.212,139.688,51.212s106.859-27.851,139.688-51.212
            c23.944-17.038,42.082-34.271,51.694-44.071c-9.609-9.799-27.747-27.03-51.694-44.071
            c-32.829-23.362-83.714-51.212-139.688-51.212s-106.858,27.85-139.688,51.212C57.388,193.988,39.25,211.219,29.638,221.021z" />
    </g>
                                                                        <g>
                                                                        <path d="M221.02,298.521c-42.734,0-77.5-34.767-77.5-77.5c0-42.733,34.766-77.5,77.5-77.5c18.794,0,36.924,6.814,51.048,19.188
            c5.193,4.549,5.715,12.446,1.166,17.639c-4.549,5.193-12.447,5.714-17.639,1.166c-9.564-8.379-21.844-12.993-34.576-12.993
            c-28.949,0-52.5,23.552-52.5,52.5s23.551,52.5,52.5,52.5c28.95,0,52.5-23.552,52.5-52.5c0-6.903,5.597-12.5,12.5-12.5
            s12.5,5.597,12.5,12.5C298.521,263.754,263.754,298.521,221.02,298.521z" />
    </g>
                                                                        <g>
                                                                        <path d="M221.02,246.021c-13.785,0-25-11.215-25-25s11.215-25,25-25c13.786,0,25,11.215,25,25S234.806,246.021,221.02,246.021z" />
    </g>
</g>
</svg>
                                                                    </a>
                                                                    <br />
                                                                </span>
                                                            }
                                                        }
                                                    </td>
                                                }

                                                <td class="UpdPassport" style="display:none;">
                                                    <span>@item.UpdPassport</span>
                                                </td>
                                                <td class="UpdNatIden" style="display:none;">
                                                    <span>@item.UpdNatIden</span>
                                                </td>
                                                <td class="OldUpdPassport" style="display:none;">
                                                    <span>@item1.UpdPassport</span>
                                                </td>
                                                <td class="OldUpdNatIden" style="display:none;">
                                                    <span>@item1.UpdNatIden</span>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-md-12" style="height:15px;"></div>
            }
            if (Enumerable.Count(@ViewBag.CompSharHoldGrid) > 0)
            {
                <div class="tab-pane" id="4a">
                    <!--tab 4a-->
                    <div class="col-md-12" style="height:10px;"></div>
                    <div class="col-md-12">
                        <table id="example21" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr class="bgspr">
                                    <th>Name of Company</th>
                                    <th>Shareholding Percentage</th>
                                    <th>Trade License Number</th>
                                    <th>Registered Country</th>
                                    <th>Trade License</th>
                                    <th>Beneficial Owner List</th>
                                    <th style="display:none;">
                                    </th>
                                    <th style="display:none;">
                                    </th>
                                    <th style="display:none;">
                                    </th>
                                    <th style="display:none;">
                                    </th>
                                </tr>
                            <tbody>
                                @foreach (var item in ViewBag.CompSharHoldGrid)
                                {
                                    foreach (var item1 in ViewBag.CompSharHoldCheck)
                                    {
                                        if (item.CustomerShareHoldID == item1.CustomerShareHoldID)
                                        {
                                            <tr>
                                                @if (item.CompanyName == item1.CompanyName)
                                                {
                                                    <td>@item.CompanyName</td>
                                                }
                                                else
                                                {
                                                    <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.CompanyName">@item.CompanyName</td>
                                                }


                                                @if (item.SharePer == item1.SharePer)
                                                {
                                                    <td>@string.Format("{0:0,0.00}", item.SharePer) %</td>
                                                }
                                                else
                                                {
                                                    <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@string.Format("{0:0,0.00}", @item1.SharePer)">@string.Format("{0:0,0.00}", @item.SharePer) %</td>
                                                }

                                                @if (item.TradeLicNo == item1.TradeLicNo)
                                                {
                                                    <td>@item.TradeLicNo</td>
                                                }
                                                else
                                                {
                                                    <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.TradeLicNo">@item.TradeLicNo</td>
                                                }

                                                @if (item.NatCountryName == item1.NatCountryName)
                                                {
                                                    <td>@item.NatCountryName</td>
                                                }
                                                else
                                                {
                                                    <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.NatCountryName">@item.NatCountryName</td>
                                                }


                                                @if (item.UpdTradeLic == item1.UpdTradeLic)
                                                {
                                                    <td>
                                                        @if (item.UpdTradeLic != "")
                                                        {
                                                            <a href="javascript:void(0);" class="UpdTradeLic_PopUp view-eye-btn" data-id="@item.UpdTradeLic">
                                                                <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                     width="20px" height="20px" viewBox="0 0 442.04 442.04" class="eye-svg-position"
                                                                     xml:space="preserve">
                                                                <g>
                                                                <g>
                                                                <path d="M221.02,341.304c-49.708,0-103.206-19.44-154.71-56.22C27.808,257.59,4.044,230.351,3.051,229.203
            c-4.068-4.697-4.068-11.669,0-16.367c0.993-1.146,24.756-28.387,63.259-55.881c51.505-36.777,105.003-56.219,154.71-56.219
            c49.708,0,103.207,19.441,154.71,56.219c38.502,27.494,62.266,54.734,63.259,55.881c4.068,4.697,4.068,11.669,0,16.367
            c-0.993,1.146-24.756,28.387-63.259,55.881C324.227,321.863,270.729,341.304,221.02,341.304z M29.638,221.021
            c9.61,9.799,27.747,27.03,51.694,44.071c32.83,23.361,83.714,51.212,139.688,51.212s106.859-27.851,139.688-51.212
            c23.944-17.038,42.082-34.271,51.694-44.071c-9.609-9.799-27.747-27.03-51.694-44.071
            c-32.829-23.362-83.714-51.212-139.688-51.212s-106.858,27.85-139.688,51.212C57.388,193.988,39.25,211.219,29.638,221.021z" />
    </g>
                                                                <g>
                                                                <path d="M221.02,298.521c-42.734,0-77.5-34.767-77.5-77.5c0-42.733,34.766-77.5,77.5-77.5c18.794,0,36.924,6.814,51.048,19.188
            c5.193,4.549,5.715,12.446,1.166,17.639c-4.549,5.193-12.447,5.714-17.639,1.166c-9.564-8.379-21.844-12.993-34.576-12.993
            c-28.949,0-52.5,23.552-52.5,52.5s23.551,52.5,52.5,52.5c28.95,0,52.5-23.552,52.5-52.5c0-6.903,5.597-12.5,12.5-12.5
            s12.5,5.597,12.5,12.5C298.521,263.754,263.754,298.521,221.02,298.521z" />
    </g>
                                                                <g>
                                                                <path d="M221.02,246.021c-13.785,0-25-11.215-25-25s11.215-25,25-25c13.786,0,25,11.215,25,25S234.806,246.021,221.02,246.021z" />
    </g>
</g>
</svg>
                                                            </a>
                                                        }
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        @if (item.UpdTradeLic != "")
                                                        {
                                                            <a href="javascript:void(0);" class="UpdTradeLic_PopUp view-eye-btn" data-id="@item.UpdTradeLic">
                                                                <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                     width="20px" height="20px" viewBox="0 0 442.04 442.04" class="eye-svg-position"
                                                                     xml:space="preserve">
                                                                <g>
                                                                <g>
                                                                <path d="M221.02,341.304c-49.708,0-103.206-19.44-154.71-56.22C27.808,257.59,4.044,230.351,3.051,229.203
            c-4.068-4.697-4.068-11.669,0-16.367c0.993-1.146,24.756-28.387,63.259-55.881c51.505-36.777,105.003-56.219,154.71-56.219
            c49.708,0,103.207,19.441,154.71,56.219c38.502,27.494,62.266,54.734,63.259,55.881c4.068,4.697,4.068,11.669,0,16.367
            c-0.993,1.146-24.756,28.387-63.259,55.881C324.227,321.863,270.729,341.304,221.02,341.304z M29.638,221.021
            c9.61,9.799,27.747,27.03,51.694,44.071c32.83,23.361,83.714,51.212,139.688,51.212s106.859-27.851,139.688-51.212
            c23.944-17.038,42.082-34.271,51.694-44.071c-9.609-9.799-27.747-27.03-51.694-44.071
            c-32.829-23.362-83.714-51.212-139.688-51.212s-106.858,27.85-139.688,51.212C57.388,193.988,39.25,211.219,29.638,221.021z" />
    </g>
                                                                <g>
                                                                <path d="M221.02,298.521c-42.734,0-77.5-34.767-77.5-77.5c0-42.733,34.766-77.5,77.5-77.5c18.794,0,36.924,6.814,51.048,19.188
            c5.193,4.549,5.715,12.446,1.166,17.639c-4.549,5.193-12.447,5.714-17.639,1.166c-9.564-8.379-21.844-12.993-34.576-12.993
            c-28.949,0-52.5,23.552-52.5,52.5s23.551,52.5,52.5,52.5c28.95,0,52.5-23.552,52.5-52.5c0-6.903,5.597-12.5,12.5-12.5
            s12.5,5.597,12.5,12.5C298.521,263.754,263.754,298.521,221.02,298.521z" />
    </g>
                                                                <g>
                                                                <path d="M221.02,246.021c-13.785,0-25-11.215-25-25s11.215-25,25-25c13.786,0,25,11.215,25,25S234.806,246.021,221.02,246.021z" />
    </g>
</g>
</svg>
                                                            </a>
                                                            if (item.CustomerShareHoldID == item1.CustomerShareHoldID)
                                                            {
                                                                <span>
                                                                    Old Document
                                                                    <a href="javascript:void(0);" class="OldUpdTradeLic_PopUp view-eye-btn" data-id="@item1.UpdTradeLic">
                                                                        <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                             width="20px" height="20px" viewBox="0 0 442.04 442.04" class="eye-svg-position"
                                                                             xml:space="preserve">
                                                                        <g>
                                                                        <g>
                                                                        <path d="M221.02,341.304c-49.708,0-103.206-19.44-154.71-56.22C27.808,257.59,4.044,230.351,3.051,229.203
            c-4.068-4.697-4.068-11.669,0-16.367c0.993-1.146,24.756-28.387,63.259-55.881c51.505-36.777,105.003-56.219,154.71-56.219
            c49.708,0,103.207,19.441,154.71,56.219c38.502,27.494,62.266,54.734,63.259,55.881c4.068,4.697,4.068,11.669,0,16.367
            c-0.993,1.146-24.756,28.387-63.259,55.881C324.227,321.863,270.729,341.304,221.02,341.304z M29.638,221.021
            c9.61,9.799,27.747,27.03,51.694,44.071c32.83,23.361,83.714,51.212,139.688,51.212s106.859-27.851,139.688-51.212
            c23.944-17.038,42.082-34.271,51.694-44.071c-9.609-9.799-27.747-27.03-51.694-44.071
            c-32.829-23.362-83.714-51.212-139.688-51.212s-106.858,27.85-139.688,51.212C57.388,193.988,39.25,211.219,29.638,221.021z" />
    </g>
                                                                        <g>
                                                                        <path d="M221.02,298.521c-42.734,0-77.5-34.767-77.5-77.5c0-42.733,34.766-77.5,77.5-77.5c18.794,0,36.924,6.814,51.048,19.188
            c5.193,4.549,5.715,12.446,1.166,17.639c-4.549,5.193-12.447,5.714-17.639,1.166c-9.564-8.379-21.844-12.993-34.576-12.993
            c-28.949,0-52.5,23.552-52.5,52.5s23.551,52.5,52.5,52.5c28.95,0,52.5-23.552,52.5-52.5c0-6.903,5.597-12.5,12.5-12.5
            s12.5,5.597,12.5,12.5C298.521,263.754,263.754,298.521,221.02,298.521z" />
    </g>
                                                                        <g>
                                                                        <path d="M221.02,246.021c-13.785,0-25-11.215-25-25s11.215-25,25-25c13.786,0,25,11.215,25,25S234.806,246.021,221.02,246.021z" />
    </g>
</g>
</svg>
                                                                    </a>
                                                                    <br />
                                                                </span>
                                                            }
                                                        }
                                                    </td>
                                                }

                                                <td>
                                                    @if (item.ChildCnt > 0)
                                                    {
                                                        <a href="javascript:void(0);" class="OpenList view-eye-btn" data-id="@item.CustomerShareHoldID">
                                                            <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                 width="20px" height="20px" viewBox="0 0 442.04 442.04" class="eye-svg-position"
                                                                 xml:space="preserve">
                                                            <g>
                                                            <g>
                                                            <path d="M221.02,341.304c-49.708,0-103.206-19.44-154.71-56.22C27.808,257.59,4.044,230.351,3.051,229.203
            c-4.068-4.697-4.068-11.669,0-16.367c0.993-1.146,24.756-28.387,63.259-55.881c51.505-36.777,105.003-56.219,154.71-56.219
            c49.708,0,103.207,19.441,154.71,56.219c38.502,27.494,62.266,54.734,63.259,55.881c4.068,4.697,4.068,11.669,0,16.367
            c-0.993,1.146-24.756,28.387-63.259,55.881C324.227,321.863,270.729,341.304,221.02,341.304z M29.638,221.021
            c9.61,9.799,27.747,27.03,51.694,44.071c32.83,23.361,83.714,51.212,139.688,51.212s106.859-27.851,139.688-51.212
            c23.944-17.038,42.082-34.271,51.694-44.071c-9.609-9.799-27.747-27.03-51.694-44.071
            c-32.829-23.362-83.714-51.212-139.688-51.212s-106.858,27.85-139.688,51.212C57.388,193.988,39.25,211.219,29.638,221.021z" />
    </g>
                                                            <g>
                                                            <path d="M221.02,298.521c-42.734,0-77.5-34.767-77.5-77.5c0-42.733,34.766-77.5,77.5-77.5c18.794,0,36.924,6.814,51.048,19.188
            c5.193,4.549,5.715,12.446,1.166,17.639c-4.549,5.193-12.447,5.714-17.639,1.166c-9.564-8.379-21.844-12.993-34.576-12.993
            c-28.949,0-52.5,23.552-52.5,52.5s23.551,52.5,52.5,52.5c28.95,0,52.5-23.552,52.5-52.5c0-6.903,5.597-12.5,12.5-12.5
            s12.5,5.597,12.5,12.5C298.521,263.754,263.754,298.521,221.02,298.521z" />
    </g>
                                                            <g>
                                                            <path d="M221.02,246.021c-13.785,0-25-11.215-25-25s11.215-25,25-25c13.786,0,25,11.215,25,25S234.806,246.021,221.02,246.021z" />
    </g>
</g>
</svg>
                                                        </a>
                                                    }
                                                </td>

                                                <td class="CustomerID" style="display:none;">
                                                    <span>@item.CustomerID</span>
                                                </td>
                                                <td class="CustomerShareHoldDetID" style="display:none;">
                                                    <span>@item.CustomerShareHoldID</span>
                                                </td>
                                                <td class="UpdTradeLic" style="display:none;">
                                                    <span>@item.UpdTradeLic</span>
                                                </td>
                                                <td class="OldUpdTradeLic" style="display:none;">
                                                    <span>@item1.UpdTradeLic</span>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-md-12" style="height:15px;"></div>
            }
        }
        <div class="col-md-12" style="text-align:right">
            @Html.HiddenFor(x => x.CustomerID)
            @Html.HiddenFor(x => x.Status)
            <button id="Next" name="Next" value="Next" type="submit" class="btn CommonAttachValidation btn-tgs">Next</button>
        </div>
    }

</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog " style="width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button id="DivClose" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body scroll" style="height:350px;">
                <div id='myModalContent'></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-tgs" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#example,#example1,#example2,#example21').DataTable({
            "pageLength": 5,
        });
    });


    $("#example2").on("click", ".UpdPassport_PopUp", function () {
        var row = $(this).closest("tr");
        var fileName = row.find(".UpdPassport").find("span").html();
        var url = '/Files/Upload/' + fileName + '#toolbar=0';
        $('#dociframe').attr('src', url)
        $('#DocPopup').modal({ show: true });
    });

    $("#example2").on("click", ".UpdNatIden_PopUp", function () {
        var row = $(this).closest("tr");
        var fileName = row.find(".UpdNatIden").find("span").html();
        var url = '/Files/Upload/' + fileName + '#toolbar=0';
        $('#dociframe').attr('src', url)
        $('#DocPopup').modal({ show: true });
    });

    $("#example2").on("click", ".OldUpdPassport_PopUp", function () {
        var row = $(this).closest("tr");
        var fileName = row.find(".OldUpdPassport").find("span").html();
        var url = '/Files/Upload/' + fileName + '#toolbar=0';
        $('#dociframe').attr('src', url)
        $('#DocPopup').modal({ show: true });
    });

    $("#example2").on("click", ".OldUpdNatIden_PopUp", function () {
        var row = $(this).closest("tr");
        var fileName = row.find(".OldUpdNatIden").find("span").html();
        var url = '/Files/Upload/' + fileName + '#toolbar=0';
        $('#dociframe').attr('src', url)
        $('#DocPopup').modal({ show: true });
    });


    $("#example21").on("click", ".UpdTradeLic_PopUp", function () {
        var row = $(this).closest("tr");
        var fileName = row.find(".UpdTradeLic").find("span").html();
        var url = '/Files/Upload/' + fileName + '#toolbar=0';
        $('#dociframe').attr('src', url)
        $('#DocPopup').modal({ show: true });
    });

    $("#example21").on("click", ".OldUpdTradeLic_PopUp", function () {
        var row = $(this).closest("tr");
        var fileName = row.find(".OldUpdTradeLic").find("span").html();
        var url = '/Files/Upload/' + fileName + '#toolbar=0';
        $('#dociframe').attr('src', url)
        $('#DocPopup').modal({ show: true });
    });
    ShareCompany();
    function ViewDetail(id) {
        var CustomerShareHoldID = id;
        $("#processMsg").html("Please wait...");
        $('#process').modal('show');
        $.ajax({
            url: "/CustomerReg/AuthSignDetailsPopUp",
            type: "POST",
            data: "{CustomerShareHoldID:'" + CustomerShareHoldID + "'}",
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('#factoringview').html(result);
                $('#process').modal('hide');
                $('#factoringModal').modal('show');
                return false;
            },
            error: function () {
                $('#process').modal('hide');
                $("#errorMsg").html("error");
                $('#Error').modal('show');
            }
        });
    }
</script>