@model TMP.Models.CustomerInfoModel
@using CONT = TMP.Infrastructure.Web.StatusManager.OtherDetail.Constant;
@{
    ViewBag.Title = "Company More Info";
    Layout = "~/Views/MasterPage/_defaultLayout.cshtml";
    Html.EnableClientValidation(false);
}

<div class="col-md-12 padoff div-border-multitab">
    @if (Model.CustomerID > 0)
    {
        @Html.Action("_CustomerDetailMenuPartialPage", "MasterPage", new { CustomerID = Model.CustomerID, _tab = 2 })
    }
    @using (Html.BeginForm("CompanyMoreInfoDetails", "CustomerReg", FormMethod.Post, new { enctype = "multipart/form-data", @class = "col-md-12 padoff CommonValidations", id = "UMForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="col-md-12 createusertitle">COMPANY INFORMATION</div>
        <div class="col-md-12" style="height:10px;"></div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        if (Model.CustomerTypeID == CONT.SupplierCustomerTypeID)
        {
            <div class="form-group">
                <label class="col-md-2" for="textinput">Select Buyers &nbsp;<span style="color:red;width:50px;"></span></label>
                <div class="col-md-9">
                    @if (ViewBag.MoreCheck.ObligorNames == Model.ObligorNames)
                    {
                        @Html.TextBoxFor(model => model.ObligorNames, new { @class = "form-control" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.ObligorNames, new { @class = "form-control changes-input", title = @ViewBag.MoreCheck.ObligorNames })
                    }
                </div>

            </div>
        }
        <div class="form-group">
            @if (Model.CompanyTypeName != "Other")
            {
                <label class="col-md-2" for="textinput">Type of Company&nbsp;<span style="color:red;width:50px;"></span></label>
                <div class="col-md-3">
                    @if (ViewBag.MoreCheck.CompanyTypeName == Model.CompanyTypeName)
                    {
                        @Html.TextBoxFor(model => model.CompanyTypeName, new { @class = "form-control" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.CompanyTypeName, new { @class = "form-control changes-input", title = @ViewBag.MoreCheck.CompanyTypeName })
                    }
                </div>
            }
            else
            {
                <label class="col-md-2" for="textinput">Other Type of Company&nbsp;<span style="color:red;width:50px;"></span></label>
                <div class="col-md-3">
                    @if (ViewBag.MoreCheck.OtherCompanyType == Model.OtherCompanyType)
                    {
                        @Html.TextBoxFor(model => model.OtherCompanyType, new { @class = "form-control" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.OtherCompanyType, new { @class = "form-control changes-input", title = @ViewBag.MoreCheck.OtherCompanyType })
                    }
                </div>
            }

            <div class="col-md-1"></div>

            <label class="col-md-2" for="textinput">Trade License Number&nbsp;<span style="color:red;width:50px;"></span></label>
            <div class="col-md-3">
                @if (ViewBag.MoreCheck.TradeLicNo == Model.TradeLicNo)
                {
                    @Html.TextBoxFor(model => model.TradeLicNo, new { @class = "form-control" })
                }
                else
                {
                    @Html.TextBoxFor(model => model.TradeLicNo, new { @class = "form-control changes-input", title = @ViewBag.MoreCheck.TradeLicNo })
                }
            </div>
            <div class="col-md-1"></div>

        </div>
        <div class="col-md-12" style="height:10px;"></div>
        <div class="form-group">
            <label class="col-md-2" for="textinput">Place of Incorporation&nbsp;<span style="color:red;width:50px;"></span></label>
            <div class="col-md-3">
                @if (ViewBag.MoreCheck.IncCountryName == Model.IncCountryName)
                {
                    @Html.TextBoxFor(model => model.IncCountryName, new { @class = "form-control" })
                }
                else
                {
                    @Html.TextBoxFor(model => model.IncCountryName, new { @class = "form-control changes-input", title = @ViewBag.MoreCheck.IncCountryName })
                }
            </div>
            <div class="col-md-1"></div>

            <label class="col-md-2" for="textinput">Date of Incorporation&nbsp;<span style="color:red;width:50px;"></span></label>
            <div class="col-md-3">
                @if (ViewBag.MoreCheck.IncDate == Model.IncDate)
                {
                    if (Model.IncDate != Convert.ToDateTime("01-01-1900") && Model.IncDate != Convert.ToDateTime("01-01-0001"))
                    {
                        <input id="IncDate" name="IncDate" type="text" placeholder="" class="form-control" value="@Convert.ToDateTime(Model.IncDate).ToString("dd-MMM-yyyy")">
                    }
                    else
                    {
                        <input id="IncDate" name="IncDate" type="text" placeholder="" class="form-control">
                    }
                }
                else
                {
                    if (Model.IncDate != Convert.ToDateTime("01-01-1900") && Model.IncDate != Convert.ToDateTime("01-01-0001"))
                    {
                        <input id="IncDate" name="IncDate" type="text" class="form-control  changes-input" value="@Convert.ToDateTime(Model.IncDate).ToString("dd-MMM-yyyy")" title="@Convert.ToDateTime(ViewBag.MoreCheck.IncDate).ToString("dd-MMM-yyyy")">
                    }
                }
              
            </div>

            <div class="col-md-1"></div>

        </div>
        <div class="col-md-12" style="height:10px;"></div>
        <div class="form-group">
            <label class="col-md-2" for="textinput">License Expiry Date&nbsp;<span style="color:red;width:50px;"></span></label>
            <div class="col-md-3">
               
                @if (ViewBag.MoreCheck.LicExpDate == Model.LicExpDate)
                {
                    if (Model.LicExpDate != Convert.ToDateTime("01-01-1900") && Model.LicExpDate != Convert.ToDateTime("01-01-0001"))
                    {
                        if (DateTime.Now.AddDays(CONT.DateExpireDay) > Convert.ToDateTime(Model.LicExpDate))
                        {
                            <input id="LicExpDate" name="LicExpDate" type="text" class="form-control  DateExpire" value="@Convert.ToDateTime(Model.LicExpDate).ToString("dd-MMM-yyyy")">
                        }
                        else
                        {
                            <input id="LicExpDate" name="LicExpDate" type="text" class="form-control " value="@Convert.ToDateTime(Model.LicExpDate).ToString("dd-MMM-yyyy")">
                        }
                    }
                    else
                    {
                        <input id="LicExpDate" name="LicExpDate" type="text" class="form-control " autocomplete="off">
                    }
                }
                else
                {
                    if (Model.LicExpDate != Convert.ToDateTime("01-01-1900") && Model.LicExpDate != Convert.ToDateTime("01-01-0001"))
                    {
                        <input id="LicExpDate" name="LicExpDate" type="text" class="form-control  changes-input" value="@Convert.ToDateTime(Model.LicExpDate).ToString("dd-MMM-yyyy")" title="@Convert.ToDateTime(ViewBag.MoreCheck.LicExpDate).ToString("dd-MMM-yyyy")">
                    }
                }
            </div>
            <div class="col-md-1"></div>

            <label class="col-md-2" for="textinput">Trade License Issuing Authority &nbsp;<span style="color:red;width:50px;"></span></label>
            <div class="col-md-3">
                @if (ViewBag.MoreCheck.IssuingAuth == Model.IssuingAuth)
                {
                    @Html.TextBoxFor(model => model.IssuingAuth, new { @class = "form-control" })
                }
                else
                {
                    @Html.TextBoxFor(model => model.IssuingAuth, new { @class = "form-control changes-input", title = @ViewBag.MoreCheck.IssuingAuth })
                }
            </div>
            <div class="col-md-1"></div>

        </div>

        if (Model.CustomerTypeID != CONT.FunderCustomerTypeID)
        {
            <div class="col-md-12" style="height:10px;"></div>
            <div class="form-group" style="padding-bottom:6%;">
                <label class="col-md-2" for="textinput">Brief About Business&nbsp;<span style="color:red;width:50px;"></span></label>
                <div class="col-md-9">
                  
                    @if (ViewBag.MoreCheck.AbtBusiness == Model.AbtBusiness)
                    {
                        @Html.TextAreaFor(model => model.AbtBusiness, new { @class = "form-control ", @style = "height: 45px;" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.AbtBusiness, new { @class = "form-control changes-input", @style = "height: 45px;" , title = @ViewBag.MoreCheck.AbtBusiness })
                    }
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="form-group" style="padding-bottom:6%;">
                <label class="col-md-2" for="textinput">Business Activity&nbsp;<span style="color:red;width:50px;"></span></label>
                <div class="col-md-9">
                    @if (ViewBag.MoreCheck.BusActivity == Model.BusActivity)
                    {
                        @Html.TextAreaFor(model => model.BusActivity, new { @class = "form-control ", @style = "height: 45px;" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.BusActivity, new { @class = "form-control changes-input", @style = "height: 45px;", title = @ViewBag.MoreCheck.BusActivity })
                    }
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">Currency</label>
                <div class="col-md-3">
                    @if (ViewBag.MoreCheck.CurrencyCode == Model.CurrencyCode)
                    {
                        @Html.TextBoxFor(model => model.CurrencyCode, new { @class = "form-control "})
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.CurrencyCode, new { @class = "form-control changes-input", title = @ViewBag.MoreCheck.CurrencyCode })
                    }
                </div>
                <div class="col-md-1"></div>

                <label class="col-md-2" for="textinput">Annual Turnover</label>
                <div class="col-md-3">
                    @if (ViewBag.MoreCheck.AnnTurnOver == Model.AnnTurnOver)
                    {
                        @Html.TextBoxFor(model => model.AnnTurnOver, new { @class = "form-control " })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.AnnTurnOver, new { @class = "form-control changes-input", title = @ViewBag.MoreCheck.AnnTurnOver })
                    }
                </div>
                <div class="col-md-1"></div>

            </div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">Projected Sales Volume</label>
                <div class="col-md-3">
                    @if (ViewBag.MoreCheck.SaleVolume == Model.SaleVolume)
                    {
                        @Html.TextBoxFor(model => model.SaleVolume, new { @class = "form-control " })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.SaleVolume, new { @class = "form-control changes-input", title = @ViewBag.MoreCheck.AnnTurnOver })
                    }
                </div>
                <div class="col-md-1"></div>

                <label class="col-md-2" for="textinput">Net Profit</label>
                <div class="col-md-3">
                    @if (ViewBag.MoreCheck.NetProfit == Model.NetProfit)
                    {
                        @Html.TextBoxFor(model => model.NetProfit, new { @class = "form-control " })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.NetProfit, new { @class = "form-control changes-input", title = @ViewBag.MoreCheck.NetProfit })
                    }
                </div>
                <div class="col-md-1"></div>

            </div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="form-group">
                @if (Model.SaleInvTerms != "Other")
                {
                    <label class="col-md-2" for="textinput">Sales Payable Terms</label>
                    <div class="col-md-3">
                        @if (ViewBag.MoreCheck.SaleInvTerms == Model.SaleInvTerms)
                        {
                            @Html.TextBoxFor(model => model.SaleInvTerms, new { @class = "form-control " })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.SaleInvTerms, new { @class = "form-control changes-input", title = @ViewBag.MoreCheck.SaleInvTerms })
                        }
                    </div>
                }
                else
                {
            <label class="col-md-2" for="textinput">Other Sales Payable Terms</label>
                    <div class="col-md-3">
                        @if (ViewBag.MoreCheck.OtherSaleInvTerms == Model.OtherSaleInvTerms)
                        {
                            @Html.TextBoxFor(model => model.OtherSaleInvTerms, new { @class = "form-control " })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.OtherSaleInvTerms, new { @class = "form-control changes-input", title = @ViewBag.MoreCheck.OtherSaleInvTerms })
                        }
                    </div>
                }


                <div class="col-md-1"></div>
                <label class="col-md-2" for="textinput">Number of Employees</label>
                <div class="col-md-3">
                    @if (ViewBag.MoreCheck.EmpCount == Model.EmpCount)
                    {
                        @Html.TextBoxFor(model => model.EmpCount, new { @class = "form-control " })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.EmpCount, new { @class = "form-control changes-input", title = @ViewBag.MoreCheck.EmpCount })
                    }
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-12" style="height:10px;"></div>
        }
        <div class="container padoff">
            <div class="form-group">
                <div class="col-md-4">
                    <label class="col-md-6" for="textinput">Is the company part of a group?&nbsp;<span style="color:red;width:50px;"></span></label>
                    @if (Model.IsCompGrpPart)
                    {
                        <div class="col-md-6" style="padding-top:10px;">
                            <input type="checkbox" id="cb1" name="cb1" value="cb1" class="chb  disbl-cntrl-cls" checked="checked" /> Yes
                            <input type="checkbox" id="cb2" name="cb2" class="chb  disbl-cntrl-cls" /> No
                        </div>
                    }
                    else
                    {
                        <div class="col-md-6" style="padding-top:10px;">
                            <input type="checkbox" id="cb1" name="cb1" value="cb1" class="chb  disbl-cntrl-cls" /> Yes
                            <input type="checkbox" id="cb2" name="cb2" value="cb2" class="chb  disbl-cntrl-cls" checked="checked" /> No
                        </div>
                    }

                </div>
                <div class="col-md-4">
                    <label class="col-md-4" for="textinput">Name of the group&nbsp;<span style="color:red;width:50px;"></span></label>
                    <div class="col-md-8 group">
                        @if (ViewBag.MoreCheck.GroupName == Model.GroupName)
                        {
                            @Html.TextBoxFor(model => model.GroupName, new { @class = "form-control " })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.GroupName, new { @class = "form-control changes-input", title = @ViewBag.MoreCheck.GroupName })
                        }
                    </div>

                </div>
                <div class="col-md-4">
                    <label class="col-md-4" for="textinput">Group website&nbsp;<span style="color:red;width:50px;"></span></label>
                    <div class="col-md-8 group">
                        @if (ViewBag.MoreCheck.GroupWebsite == Model.GroupWebsite)
                        {
                            @Html.TextBoxFor(model => model.GroupWebsite, new { @class = "form-control " })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.GroupWebsite, new { @class = "form-control changes-input", title = @ViewBag.MoreCheck.GroupWebsite })
                        }
                    </div>

                </div>
            </div>
        </div>

            <div class="container padoff">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-6" for="textinput">Is the company supervised by a financial services regulator?&nbsp;<span style="color:red;width:50px;"></span></label>
                        @if (Model.IsCompFinServ)
                        {
                            <div class="col-md-6" style="padding-top:10px;">
                                <input type="checkbox" id="cb5" name="cb5" value="cb5" class="chb disbl-cntrl-cls" checked="checked" /> Yes
                                <input type="checkbox" id="cb6" name="cb6" class="chb disbl-cntrl-cls" /> No
                            </div>
                        }
                        else
                        {
                            <div class="col-md-6" style="padding-top:10px;">
                                <input type="checkbox" id="cb5" name="cb5" value="cb5" class="chb disbl-cntrl-cls" /> Yes
                                <input type="checkbox" id="cb6" name="cb6" class="chb disbl-cntrl-cls" checked="checked" /> No
                            </div>
                        }
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-4" for="textinput">Regulator Name&nbsp;<span style="color:red;width:50px;"></span></label>
                        <div class="col-md-8 financial">
                            @if (ViewBag.MoreCheck.RegulatorName == Model.RegulatorName)
                            {
                                @Html.TextBoxFor(model => model.RegulatorName, new { @class = "form-control " })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.RegulatorName, new { @class = "form-control changes-input", title = @ViewBag.MoreCheck.RegulatorName })
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="container padoff">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-6" for="textinput">Is the company publicly listed?&nbsp;<span style="color:red;width:50px;"></span></label>
                        @if (Model.IsCompPubList)
                        {
                            <div class="col-md-6" style="padding-top:10px;">
                                <input type="checkbox" id="cb3" name="cb3" value="cb3" class="chb" checked="checked" /> Yes
                                <input type="checkbox" id="cb4" name="cb4" class="chb disbl-cntrl-cls" /> No
                            </div>

                        }
                        else
                        {
                            <div class="col-md-6" style="padding-top:10px;">
                                <input type="checkbox" id="cb3" name="cb3" value="cb3" class="chb" /> Yes
                                <input type="checkbox" id="cb4" name="cb4" class="chb disbl-cntrl-cls" checked="checked" /> No
                            </div>
                        }

                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4" for="textinput">Exchange Name&nbsp;<span style="color:red;width:50px;"></span></label>
                        <div class="col-md-8 publicly">
                           @if (ViewBag.MoreCheck.ExchangeName == Model.ExchangeName)
                           {
                            @Html.TextBoxFor(model => model.ExchangeName, new { @class = "form-control " })
                           }
                           else
                           {
                            @Html.TextBoxFor(model => model.ExchangeName, new { @class = "form-control changes-input", title = @ViewBag.MoreCheck.ExchangeName })
                           }
                        </div>

                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4" for="textinput">Ticker Code&nbsp;<span style="color:red;width:50px;"></span></label>
                        <div class="col-md-8 publicly">
                            @if (ViewBag.MoreCheck.TickerCode == Model.TickerCode)
                            {
                                @Html.TextBoxFor(model => model.TickerCode, new { @class = "form-control " })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.TickerCode, new { @class = "form-control changes-input", title = @ViewBag.MoreCheck.TickerCode })
                            }
                        </div>

                    </div>
                </div>
            </div>

        
        <div class="col-md-12" style="height:10px;"></div>
        <div class="container padoff">
            <div class="form-group">
                <label class="col-md-2" for="textinput">Trade License&nbsp;<span style="color:red;width:50px;"></span></label>
                <div class="col-md-1">
                    @if (Model.UpdTradeLic != null)
                    {
                        if (Model.UpdTradeLic != "")
                        {
                    @Html.HiddenFor(x => x.UpdTradeLic)
                    <p class="p-view">
                        <a href="javascript:void(0);" class="UpdTradeLicPopUp" data-id="@Model.UpdTradeLic">View</a>
                    </p>
                        }
                    }
                </div>
                <label class="col-md-2" for="textinput">Audited Financials&nbsp;<span style="color:red;width:50px;"></span></label>
                <div class="col-md-1">
                    @if (Model.UpdAuditFin != null)
                    {
                        if (Model.UpdAuditFin != "")
                        {
                    @Html.HiddenFor(x => x.UpdAuditFin)
                    <p class="p-view">
                        <a href="javascript:void(0);" class="UpdAuditFinPopUp" data-id="@Model.UpdAuditFin">View</a>
                    </p>
                        }
                    }
                </div>

                @if (Model.CustomerTypeID != CONT.FunderCustomerTypeID)
                {
                <label class="col-md-2" for="textinput">Business Profile&nbsp;<span style="color:red;width:50px;"></span></label>
                <div class="col-md-1">
                    @if (Model.UpdBusProfile != null)
                        {
                            if (Model.UpdBusProfile != "")
                            {
                        @Html.HiddenFor(x => x.UpdBusProfile)
                        <p class="p-view">
                            <a href="javascript:void(0);" class="UpdBusProfilePopUp" data-id="@Model.UpdBusProfile">View</a>
                        </p>
                            }
                        }
                </div>
                <label class="col-md-2" for="textinput">Latest In-house Financials&nbsp;<span style="color:red;width:50px;"></span></label>
                <div class="col-md-1">
                    @if (Model.UpdInHouseFin != null)
                        {
                            if (Model.UpdInHouseFin != "")
                            {
                        @Html.HiddenFor(x => x.UpdInHouseFin)
                        <p class="p-view">
                            <a href="javascript:void(0);" class="UpdInHouseFinPopUp" data-id="@Model.UpdInHouseFin">View</a>
                        </p>
                            }
                        }
                </div>
                }
                else
                {
                <label class="col-md-2"></label>
                <div class="col-md-1"></div>
                <label class="col-md-2"></label>
                <div class="col-md-1"></div>
                }
            </div>
        </div>
        if (Enumerable.Count(@ViewBag.CreditDetailGrid) > 0)
        {
            <div class="col-md-12" style="height:15px;"></div>
            <div class="col-md-12 createusertitle">CREDIT LINE FACILITIES PER BANK</div>

            <div class="tab-pane" id="4a">
                <!--tab 4a-->
                <div class="col-md-12" style="height:10px;"></div>
                <div class="col-md-12">
                    <table id="example1" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr class="bgspr">
                                <th>Bank Name</th>
                                <th>Facility Type</th>
                                <th>Currency</th>
                                <th>Facility Limit</th>
                                <th>Utilization</th>
                            </tr>
                        <tbody>
                            @foreach (var item in ViewBag.CreditDetailGrid)
                            {
                                foreach (var item1 in ViewBag.CreditDetailCheck)
                                {
                                    if (item.CustomerCreditID == item1.CustomerCreditID)
                                    {

                                        <tr>
                                            @if (item.BankName == item1.BankName)
                                            {
                                                <td>@item.BankName</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.BankName">@item.BankName</td>}

                                            @if (item.FacType == item1.FacType)
                                            {
                                                <td>@item.FacType</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.FacType">@item.FacType</td>}
                                            @if (item.CurrencyCode == item1.CurrencyCode)
                                            {
                                                <td>@item.CurrencyCode</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.CurrencyCode">@item.CurrencyCode</td>}

                                            @if (item.FacLimit == item1.FacLimit)
                                            {
                                                <td>@item.CurrencyCode @string.Format("{0:0,0.00}", item.FacLimit)</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@string.Format("{0:0,0.00}", item1.FacLimit)">@item.CurrencyCode @string.Format("{0:0,0.00}", item.FacLimit)</td>}
                                            @if (item.FacUtilize == item1.FacUtilize)
                                            {
                                                <td>@item.CurrencyCode @string.Format("{0:0,0.00}", item.FacUtilize)</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@string.Format("{0:0,0.00}", item1.FacUtilize)">@item.CurrencyCode @string.Format("{0:0,0.00}", item.FacUtilize)</td>}

                                        </tr>

                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        }

        <div class="col-md-12" style="text-align:right">
            @Html.HiddenFor(x => x.CustomerID)
            @Html.HiddenFor(x => x.Status)
            <button id="Next" name="Next" value="Next" type="submit" class="btn CommonAttachValidation btn-tgs">Next</button>
        </div>

    }
</div>

<script>
    $('.form-control').attr('readonly', 'true');
    $("#AnnTurnOver").val(parseFloat($("#AnnTurnOver").val(), 10).toFixed(2));
    $("#SaleVolume").val(parseFloat($("#SaleVolume").val(), 10).toFixed(2));
    $("#NetProfit").val(parseFloat($("#NetProfit").val(), 10).toFixed(2));
    $("input.chb").attr("disabled", true);


    $(document).ready(function () {
        $('#example1').DataTable({
            "pageLength": 5,
        });
    });
   
    $(".UpdTradeLicPopUp").on("click", function () {
        var url = '/Files/Upload/' + '@Model.UpdTradeLic' + '#toolbar=0';
        $('#dociframe').attr('src', url)
        $('#DocPopup').modal({ show: true });
    });

    $(".UpdAuditFinPopUp").on("click", function () {
        var url = '/Files/Upload/' + '@Model.UpdAuditFin' + '#toolbar=0';
        $('#dociframe').attr('src', url)
        $('#DocPopup').modal({ show: true });
    });

    $(".UpdBusProfilePopUp").on("click", function () {
        var url = '/Files/Upload/' + '@Model.UpdBusProfile' + '#toolbar=0';
        $('#dociframe').attr('src', url)
        $('#DocPopup').modal({ show: true });
    });

    $(".UpdInHouseFinPopUp").on("click", function () {
        var url = '/Files/Upload/' + '@Model.UpdInHouseFin' + '#toolbar=0';
        $('#dociframe').attr('src', url)
        $('#DocPopup').modal({ show: true });
    });
</script>

<style>
    .box-form {
        padding-bottom: 10%;
    }

    .box-boder-form {
        padding-bottom: 0px;
        border: 1px dotted #336699;
        height: 165px;
    }
</style>