@model  IEnumerable<TMP.Models.CustomerShareHolderModel>
@if (Model.Count() > 0)
{
    <div class="tab-pane col-md-12" id="4a">
        <!--tab 4a-->
        <div class="col-md-12" style="height:10px;"></div>
        <div class="col-md-12">
            <table id="example3" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr class="bgspr">
                        <th>First Name</th>
                        @*<th>Middle Name</th>
                        <th>Last Name</th>
                        <th>Gender</th>*@
                        <th>Country of Residence</th>
                        <th>Share Percentage</th>
                        <th>Passport Number</th>
                        @*<th>Issuance Date</th>
                        <th>Expiry Date</th>*@
                        <th>Nationality</th>
                        @*<th>Place of Issuance</th>*@
                        <th>Passport Copy</th>
                        <th>National ID Copy</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th style="display:none;"></th>
                        <th style="display:none;"></th>
                        <th style="display:none;"></th>
                    </tr>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.ParentID > 0)
                        {
                            <tr>
                                <td>@item.FirstName</td>
                                @*<td>@item.MiddleName</td>
                                <td>@item.LastName</td>
                                <td>@item.Gender</td>*@
                                <td>@item.LocCountryName</td>
                                <td>@string.Format("{0:0,0.00}", @item.SharePer)&nbsp;%</td>
                                <td>@item.PassNo</td>
                                @*<td>@(string.Format("{0:dd-MMM-yyyy}", item.PassIssueDate))</td>
                                <td>@(string.Format("{0:dd-MMM-yyyy}", item.PassExpDate))</td>*@
                                <td>@item.NatCountryName</td>
                                @*<td>@item.PassCountryName</td>*@
                                <td>
                                    @if (item.UpdPassport != "")
                                    {
                                        @*<a href='~/Files/Upload/@item.UpdPassport' target="_blank">View</a>*@
                                        <a href="javascript:void(0);" class="UpdPassport_PopUp" data-id="@item.UpdPassport">View</a>
                                    }
                                </td>
                                <td>
                                    @if (item.UpdNatIden != "")
                                    {
                                        @*<a href='~/Files/Upload/@item.UpdNatIden' target="_blank">View</a>*@
                                        <a href="javascript:void(0);" class="UpdNatIden_PopUp" data-id="@item.UpdNatIden">View</a>
                                    }
                                </td>
                                <td>
                                    <a href="javascript:void(0);" class="Edit" data-id="@item.CustomerShareHoldID">Edit</a>
                                </td>
                                @*<td>@Html.ActionLink("Edit", "Shareholders", new { CustomerID = item.CustomerID, did = 0, CIid = 0, CCid = item.ParentID, CBid = item.CustomerShareHoldID })</td>*@
                                <td>@Html.ActionLink("Delete", "Shareholders", new { CustomerID = item.CustomerID, did = item.CustomerShareHoldID, CBid = 0, CIid = 0, CCid = 0 })</td>
                                <td class="CustomerShareHoldID" style="display:none;">
                                    <span>@item.CustomerShareHoldID</span>
                                </td>
                                <td class="UpdPassport" style="display:none;">
                                    <span>@item.UpdPassport</span>
                                </td>
                                <td class="UpdNatIden" style="display:none;">
                                    <span>@item.UpdNatIden</span>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>
}

<style>
    .dataTables_filter {
        display: none;
    }
</style>
<script>
    $("#example3").on("click", ".UpdPassport_PopUp", function () {

        var row = $(this).closest("tr");
        var fileName = row.find(".UpdPassport").find("span").html();
        var url = '/Files/Upload/' + fileName + '#toolbar=0';
        $('#dociframe').attr('src', url)
        $('#DocPopup').modal({ show: true });
    });

    $("#example3").on("click", ".UpdNatIden_PopUp", function () {

        var row = $(this).closest("tr");
        var fileName = row.find(".UpdNatIden").find("span").html();
        var url = '/Files/Upload/' + fileName + '#toolbar=0';
        $('#dociframe').attr('src', url)
        $('#DocPopup').modal({ show: true });
    });
</script>