@using CONT = TMP.Infrastructure.Web.StatusManager.OtherDetail.Constant;
@model  TMP.Models.CustomerSupplierModel
@{
    ViewBag.Title = "Supplier Detail List";
    Layout = "~/Views/MasterPage/_defaultLayout.cshtml";
}
<div class="col-md-12 div-border-multitab padoff">
    @if (Model.CustomerID > 0)
    {
        @Html.Action("_CustomerDetailMenuPartialPage", "MasterPage", new { CustomerID = Model.CustomerID, _tab = 5 })
    }

    @using (Html.BeginForm("SupplierDetailList", "CustomerReg", FormMethod.Post, new { enctype = "multipart/form-data", @class = "col-md-12 padoff CommonValidations", id = "CommonDetails" }))
    {
        if (ViewBag.SupplierDetailGrid != null)
        {
           
                <div class="col-md-12 createusertitle">SUPPLIER INFORMATION</div>
            <div class="tab-pane" id="4a">
                <!--tab 4a-->
                <div class="col-md-12" style="height:10px;"></div>
                <div class="col-md-12">
                    <table id="example" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr class="bgspr">
                                <th>Company Name</th>
                                <th>Country of Incorporation</th>
                                <th>Date of Incorporation</th>
                                <th>Telephone Number</th>
                                <th>Mobile Number</th>
                                <th>E-Mail</th>
                                <th>Detail</th>
                                <th style="display:none;">
                                </th>
                                <th style="display:none;">
                                </th>
                            </tr>
                        <tbody>
                            @foreach (var item in ViewBag.SupplierDetailGrid)
                            {
                                foreach (var item1 in ViewBag.SupplierDetailCheck)
                                {
                                    if (item.CustomerSuppID == item1.CustomerSuppID)
                                    {

                                        <tr>
                                            @if (item.CompanyName == item1.CompanyName)
                                            {
                                                <td>@item.CompanyName</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.CompanyName">@item.CompanyName</td>}

                                            @if (item.IncCountryName == item1.IncCountryName)
                                            {
                                                <td>@item.IncCountryName</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.IncCountryName">@item.IncCountryName</td>}
                                            @if (item.IncDate == item1.IncDate)
                                            {
                                                <td>@item.IncDate.ToString("dd-MMM-yyyy")</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.IncDate.ToString("dd-MMM-yyyy")">@item.IncDate.ToString("dd-MMM-yyyy")</td>}

                                            @if (item.TelNo == item1.TelNo)
                                            {
                                                <td>@item.TelNo</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.TelNo">@item.TelNo</td>}
                                            @if (item.MobileNo == item1.MobileNo)
                                            {
                                                <td>@item.MobileNo</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.MobileNo">@item.MobileNo</td>}
                                            @if (item.EmailID == item1.EmailID)
                                            {
                                                <td>@item.EmailID</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.EmailID">@item.EmailID</td>}
                                            <td>
                                               
                                                    <a href="javascript:void(0);" class="OpenList" data-id="@item.CustomerSuppID">View</a>
                                            </td>
                                            <td class="CustomerID" style="display:none;">
                                                <span>@item.CustomerID</span>
                                            </td>
                                            <td class="CustomerSuppID" style="display:none;">
                                                <span>@item.CustomerSuppID</span>
                                            </td>
                                        </tr>

                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        }

        if (ViewBag.BankDetailGrid != null)
        {
                <div class="col-md-12 createusertitle">SUPPLIER BANK ACCOUNT DETAILS</div>
            <div class="tab-pane" id="4a">
                <!--tab 4a-->

                <div class="col-md-12">
                    <table id="example1" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr class="bgspr">
                              
                                <th>Supplier</th>
                                <th>Account Name</th>
                                <th>Currency</th>
                                <th>Bank Name</th>
                                <th>Account Number</th>
                                <th>Address</th>
                                <th>IBAN</th>
                                <th>Country</th>
                                <th>Swift Code</th>
                                <th>IFSC Code</th>
                            </tr>
                        <tbody>
                            @foreach (var item in ViewBag.BankDetailGrid)
                            {
                                foreach (var item1 in ViewBag.BankDetailCheck)
                                {
                                    if (item.CustomerBankAccID == item1.CustomerBankAccID)
                                    {

                                        <tr>
                                            @if (item.SupplierName == item1.SupplierName)
                                            {
                                                <td>@item.SupplierName</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.SupplierName">@item.SupplierName</td>}
                                            @if (item.AccountName == item1.AccountName)
                                            {
                                                <td>@item.AccountName</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.AccountName">@item.AccountName</td>}
                                            @if (item.CurrencyCode == item1.CurrencyCode)
                                            {
                                                <td>@item.CurrencyCode</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.CurrencyCode">@item.CurrencyCode</td>}
                                            @if (item.BankName == item1.BankName)
                                            {
                                                <td>@item.BankName</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.BankName">@item.BankName</td>}
                                            @if (item.AccountNo == item1.AccountNo)
                                            {
                                                <td>@item.AccountNo</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.AccountNo">@item.AccountNo</td>}
                                            @if (item.Address == item1.Address)
                                            {
                                                <td>@item.Address</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.Address">@item.Address</td>}
                                            @if (item.IBAN == item1.IBAN)
                                            {
                                                <td>@item.IBAN</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.IBAN">@item.IBAN</td>}
                                            @if (item.CountryName == item1.CountryName)
                                            {
                                                <td>@item.CountryName</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.CountryName">@item.CountryName</td>}
                                            @if (item.Swift == item1.Swift)
                                            {
                                                <td>@item.Swift</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.Swift">@item.Swift</td>}
                                            @if (item.IFSC == item1.IFSC)
                                            {
                                                <td>@item.IFSC</td>}
                                            else
                                            {
                                                <td style="background-color:#336699" data-toggle="tooltip" data-placement="bottom" title="@item1.IFSC">@item.IFSC</td>}
                                        </tr>

                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-md-12" style="height:15px;"></div>
            <div class="col-md-12" style="text-align:right">
                @Html.HiddenFor(x => x.CustomerID)
                @Html.HiddenFor(x => x.Status)
                @Html.HiddenFor(x => x.CustomerTypeID)
                <button id="Next" name="Next" value="Next" type="submit" class="btn CommonAttachValidation btn-tgs">Next</button>
            </div>
        }


    }
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog " style="width:1100px">
        <div class="modal-content">
            <div class="modal-header">
                <button id="DivClose" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body scroll" style="height:500px;">
                <div id='myModalContent'></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-tgs" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#example,#example1').DataTable({
            "pageLength": 5,
        });
    });
    SupplierPop();

</script>
