@model TMP.Models.UserSignDetailModel
@using CONT = TMP.Infrastructure.Web.StatusManager.OtherDetail.Constant;
@{
    ViewBag.Title = "Registration Agree";
    Layout = "~/Views/MasterPage/_defaultLayout.cshtml";
}
<div class="col-md-1"></div>
<div class="col-md-10 div-border padoff">
    <div class="col-md-12 createusertitle">ACCEPTANCE OF AGREEMENT</div>
    <div class="col-md-12" style="height:10px;"></div>

    @using (Html.BeginForm("ObligorAgreement", "OnlineReg", FormMethod.Post, new { @class = "CommonValidations" }))
    {
        @Html.AntiForgeryToken()
        <div class="col-md-12" style="height:15px;"></div>
        if (Model.ProgramType == CONT.RType || Model.ProgramType == CONT.BothProgramType)
        {

            <div class="container">
                <table class="col-md-5">
                    <tbody>
                        <tr>
                            <td class="td-bg">Currency</td>
                            <td class="td-line">@ViewBag.Detail.CurrencyCode</td>
                        </tr>
                     
                        <tr>
                            <td class="td-bg">Profit Rate</td>
                            <td class="td-line">
                                @string.Format("{0:0,0.00}", ViewBag.Detail.ProfitRate) % p.a
                            </td>
                        </tr>
                        <tr>
                            <td class="td-bg">Transaction Fee Percentage</td>
                            <td class="td-line">
                                @string.Format("{0:0,0.00}", ViewBag.Detail.TranFeePer) %
                            </td>
                        </tr>
                        <tr>
                            <td class="td-bg">Security Deposit Percentage</td>
                            <td class="td-line">
                                @string.Format("{0:0,0.00}", ViewBag.Detail.SecDeptPer) %
                            </td>
                        </tr>
                        <tr>
                            <td class="td-bg">Security Deposit Amount</td>
                            <td class="td-line">
                                @ViewBag.Detail.CurrencyCode @string.Format("{0:0,0.00}", ViewBag.Detail.SecDeptAmt)
                            </td>
                        </tr>
                      
                    </tbody>
                </table>
                <table class="col-md-5">
                    <tbody>
                        <tr>
                            <td class="td-bg">Maximum Tenor (Days)</td>
                            <td class="td-line">@ViewBag.Detail.Tenor</td>

                        </tr>
                       
                        <tr>
                            <td class="td-bg">Arrangement Fee Percentage</td>
                            <td class="td-line">
                                @string.Format("{0:0,0.00}", ViewBag.Detail.ArrangFeePer) %
                            </td>

                        </tr>
                        <tr>
                            <td class="td-bg">Arrangement Fee Amount</td>
                            <td class="td-line">
                                @ViewBag.Detail.CurrencyCode @string.Format("{0:0,0.00}", ViewBag.Detail.ArrangFeeAmt)
                            </td>

                        </tr>
                        @*<tr>
                            <td class="td-bg">Other Fees</td>
                            <td class="td-line">
                                @string.Format("{0:0,0.00}", ViewBag.Detail.OtherFee) %
                            </td>

                        </tr>*@
                        <tr>
                            <td class="td-bg">Penalty Rate</td>
                            <td class="td-line">
                                @string.Format("{0:0,0.00}", ViewBag.Detail.PenaltyRate) %
                            </td>
                        </tr>
                     
                    </tbody>
                </table>
            </div>

            <div class="container" style="padding:15px;">
                <p class="padoff name-msg" style="margin:0;">**As the authorized signatory of the company, please review and sign the following agreement in order to be able to access the Platform for transactions. If there is more than one signatory (joint signatories), then the other signatory also needs to sign the agreement before you can gain access to the transactions. </p>
            </div>
            <div class="col-md-12 createusertitle">CLIENT IDENTIFICATION FORM</div>
            <div class="form-group">
                <div class="col-md-4">
                    <button id="pdf" name="pdf" value="pdf" type="button" class="btn btn-tgs">CLIENT IDENTIFICATION FORM</button>&nbsp;&nbsp;&nbsp;
                </div>

            </div>
            <div class="col-md-12 createusertitle">INDICATIVE TERM SHEET</div>
            <div class="form-group">
                <div class="col-md-4">
                    <button id="btn_Indicative_Term_Sheet" name="btn_Indicative_Term_Sheet" value="btn_Indicative_Term_Sheet" type="button" class="btn btn-tgs">Indicative Term Sheet</button>&nbsp;&nbsp;&nbsp;
                </div>
                <div class="col-md-4">
                    <button id="btn_Master_Murabaha_Agreement" name="btn_Master_Murabaha_Agreement" value="btn_Master_Murabaha_Agreement" type="button" class="btn btn-tgs">Master Murabaha Agreement</button>&nbsp;&nbsp;&nbsp;
                </div>
                <div class="col-md-4">
                    <button id="btn_Agency_Agreement" name="btn_Agency_Agreement" value="btn_Agency_Agreement" type="button" class="btn btn-tgs">Agency Agreement</button>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5" for="textinput">Feedback&nbsp;<span style="color:red;width:50px;">*</span></label>
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.Feedback1, new { @class = "form-control validate[required]", autocomplete = "off" })
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-12" style="text-align:right;padding-top:15px;">
                    @*<button id="btn_RETURN1" name="btn_RETURN1" value="btn_RETURN1" type="submit" class="CommonAttachValidation btn btn-tgs btncls_1">RETURN</button>&nbsp;&nbsp;&nbsp;*@
                    <button id="btn_APPROVE1" name="btn_APPROVE1" value="btn_APPROVE1" type="submit" class="CommonAttachValidation btn btn-tgs btncls_1">APPROVE</button>

                </div>
            </div>

            @Html.HiddenFor(x => x.UserID)
            @Html.HiddenFor(x => x.Status)
            @Html.HiddenFor(x => x.CustomerID)
            @Html.HiddenFor(x => x.ProgramType)
            @Html.HiddenFor(x => x.IsIndiCmplt)
        }
    }

    @if (Model.ProgramType == CONT.RType || Model.ProgramType == CONT.BothProgramType)
    {
        @*<div id="DV_Complated" style="display:none;">
            @using (Html.BeginForm("MuradahaAgreement", "OnlineReg", FormMethod.Post, new { @class = "CommonValidations" }))
            {
               
            <div class="col-md-12 createusertitle">MASTER MURABAHA AGREEMENT</div>
            <div class="form-group">
                <div class="col-md-4">
                    <button id="btn_Master_Murabaha_Agreement" name="btn_Master_Murabaha_Agreement" value="btn_Master_Murabaha_Agreement" type="button" class="btn btn-tgs">Master Murabaha Agreement</button>&nbsp;&nbsp;&nbsp;
                </div>
                <label class="col-md-1" for="textinput">Feedback&nbsp;<span style="color:red;width:50px;">*</span></label>
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.Feedback2, new { @class = "form-control validate[required]", autocomplete = "off" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12" style="text-align:right;">

                    <button id="btn_RETURN2" name="btn_RETURN2" value="btn_RETURN2" type="submit" class="CommonAttachValidation btn btn-tgs btncls_2">RETURN</button>&nbsp;&nbsp;&nbsp;
                    <button id="btn_APPROVE2" name="btn_APPROVE2" value="btn_APPROVE2" type="submit" class="CommonAttachValidation btn btn-tgs btncls_2">APPROVE</button>
                </div>
            </div>
            @Html.HiddenFor(x => x.UserID)
            @Html.HiddenFor(x => x.Status)
            @Html.HiddenFor(x => x.CustomerID)
            @Html.HiddenFor(x => x.ProgramType)
            @Html.HiddenFor(x => x.IsIndiCmplt)
            }

            @using (Html.BeginForm("AgencyAgreement", "OnlineReg", FormMethod.Post, new { @class = "CommonValidations" }))
            {
            <div class="col-md-12 createusertitle">AGENCY AGREEMENT</div>
            <div class="form-group">
                <div class="col-md-4">
                    <button id="btn_Agency_Agreement" name="btn_Agency_Agreement" value="btn_Agency_Agreement" type="button" class="btn btn-tgs">Agency Agreement</button>&nbsp;&nbsp;&nbsp;
                </div>
                <label class="col-md-1" for="textinput">Feedback&nbsp;<span style="color:red;width:50px;">*</span></label>
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.Feedback3, new { @class = "form-control validate[required]", autocomplete = "off" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12" style="text-align:right;">
                    <button id="btn_RETURN3" name="btn_RETURN3" value="btn_RETURN3" type="submit" class="CommonAttachValidation btn btn-tgs btncls_3">RETURN</button>&nbsp;&nbsp;&nbsp;
                    <button id="btn_APPROVE3" name="btn_APPROVE3" value="btn_APPROVE3" type="submit" class="CommonAttachValidation btn btn-tgs btncls_3">APPROVE</button>
                </div>
            </div>
            @Html.HiddenFor(x => x.UserID)
            @Html.HiddenFor(x => x.Status)
            @Html.HiddenFor(x => x.CustomerID)
            @Html.HiddenFor(x => x.ProgramType)
            @Html.HiddenFor(x => x.IsIndiCmplt)
            }
        </div>
        <div class="col-md-12" style="height:15px;"></div>*@
    }
    else
    {
        using (Html.BeginForm("FactoringAgreement", "OnlineReg", FormMethod.Post, new { @class = "CommonValidations" }))
        {
           
            <div class="form-group">
                <div class="col-md-4">
                    <button id="pdf1" name="pdf1" value="pdf1" type="button" class="btn btn-tgs">CLIENT IDENTIFICATION FORM</button>&nbsp;&nbsp;&nbsp;
                </div>
                <div class="col-md-5">
                    <button id="btn_FactoringAgreement" name="btn_FactoringAgreement" value="btn_FactoringAgreement"
                            type="button" class="btn btn-tgs">
                        Master Factoring Solutions Agreement
                    </button>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
         
            <div class="form-group">
                
                <label class="col-md-5" for="textinput">Feedback&nbsp;<span style="color:red;width:50px;">*</span></label>
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.Feedback4, new { @class = "form-control validate[required]", autocomplete = "off" })
                </div>
            </div>
            <div class="form-group" style="padding-top:15px;">
                <div class="col-md-12" style="text-align:right;">
                    @*<button id="btn_RETURN4" name="btn_RETURN4" value="btn_RETURN4" type="submit" class="CommonAttachValidation btn btn-tgs">RETURN</button>&nbsp;&nbsp;&nbsp;*@
                    <button id="btn_APPROVE4" name="btn_APPROVE4" value="btn_APPROVE4" type="submit" class="CommonAttachValidation btn btn-tgs">APPROVE</button>
                </div>

            </div>
            @Html.HiddenFor(x => x.UserID)
            @Html.HiddenFor(x => x.Status)
            @Html.HiddenFor(x => x.CustomerID)
            @Html.HiddenFor(x => x.ProgramType)
            @Html.HiddenFor(x => x.IsIndiCmplt)
        }
    }
    @*@if (Model.ProgramType == CONT.BothProgramType)
    {
        <div id="DV_Complated1" style="display:none;">
            @using (Html.BeginForm("FactoringAgreement", "OnlineReg", FormMethod.Post, new { @class = "CommonValidations" }))
            {
                <div class="col-md-12 createusertitle"> MASTER FACTORING SOLUTIONS AGREEMENT</div>
                <div class="form-group">
                    <div class="form-group">
                        <div class="col-md-5">
                            <button id="btn_FactoringAgreement" name="btn_FactoringAgreement" value="btn_FactoringAgreement"
                                    type="button" class="btn btn-tgs">
                                Master Factoring Solutions Agreement
                            </button>&nbsp;&nbsp;&nbsp;
                        </div>
                        <label class="col-md-1" for="textinput">Feedback&nbsp;<span style="color:red;width:50px;">*</span></label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Feedback4, new { @class = "form-control validate[required]", autocomplete = "off" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12" style="text-align:right;">
                            <button id="btn_RETURN4" name="btn_RETURN4" value="btn_RETURN4" type="submit" class="CommonAttachValidation btn btn-tgs btncls_4">RETURN</button>&nbsp;&nbsp;&nbsp;
                            <button id="btn_APPROVE4" name="btn_APPROVE4" value="btn_APPROVE4" type="submit" class="CommonAttachValidation btn btn-tgs btncls_4">APPROVE</button>
                        </div>

                    </div>
                    @Html.HiddenFor(x => x.UserID)
                    @Html.HiddenFor(x => x.Status)
                    @Html.HiddenFor(x => x.CustomerID)
                    @Html.HiddenFor(x => x.ProgramType)
                    @Html.HiddenFor(x => x.IsIndiCmplt)

                </div>
            }
        </div>
    }*@
    
    <div class="modal fade" id="JointSignMsgModal" role="dialog">
        <div class="modal-dialog " style="width:600px">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <div id='JointSignMsgview'></div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-tgs" id="btnJointSign" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-1"></div>
<script type="text/javascript">
    if ('@Model.ProgramType' == '@CONT.RType') {
        AuthUserAgree();
    }
    if ('@Model.IsIndiCmplt' == 'True') {
        $('#DV_Complated').show();
        $('#DV_Complated1').show();
    }

    if ('@ViewBag.btncls_1' == "False") {
        $(".btncls_1").attr("disabled", "disabled");
        $('#DV_Complated').show();
        $('#DV_Complated1').show();
    }
    if ('@ViewBag.btncls_2' == "False") {
        $(".btncls_2").attr("disabled", "disabled");
    }
    if ('@ViewBag.btncls_3' == "False") {
        $(".btncls_3").attr("disabled", "disabled");
    }

    $("#btnJointSign").on("click", function () {
        document.location = '@Url.Action("CMNDashboard", "Home")';
        return false;
    });
    if ('@ViewBag.ProgramType' == '@CONT.BothProgramType') {
        if ('@ViewBag.btncls_1' == "False" && '@ViewBag.btncls_2' == "False" && '@ViewBag.btncls_3' == "False" && '@ViewBag.btncls_4' == "False") {
            if ('@ViewBag.IsMenuPanelHide' == "True") {
                $("#JointSignMsgModal").modal({
                    backdrop: 'static',
                    keyboard: false
                });
                $('#JointSignMsgview').html("<p>Thank you for signing the agreement(s).</p> <p>Please note that in order for you to start transacting on the  SCF Platform Platform, the other Authorized Signatory also needs to sign the agreement(s).</p>");
                $('#JointSignMsgModal').modal('show');
            }
            else {
                $('#JointSignMsgModal').modal('hide');
                document.location = '@Url.Action("CMNDashboard", "Home")';
            }
        }
    }
    else if ('@ViewBag.intCustTypeID' != '@CONT.BothObligorAndBuyerTypeID' && '@ViewBag.btncls_1' == "False" && '@ViewBag.btncls_2' == "False" && '@ViewBag.btncls_3' == "False") {
        if ('@ViewBag.IsMenuPanelHide' == "True") {
            $("#JointSignMsgModal").modal({
                backdrop: 'static',
                keyboard: false
            });
            $('#JointSignMsgview').html("<p>Thank you for signing the agreement(s).</p> <p>Please note, in order for you to start transacting on the Platform, the other Authorized Signatory also needs to sign the agreement(s).</p>");
            $('#JointSignMsgModal').modal('show');
        }
        else {
            $('#JointSignMsgModal').modal('hide');
            document.location = '@Url.Action("CMNDashboard", "Home")';
        }
    }
    if ('@ViewBag.OnlyObligor' == "1") {
        if ('@ViewBag.IsMenuPanelHide' == "True") {
            $("#JointSignMsgModal").modal({
                backdrop: 'static',
                keyboard: false
            });
            $('#JointSignMsgview').html("<p>Thank you for signing the agreement(s).</p> <p>Please note, in order for you to start transacting on the  Platform, the other Authorized Signatory also needs to sign the agreement(s).</p>");
            $('#JointSignMsgModal').modal('show');
        }
        else {
            $('#JointSignMsgModal').modal('hide');
            document.location = '@Url.Action("CMNDashboard", "Home")';
        }
    }

    $("#btn_Indicative_Term_Sheet").on("click", function () {
        var TempName = '@CONT.ES_Reverse_Factoring_ITS';
        var CustomerID = '@Model.CustomerID';
        CommonAgreementPopUp(TempName, CustomerID);
        return false;
    });

    $("#btn_Master_Murabaha_Agreement").on("click", function () {
        var TempName = '@CONT.ES_Reverse_Factoring_Master_Murabaha_Agreement';
        var CustomerID = '@Model.CustomerID';
        CommonAgreementPopUp(TempName, CustomerID);
        return false;
    });

    $("#btn_Agency_Agreement").on("click", function () {
        var TempName = '@CONT.ES_Agency_Agreement';
        var CustomerID = '@Model.CustomerID';
        CommonAgreementPopUp(TempName, CustomerID);
        return false;
    });


    $("#btn_FactoringAgreement").on("click", function () {
        var TempName = '@CONT.ES_Master_Factoring_Solution_Agreement';
        var CustomerID = '@Model.CustomerID';
        CommonAgreementPopUp(TempName, CustomerID);
        return false;
    });
    $("#pdf").on("click", function () {
        var CustomerID = '@Model.CustomerID';
        CommonDocPDFGene(CustomerID);
        return false;
    });
    $("#pdf1").on("click", function () {
        var CustomerID = '@Model.CustomerID';
        CommonDocPDFGene(CustomerID);
        return false;
    });
</script>
<style>
    table {
        margin-bottom: 2%;
        margin-left: 65px;
    }
</style>