@using CONT = TMP.Infrastructure.Web.StatusManager.OtherDetail.Constant;
@model  IEnumerable<TMP.Models.CustomerMasterModel>
<script src="~/Scripts/canvasjs.min.js"></script>
<div class="col-md-12" style="height:15px;"></div>
@if (Enumerable.Count(@ViewBag.Transt) == 0 && Enumerable.Count(@ViewBag.CustRegi) == 0)
{
    <div class="col-md-12 notras-div">
        <p class="notras-p">WELCOME TO SCF Platform</p>
        <p class="notras-sub-p">The global Supply Chain marketplace for working capital</p>
        <p style="margin-top:25px;">If you have any questions, please call <b style="color:#336699;">800XXXXXX</b> or write to us at <b style="color:#336699">xxxx@xxxx.com</b></p>
    </div>
}

@if (Enumerable.Count(@ViewBag.CustRegi) > 0 && ViewBag.divCust)
{
    <div class="col-md-12 dashboard-titel">ON BOARDING CUSTOMER</div>
    <div class="tab-pane" id="4a">
        <!--tab 4a-->
        <div class="col-md-12">
            <table id="exampleDB1" class="display adminbox-shadow" cellspacing="0" width="100%">
                <thead>
                    <tr class="bgspr">
                        <th>Company Name</th>
                        <th>Company Code</th>
                        <th>Company Type</th>
                        <th>Mobile Number</th>
                        <th>E-Mail</th>
                        @*<th>Registration</th>*@
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    @if (Enumerable.Count(@ViewBag.CustRegi) > 0)
                    {
                    <tbody>
                        @foreach (var item in ViewBag.CustRegi)
                        {
                            <tr>
                                <td>@item.CompanyName</td>
                                <td>@item.CustomerCode</td>
                                <td>@item.CustomerTypeName</td>
                                <td>@item.MobileNo</td>
                                <td>@item.EmailID</td>

                                @*@if (item.IsAdminRegister == 1)
                                {
                                    <td>Internal User</td>
                                }
                                else
                                {
                                    <td>Online User</td>}*@
                                <td>@item.StatusDisplay</td>
                                @if (item.Status == CONT.RQ || item.Status == CONT.ND || item.Status == CONT.NA || item.Status == CONT.UA)
                                {
                                    <td><a class="editbutton" href='@Url.Action("CompanyInfo", "CustomerReg", new { CustomerID = item.CustomerID, currentStatus = item.Status })'>Edit</a></td>
                                }
                                else
                                {
                                    <td><a class="editbutton" href='@Url.Action("CompanyInfoDetails", "CustomerReg", new { CustomerID = item.CustomerID, currentStatus = item.Status })'>View</a></td>
                                }

                            </tr>
                        }

                    </tbody>
                    }
                </table>
            </div>

        </div>
        <hr />
}
<div class="col-md-12" style="height:15px;"></div>
@if (Enumerable.Count(@ViewBag.Transt) > 0)
{
    <div class="col-md-12 dashboard-titel">TRANSACTIONS</div>

    <div class="tab-pane" id="4a">
        <!--tab 4a-->
        <div class="col-md-12" style="display:grid; width:100% !important; overflow:auto;">
            <table id="exampleDB2" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr class="bgspr">
                        <th>Transaction Number<input type="search" class="dataTables_filter" data-column="0" style="direction:ltr !important"></th>
                        <th>Product<input type="search" class="dataTables_filter" data-column="1"></th>
                        <th>Transaction Date<input type="search" class="datepicker dataTables_filter" data-column="2"></th>
                        <th>Currency<input type="search" class="dataTables_filter" data-column="3"></th>
                        <th>Total Amount<input type="search" class="dataTables_filter" data-column="4"></th>
                        <th>Buyer Name<input type="search" class="dataTables_filter" data-column="5"></th>
                        <th>Due Date<input type="search" class="datepicker dataTables_filter " data-column="6"></th>
                        <th>Status<input type="search" class="dataTables_filter" data-column="7"></th>
                        <th>Transaction History</th>
                        <th>Action</th>
                        <th style="display:none;">
                        </th>
                        <th style="display:none;">
                        </th>
                    </tr>
                    @if (Enumerable.Count(@ViewBag.Transt) > 0)
                    {
                    <tbody>
                        @foreach (var item in ViewBag.Transt)
                        {
                            if ((item.IsFoundCC == true && item.IsFoundCC == false && item.IsDispToCD == false) || (item.IsFoundCC == false && item.IsFoundCC == true && item.IsDispToCD == false) ||
                                //(item.IsFoundFD == true && item.IsFoundID == false && item.IsFoundCF == false) || 
                                //(item.IsFoundFD == false && item.IsFoundID == true && item.IsFoundCF == false) ||
                                (item.IsFoundFD == false && item.IsFoundID == false && item.IsFoundCF == true)) { }
                            else
                            {
                                <tr>

                                    <td>@item.TranRefNo</td>
                                    @if (item.ProgramType == CONT.FType)
                                    {
                                        <td>Receivables Finance</td>
                                    }
                                    else
                                    {
                                        <td>Payables Finance</td>
                                    }
                                    <td>@Convert.ToDateTime(item.TranDate).ToString("dd-MMM-yyyy")</td>
                                    <td>@item.CurrencyCode</td>
                                    <td>@item.CurrencyCode @string.Format("{0:0,0.00}", item.TotAmt)</td>
                                    @if (item.ProgramType == CONT.FType)
                                    {
                                        <td>@item.ObligorName</td>
                                    }
                                    else
                                    {
                                        <td>@item.BuyerName</td>
                                    }
                                    <td>@Convert.ToDateTime(item.DueDate).ToString("dd-MMM-yyyy")</td>
                                    <td>@item.StatusUserDesc</td>

                                    <td>
                                        <a href="javascript:void(0);" class="InvoiceCommentHistoryView editbutton" data-id="@item.InvoiceID">View</a>
                                    </td>
                                    @if (ViewBag._currentUser.IsMaker && (item.Status == CONT.SA || item.Status == CONT.BA || item.Status == CONT.IV || item.Status == CONT.IW))
                                    {
                                        <td><a class="editbutton" href='@Url.Action("iSCFMaker", "InvoiceCommon", new { InvoiceID = item.InvoiceID, ProgramType = item.ProgramType })'>Review</a></td>
                                    }
                                    else if (ViewBag._currentUser.IsChecker && (item.Status == CONT.IA || item.Status == CONT.IP || item.Status == CONT.IF || item.Status == CONT.II || item.Status == CONT.RA || item.Status == CONT.RC))
                                    {
                                        if (item.Status == CONT.RA || item.Status == CONT.RC)
                                        {
                                            <td><a href='@Url.Action("iSCFChecker", "InvoiceCommon", new { InvoiceID = item.InvoiceID, ProgramType = item.ProgramType })'>Insure</a></td>
                                        }
                                        else
                                        {
                                            <td><a class="editbutton" href='@Url.Action("iSCFChecker", "InvoiceCommon", new { InvoiceID = item.InvoiceID, ProgramType = item.ProgramType })'>Approve</a></td>
                                        }

                                    }
                                    else if (ViewBag._currentUser.IsChecker && item.IsFoundID == false && (item.Status == CONT.BB || item.Status == CONT.FD || item.Status == CONT.CF))
                                    {
                                        <td><a href='@Url.Action("ProfitAndFees", "InvoiceCommon", new { InvoiceID = item.InvoiceID, ProgramType = item.ProgramType })'>Update Fees</a></td>
                                    }

                                    else if ((ViewBag._currentUser.IsChecker || ViewBag._currentUser.IsMaker) && (item.Status == CONT.RB || item.Status == CONT.OE))
                                    {
                                        <td><a class="editbutton" href='@Url.Action("FunderToiSCF", "InvoiceCommon", new { InvoiceID = item.InvoiceID, ProgramType = item.ProgramType, Status = CONT.RB + "," + CONT.OE })'>Bank Transfer</a></td>
                                    }
                                    else if ((ViewBag._currentUser.IsChecker || ViewBag._currentUser.IsMaker) && (item.Status == CONT.CA))
                                    {
                                        <td><a href='@Url.Action("BuyCommodityConfirmation", "InvoiceCommon", new { InvoiceID = item.InvoiceID, ProgramType = item.ProgramType, Status = CONT.CA })'>Commodity</a></td>
                                    }
                                    @*else if ((ViewBag._currentUser.IsChecker || ViewBag._currentUser.IsMaker) && (item.Status == CONT.SB || item.Status == CONT.FB) && (item.IsDispToCD == false))
                                    {
                                        <td><a href='@Url.Action("SellCommodityConfirmation", "InvoiceCommon", new { InvoiceID = item.InvoiceID, ProgramType = item.ProgramType, Status = CONT.SB + "," + CONT.FB })'>Commodity</a></td>
                                    }
                                    else if ((ViewBag._currentUser.IsChecker || ViewBag._currentUser.IsMaker) && (item.Status == CONT.CC || item.Status == CONT.FB) && (item.IsDispToCD == true))
                                    {
                                        <td><a href='@Url.Action("iSCFToSupplier", "InvoiceCommon", new { InvoiceID = item.InvoiceID, ProgramType = item.ProgramType, Status = CONT.CC + "," + CONT.FB })'>Bank Transfer</a></td>
                                    }*@
                                    else if ((ViewBag._currentUser.IsChecker || ViewBag._currentUser.IsMaker) && (item.Status == CONT.SB || item.Status == CONT.FB) && (item.IsDispToCD == false))
                                    {
                                        <td><a class="editbutton" href='@Url.Action("iSCFToSupplier", "InvoiceCommon", new { InvoiceID = item.InvoiceID, ProgramType = item.ProgramType, Status = CONT.SB + "," + CONT.FB })'>Bank Transfer</a></td>
                                    }
                                    else if ((ViewBag._currentUser.IsChecker || ViewBag._currentUser.IsMaker) && (item.Status == CONT.RD || item.Status == CONT.IE))
                                    {
                                        <td><a class="editbutton" href='@Url.Action("iSCFToFunder", "InvoiceCommon", new { InvoiceID = item.InvoiceID, ProgramType = item.ProgramType, Status = CONT.RD + "," + CONT.IE })'>Bank Transfer</a></td>
                                    }
                                    else if ((ViewBag._currentUser.IsChecker || ViewBag._currentUser.IsMaker) && (item.Status == CONT.CG))
                                    {
                                        <td><a href='@Url.Action("BuyCommodityConfirmation", "InvoiceCommon", new { InvoiceID = item.InvoiceID, ProgramType = item.ProgramType, Status = CONT.CG })'>Commodity</a></td>
                                    }
                                    @*else if ((ViewBag._currentUser.IsChecker || ViewBag._currentUser.IsMaker) && (item.Status == CONT.BB || item.Status == CONT.ID || item.Status == CONT.FD) && (item.IsDispToCH == false))
                                    {
                                        <td><a href='@Url.Action("SellCommodityConfirmation", "InvoiceCommon", new { InvoiceID = item.InvoiceID, ProgramType = item.ProgramType, Status = CONT.BB + "," + CONT.ID + "," + CONT.FD })'>Commodity</a></td>
                                    }
                                    else if ((ViewBag._currentUser.IsChecker || ViewBag._currentUser.IsMaker) && (item.Status == CONT.CF || item.Status == CONT.ID || item.Status == CONT.FD) && (item.IsDispToCH == true))
                                    {
                                        <td><a href='@Url.Action("TIToExpoter", "InvoiceCommon", new { InvoiceID = item.InvoiceID, ProgramType = item.ProgramType, Status = CONT.CF + "," + CONT.ID + "," + CONT.FD })'>Bank Transfer</a></td>
                                    }*@
                                    else if ((ViewBag._currentUser.IsChecker || ViewBag._currentUser.IsMaker) && (item.Status == CONT.BB || item.Status == CONT.ID || item.Status == CONT.FD) && (item.IsDispToCH == false))
                                    {
                                        <td><a class="editbutton" href='@Url.Action("TIToExpoter", "InvoiceCommon", new { InvoiceID = item.InvoiceID, ProgramType = item.ProgramType, Status = CONT.BB + "," + CONT.ID + "," + CONT.FD })'>Bank Transfer</a></td>
                                    }
                                    else
                                    {
                                        <td>
                                            <a href="javascript:void(0);" class="factoringView editbutton" data-id="@item.InvoiceID">View</a>
                                        </td>
                                    }
                                    <td class="InvoiceID" style="display:none;">
                                        <span>@item.InvoiceID</span>
                                    </td>
                                    <td class="ProgramType" style="display:none;">
                                        <span>@item.ProgramType</span>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                    }
                </table>
            </div>
            @if (Enumerable.Count(@ViewBag.Transt) > 5 && ViewBag.divCust)
            {
                <div class="col-md-12" style="text-align:right">
                    <button id="viewall1" name="viewall1" value="viewall1" class="btn btn-tgs">VIEW ALL</button>&nbsp;&nbsp;
                </div>
            }
        </div>

        <hr />
}
<div class="col-md-12" style="height:15px;"></div>
@*@if (Enumerable.Count(@ViewBag.reminder) > 0 && ViewBag.divCust)
{
    <div class="container tab-pane" id="4a">
        <div class="col-md-1"></div>
        <div class="col-md-2 reminder-div">
            <div class="thumbnail noBorder" style="background-color:transparent;padding-top:15px;">
                <img src="~/images/notification.png" style="width:25%;" />
            </div>
            <div class="reminder-div-notification">NOTIFICATIONS</div>
            @if (Enumerable.Count(@ViewBag.reminder) > 3 && ViewBag.divCust)
                {
                <div class="col-md-12">
                    <button id="viewall3" name="viewall3" value="viewall3" class="btn btn-tgs reminder-div-btn">VIEW ALL</button>&nbsp;&nbsp;
                </div>
            }
        </div>
        <div class="col-md-8 padoff">
            @Html.Action("_ReminderAlert", "Home")
        </div>
        <div class="col-md-1"></div>
    </div>
    <hr />
}
else if (ViewBag.divCust)
{
    <div class="container tab-pane" id="4a">
        <div class="col-md-4"></div>
        <div class="col-md-4 reminder-div" style="height:inherit;">
            <div class="thumbnail noBorder" style="background-color:transparent;padding-top:15px;">
                <img src="~/images/notification.png" style="width:15%;" />
            </div>
            <div class="reminder-div-notification" style="font-size:15px;padding-bottom:15px;">NO ALERTS</div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <hr />
}*@
<div class="col-md-12" style="height:15px;"></div>
@if (Enumerable.Count(@ViewBag.Pending) > 0 && ViewBag.divCust)
{
    <div class="col-md-12 dashboard-titel">PORTFOLIO</div>

    <div class="tab-pane" id="4a">
        <div class="col-md-12">
            <table id="exampleDB3" cellspacing="0" width="100%">
                <thead>

                    <tr class="bgspr">
                        <th>Transaction Number</th>
                        <th>Product</th>
                        <th>Transaction Date</th>
                        <th>Currency</th>
                        <th>Total Amount</th>
                        <th>Buyer Name</th>
                        @*<th>No. of Invoices</th>*@
                        <th>Due Date</th>
                        @*<th>Upload Type</th>*@
                        <th>Status</th>
                        <th>Transaction History</th>
                        <th style="display:none;">
                        </th>
                        <th style="display:none;">
                        </th>
                    </tr>


                </thead>
                @if (Enumerable.Count(@ViewBag.Pending) > 0)
                {
                    <tbody>
                        @foreach (var item in ViewBag.Pending)
                    {
                            <tr>
                                @if (item.IsAction)
                                {
                                    <td><a href='@Url.Action("Settlement", "InvoiceCommon", new { InvoiceID = item.InvoiceID, ProgramType = item.ProgramType, IndexStatus = item.Status, SettlementType = "Pending" })'>@item.TranRefNo</a></td>
                                }
                                else if (ViewBag._currentUser.IsMaker && (item.Status == CONT.SA || item.Status == CONT.BA))
                                {
                                    <td><a href='@Url.Action("iSCFMaker", "InvoiceCommon", new { InvoiceID = item.InvoiceID, ProgramType = item.ProgramType })'>@item.TranRefNo</a></td>
                                }
                                else if (ViewBag._currentUser.IsChecker && (item.Status == CONT.IA || item.Status == CONT.RA || item.Status == CONT.IP || item.Status == CONT.IF || item.Status == CONT.II || item.Status == CONT.RC || item.Status == CONT.BB))
                                {
                                    <td><a href='@Url.Action("iSCFChecker", "InvoiceCommon", new { InvoiceID = item.InvoiceID, ProgramType = item.ProgramType })'>@item.TranRefNo</a></td>
                                }
                                else if (ViewBag._currentUser.IsChecker && item.IsFoundID == false && (item.Status == CONT.BB || item.Status == CONT.FD || item.Status == CONT.CF))
                                {
                                    <td><a href='@Url.Action("ProfitAndFees", "InvoiceCommon", new { InvoiceID = item.InvoiceID, ProgramType = item.ProgramType })'>@item.TranRefNo</a></td>
                                }
                                else
                                {
                                    <td>
                                        <a href="javascript:void(0);" class="factoringView" data-id="@item.InvoiceID">@item.TranRefNo</a>
                                    </td>
                                }

                                @if (item.ProgramType == CONT.FType)
                        {
                                    <td>Receivables Finance</td>
                                }
                                else
                                {
                                    <td>Payables Finance</td>
                                }
                                <td>@Convert.ToDateTime(item.TranDate).ToString("dd-MMM-yyyy")</td>
                                <td>@item.CurrencyCode</td>
                                <td>@item.CurrencyCode @string.Format("{0:0,0.00}", item.TotAmt)</td>
                                @if (item.ProgramType == CONT.FType)
                        {
                                    <td>@item.ObligorName</td>
                                }
                                else
                                {
                                    <td>@item.BuyerName</td>
                                }
                                @*<td>@item.InvCnt</td>*@
                                <td>@Convert.ToDateTime(item.DueDate).ToString("dd-MMM-yyyy")</td>
                                @*<td>@item.UploadType</td>*@
                                @if (item.IsAction)
                        {
                                    <td style="color:red !important">@item.StatusUserDesc</td>
                                }
                                else
                                {
                                    <td>@item.StatusUserDesc</td>
                                }

                                <td>
                                    <a href="javascript:void(0);" class="InvoiceCommentHistoryView editbutton" data-id="@item.InvoiceID">View</a>
                                </td>
                                <td class="InvoiceID" style="display:none;">
                                    <span>@item.InvoiceID</span>
                                </td>
                                <td class="ProgramType" style="display:none;">
                                    <span>@item.ProgramType</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
        @if (Enumerable.Count(@ViewBag.Pending) > 5 && ViewBag.divCust)
        {
            <div class="col-md-12" style="text-align:right">
                <button id="viewall2" name="viewall2" value="viewall2" class="btn btn-tgs">VIEW ALL</button>&nbsp;&nbsp;
            </div>
        }
    </div>
    <hr />
}


@if (ViewBag.divCust)
{
    <div class="col-md-12" style="height:15px;"></div>

    <div class="container">
        @if (Enumerable.Count(ViewBag.CurrencyID) == 0)
                {
            <div class="col-md-8 thumbnail noBorder">
                <img src="~/images/portflio-background.png" />
            </div>
        }
        else
        {
            <div id="DV_Currency" style="display:none;">
                <div class="form-group">
                    <div class="col-md-5"></div>
                    <div class="col-md-3">@Html.DropDownList("CurrencyID", null, "-- Select --", new { @class = "form-control validate[required]" })</div>
                    <div class="col-md-4"></div>
                </div>
            </div>
            <div class="col-md-8">
                <div id="chartCustomerPortFolio" style="height:250px; width: 100%;"></div>
            </div>
        }
        <div class="col-md-4" style="border-left:1px solid #e6e7e9">
            <div class="col-md-6 fntAlign">
                <p class="HdrFntApply">FUNDERS</p>
                <p class="ValFntApply">@ViewBag.TotFunder</p>
                <p class="vwFntApply"><a href='@Url.Action("MakerIndex", "CustomerReg", new { CustomerTypeId = CONT.FunderCustomerTypeID })'>View</a></p>
            </div>
            <div class="col-md-6 fntAlign">
                <p class="HdrFntApply">BUYERS</p>
                <p class="ValFntApply">@ViewBag.TotObligor</p>
                <p class="vwFntApply"><a href='@Url.Action("MakerIndex", "CustomerReg", new { CustomerTypeId = CONT.ObligorCustomerTypeID })'>View</a></p>
            </div>
            <div class="col-md-6 fntAlign">
                <p class="HdrFntApply">SUPPLIERS</p>
                <p class="ValFntApply">@ViewBag.TotSupplier</p>
                <p class="vwFntApply"><a href='@Url.Action("MakerIndex", "CustomerReg", new { CustomerTypeId = CONT.SupplierCustomerTypeID })'>View</a></p>
            </div>
            <div class="col-md-6 fntAlign">
                <p class="HdrFntApply">INSURANCE</p>
                <p class="ValFntApply">@ViewBag.TotInsurance</p>
                <p class="vwFntApply"><a href='@Url.Action("Index", "InsuranceProvider", new { })'>View</a></p>
            </div>
        </div>
    </div>
}
<script>
    $("#viewall1").click(function () {
        document.location = '@Url.Action("Transactions", "Home")';
        return false;
    });
    $("#viewall2").click(function () {
        document.location = '@Url.Action("Portfolio", "Home")';
        return false;
    });
    $("#viewall3").click(function () {
        document.location = '@Url.Action("DocumentReminder", "Home")';
        return false;
    });
    $(document).ready(function () {
        var CurrencyID = $("#CurrencyID").val();
        if (CurrencyID != "") {
            BindData(CurrencyID);
        }
    });

    $("#CurrencyID").on("change", function () {
        var CurrencyID = $(this).val();
        BindData(CurrencyID);
    });


    function BindData(CurrencyID) {
        $.getJSON("/Home/GetCustomerPortFolio?CurrencyID=" + CurrencyID, function (data) {
            var dataPoints = [];
            for (var i = 0; i < data.length; i++) {
                $("#DV_Currency").show();
                Amt = parseFloat(data[i].Amt, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString();
                dataPoints.push({ y: data[i].Amt, label: data[i].Program, legendText: data[i].Program, x: Amt, markerSize: 50 });
            }
            CanvasJS.addColorSet("ColorSet",
               ["#3ea8f4", "#90cdf9", "#7bc844", "#c1e5a8"]);

            var chart = new CanvasJS.Chart("chartCustomerPortFolio", {
                colorSet: "ColorSet",
                animationEnabled: true,
                legend: {
                    cursor: "pointer",
                    horizontalAlign: "right",
                    verticalAlign: "center",
                    fontSize: 13,
                    fontColor: "#58595b",
                    fontWeight: "lighter",
                    fontFamily: "Open Sans, sans-serif",
                    itemclick: explodePie
                },
                toolTip: {
                    fontColor: "#58595b",
                    fontFamily: "Open Sans, sans-serif",
                    fontSize: 12
                },
                data: [{
                    legendMarkerType: "square",
                    indexLabelPlacement: "outside",
                    type: "pie",
                    //markerSize: 100,
                    startAngle: 100,
                    showInLegend: true,
                    indexLabelFontFamily: "Open Sans, sans-serif",
                    indexLabelFontSize: 12,
                    indexLabel: "{label} - {x}",
                    indexLabelFontFamily: "Open Sans, sans-serif",
                    indexLabelFontColor: "#58595b",
                    dataPoints: dataPoints,
                    toolTipContent: "{label}: <strong>{x}</strong>",
                }]
            });
            chart.render();
        });
    }

    function explodePie(e) {
        if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
        } else {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
        }
        e.chart.render();
    }
    $(document).ready(function () {
       
        $('.datepicker').datepicker({
            dateFormat: 'dd',
            yearRange: '1900:c',
            changeYear: true,
            changeMonth: true,
            onSelect: function (dateText, inst) {
                var columnIndex = $(this).data('column');
                dateFilter(columnIndex, dateText);
            }
        });

        
        $('th input.dataTables_filter').on('keyup', function () {
            var columnIndex = $(this).data('column');
            var searchValue = $(this).val().trim();

            
            if (columnIndex === 2 || columnIndex === 6) {
                dateFilter(columnIndex, searchValue);
                return;
            }

            
            $('#exampleDB2').DataTable().column(columnIndex).search(searchValue).draw();
        });

        
        function dateFilter(columnIndex, searchValue) {
            $('#exampleDB2').DataTable().column(columnIndex).search(searchValue).draw();
        }

    });
</script>

<style>
    .canvasjs-chart-credit {
        display: none;
    }

    .fntAlign {
        text-align: center;
        height: 135px;
        border: 10px solid;
        border-color: white;
        background-color: #ffd400;
    }

    .HdrFntApply {
        font-size: 20px;
        text-align: center;
        padding-top: 20px;
    }

    .ValFntApply {
        font-size: 25px;
        text-align: center;
        font-weight: bold;
    }

    .vwFntApply {
        font-size: 15px;
        text-align: center;
    }

    p {
        margin: 0px 0 0px;
    }
    .editbutton {
        background-image: linear-gradient(132.93deg, #ffd400 9.89%, #f5f1dd 89.62%);
        color: #000 !important;
        padding: 5px 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-decoration: none !important;
        display: block;
    }
        .editbutton:hover {
            background-image: linear-gradient(132.93deg, #3f444a 9.89%, #979797 89.62%);
            color: #fff !important;
            text-decoration: none !important;
        }
    .adminbox-shadow {
        box-shadow: 0px 1px 5px -2x #3f444a;
    }
    input {
        direction: rtl;
    }
</style>
