@using CONT = TMP.Infrastructure.Web.StatusManager.OtherDetail.Constant;
@model  IEnumerable<TMP.Models.InvoiceTransactionModel>
@{
    ViewBag.Title = "Transaction";
    Layout = "~/Views/MasterPage/_defaultLayout.cshtml";
}
<div class="col-md-12 div-border-multitab padoff">
    @*<div class="col-md-12 dashboard-titel">PORTFOLIO</div>*@

    @if (Convert.ToInt32(Session["onlineCustomerTypeID"]) == CONT.SupplierCustomerTypeID)
    {
        @Html.Action("_SupplierPortfolio", "Home")
    }
    else if (Convert.ToInt32(Session["onlineCustomerTypeID"]) == CONT.ObligorCustomerTypeID)
    {
        @Html.Action("_ObligorPortfolio", "Home")
    }
    else if (Convert.ToInt32(Session["onlineCustomerTypeID"]) == CONT.FunderCustomerTypeID)
    {
        @Html.Action("_FunderPortfolio", "Home")
    }
    else if ((Convert.ToInt32(Session["onlineCustomerTypeID"]) == CONT.InsuranceProviderTypeID) || (Convert.ToInt32(Session["onlineCustomerTypeID"]) == CONT.InsuranceBrokerTypeID))
    {
        @Html.Action("_InsurancePortfolio", "Home")
    }
    else if (Convert.ToInt32(Session["onlineCustomerTypeID"]) == CONT.BuyerCustomerTypeID)
    {
        @Html.Action("_BuyerPortfolio", "Home")
    }
    else if (Convert.ToInt32(Session["onlineCustomerTypeID"]) == CONT.BothObligorAndBuyerTypeID)
    {
        @Html.Action("_BothPortfolio", "Home")
    }
    else if (Convert.ToInt32(Session["onlineCustomerTypeID"]) == CONT.ServiceProviderCustomerTypeID)
    {
        @Html.Action("_AdminPortFolio", "Home")
    }
</div>
<script>
    $(document).ready(function () {
        $('#exampleDB2,#exampleDB3').DataTable({
            "pageLength": 10, "ordering": false
        });
    });
</script>
<style>
    table.dataTable th.dt-center, table.dataTable td.dt-center, table.dataTable td.dataTables_empty {
        text-align: center !important;
        height: 10px;
    }

    .reminder-div {
        margin-top: 46px;
    }

    

    #exampleDB2_filter {
        display: none;
    }
</style>
