@model TMP.Models.DocumentMaster_ListAll_Result
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MasterPage/_defaultLayout.cshtml";
}
<!-- main container -->
<div class="col-md-12 div-border padoff">
    <div class="col-md-12 createusertitle">

        Document Details

    </div>
    @if (ViewBag.ErrorMsg != null)
    {
        <span class="text-danger"> @ViewBag.ErrorMsg</span>
    }
    <div class="col-md-12" style="height:5px;"> </div>
    <div class="container">
        @using (Html.BeginForm("Detailsapprove", "mDocumentMasters", FormMethod.Post, new { @class = "col-md-12", @id = "DMCForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.DocumentID)
            @Html.HiddenFor(model => model.DocumentProcessHistoryID)
            @Html.HiddenFor(model => model.Status)

            <div class="form-group">
                <label class="col-md-2" for="textinput">Document Name</label>
                <div class="col-md-7">
                    @Html.DisplayFor(model => model.DocumentName)
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2" for="textinput">Document Description</label>
                <div class="col-md-7">
                    @Html.DisplayFor(model => model.DocumentDesc)
                </div>
            </div>

                <div class="col-md-12" style="height:10px;"></div>
                <div class="form-group">
                    <label class="col-md-2" for="textinput">Admin Document</label>
                    <div class="col-md-7">
                        @Html.DisplayFor(model => model.IsUserDoc)
                    </div>
                </div>

                <div class="col-md-12" style="height:10px;"></div>
                <div class="form-group">
                    <label class="col-md-2" for="textinput">Company Document</label>
                    <div class="col-md-7">
                        @Html.DisplayFor(model => model.IsInvestor)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-4 scroll">
                        <table border="1">
                            <tr>
                                <th class="col-md-1 ">
                                    Select
                                </th>
                                <th class="col-md-3 ">
                                    Document for
                                </th>
                            </tr>

                            @foreach (var item in ViewBag.lstCustomerTypeList)
                            {
                                <tr>
                                    <td class="col-md-1 listtext">
                                        @{
                                            bool Found = false;
                                            foreach (var item1 in ViewBag.lstCustomerTypeIDList)
                                            {
                                                if (item.CustomerTypeID == item1.CustomerTypeID)
                                                {
                                                    Found = true;
                                                    if (item1.IsActive == true)
                                                    {
                                                        <input type="checkbox" id="chkBox[]" name="chkBox[]" class="checkbox" value="@item.CustomerTypeID" checked="checked" disabled="disabled" />
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" id="chkBox[]" name="chkBox[]" class="checkbox" value="@item.CustomerTypeID" readonly="readonly" disabled="disabled" />
                                                    }
                                                    break;
                                                }
                                            }
                                            if (Found == false)
                                            {
                                                <input type="checkbox" id="chkBox[]" name="chkBox[]" class="checkbox" value="@item.CustomerTypeID" readonly="readonly" disabled="disabled" />
                                            }
                                        }
                                    </td>
                                    <td class="col-md-3 listtext">
                                        @item.CustomerTypeName
                                    </td>
                                </tr>
                                            }
                        </table>

                    </div>
                    <div class="col-md-6"></div>
                </div>
                <div class="col-md-12" style="height:10px;"></div>


                                            }
    </div>


</div>
<style>
    .scroll {
        height: 100px;
    }
</style>
<script type="text/javascript">
    $("#amend").on("click", function () {
        $("#DMCForm").validationEngine('attach', {
            promptPosition: "bottomLeft",
            scroll: false,
            autoHidePrompt: true,
            autoHideDelay: 3500,
            fadeDuration: 0.3,
            focusFirstField: false,
            MaxErrorsPerField: 1
        });

    });

    $("#approve").on("click", function () {
        $("#DMCForm").validationEngine('detach');
    });
</script>
