@model TMP.Models.DocumentMaster_ListAll_Result

    @{
        ViewBag.Title = "View";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Process</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Document Master</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.DocumentProcessHistoryID)
            @Html.HiddenFor(model => model.DocumentID)
            <div class="form-group">
                @Html.LabelFor(model => model.ProcessRemark, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProcessRemark, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProcessRemark, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>
                <label>
                    @Html.RadioButtonFor(Model => Model.IsActive, "Approved") <span> Checked  </span>
                </label>
                <label>
                    @Html.RadioButtonFor(Model => Model.IsActive, "Reject") <span> Amendment Required </span>
                </label>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" />
                    <input type="submit" value="Cancel" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

