@model  IEnumerable<TMP.Models.CustomerBankAccDetail>
@if (Model.Count() > 0)
{
<div class="tab-pane" id="4a">   
    <div class="col-md-12" style="height:10px;"></div>
    <div class="col-md-12">
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr class="bgspr">
                    <th>Currency</th>
                    <th>Account Name</th>                    
                    <th>Bank Name</th>
                    <th>Address</th>
                    <th>Account Number</th>                    
                    <th>IBAN</th>
                    <th>Country</th>
                    <th>Swift Code</th>
                    <th>IFSC Code</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CurrencyCode</td>
                        <td>@item.AccountName</td>                        
                        <td>@item.BankName</td>
                        <td>@item.Address</td>
                        <td>@item.AccountNo</td>                        
                        <td>@item.IBAN</td>
                        <td>@item.CountryName</td>
                        <td>@item.Swift</td>
                        <td>@item.IFSC</td>
                        <td>@Html.ActionLink("Edit", "BankAccountDetails", new { CustomerID = item.CustomerID, Cbid = item.CustomerBankAccID, did = 0, status = item.Status })</td>
                        <td>@Html.ActionLink("Delete", "BankAccountDetails", new { CustomerID = item.CustomerID, did = item.CustomerBankAccID, Cbid = 0, status = item.Status })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
}
<script>
    $(document).ready(function () {
        $('#example').DataTable({
        });
     });
</script>

<style>
    .dataTables_filter {
        display: none;
    }

</style>

