@model IEnumerable<TMP.Models.InvoiceTransactionModel>
@using CONT = TMP.Infrastructure.Web.StatusManager.OtherDetail.Constant;
@{
    ViewBag.Title = "Admin To Supplier";
    Layout = "~/Views/MasterPage/_defaultLayout.cshtml";
}

<div class="col-md-12 div-border padoff">
    @using (Html.BeginForm("iSCFToSupplier", "InvoiceCommon", FormMethod.Post, new { @class = "col-md-12 padoff CommonValidations" }))
    {
        <div class="col-md-12  dashboard-title">BANK CONFIRMATION Admin TO SUPPLIER</div>
        <div class="col-md-12" style="height:10px;"></div>
        <input type="hidden" name="ProgramType" id="ProgramType" value="@ViewBag.ProgramType">
        <input type="hidden" name="Status" id="Status" value="@ViewBag.Status">
        <div class="col-md-12 table-responsive-grid">
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr class="bgum">
                        <th class="tr-filter-value"><p class="p-th-header">Select</p> <p class="filter-value-not-filtered"></p></th>
                        <th class="tr-filter-value"><p class="p-th-header">Transaction Number</p><input type="search" class="dataTables_filter filter-value" data-column="1"></th>
                        <th class="tr-filter-value">
                            <p class="p-th-header">Currency</p>
                            <select id="currencyFilter" typeof="search" class="form-control dataTables_filter filter-value" data-column="2">
                                <option value="">--Select--</option>
                                <!-- Populate options dynamically from your model or controller -->
                                @foreach (var item in ViewBag.CurrencyList)
                                {
                                    <option value="@item.CurrencyCode">@item.CurrencyCode</option>
                                }
                            </select>
                        </th>
                        <th class="tr-filter-value"><p class="p-th-header">Total Amount</p><input type="search" class="dataTables_filter filter-value" data-column="3"></th>
                        @if (ViewBag.ProgramType == CONT.FType)
                        {
                            <th class="tr-filter-value"><p class="p-th-header">Buyer Name</p><input type="search" class="dataTables_filter filter-value" data-column="4"></th>
                        }
                        else
                        {
                            <th class="tr-filter-value"><p class="p-th-header">Supplier Name</p><input type="search" class="dataTables_filter filter-value" data-column="4"></th>
                        }
                    <th class="tr-filter-value"><p class="p-th-header">Reference Number</p> <p class="filter-value-not-filtered"></p></th>
                    <th class="tr-filter-value"><p class="p-th-header">Transaction Date</p>  <p class="filter-value-not-filtered"></p></th>
                    <th class="tr-filter-value"><p class="p-th-header">Charge Amount</p> <p class="filter-value-not-filtered"></p></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            //if (item.IsDispToCD == true)
                            //{
                            <tr>                                
                                <td><input type="checkbox" id="chk_@item.InvoiceID" name="chk_@item.InvoiceID" class="DisableItem" /></td>
                                <td>@item.TranRefNo</td>
                                <td>@item.CurrencyCode</td>
                                <td>@item.CurrencyCode @string.Format("{0:0,0.00}", item.TotAmt)</td>
                                @if (ViewBag.ProgramType == CONT.FType)
                                {
                                    <td>@item.ObligorName</td>
                                }
                                else
                                {
                                    <td>@item.ExporterName</td>
                                }
                                <td><input type="text" id="RefNo_@item.InvoiceID" name="RefNo_@item.InvoiceID" class="validate[required] DisableItem" autocomplete = "off" /></td>
                                <td><input type="text" id="TranDate_@item.InvoiceID" name="TranDate_@item.InvoiceID" class="formattedCalenderinc validate[required] DisableItem" autocomplete = "off" /></td>
                                <td><input type="text" id="ChargeAmt_@item.InvoiceID" name="ChargeAmt_@item.InvoiceID" class="num validate[required] DisableItem" autocomplete = "off" /></td>
                            </tr>
                            //}
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="col-md-12" style="height:10px;"></div>
       
        <div class="form-group">
            <div class="col-md-12" style="text-align:right;">
                <button id="Back" name="Back" value="Back" type="submit" class="btn btn-tgs">Cancel</button>&nbsp;&nbsp;&nbsp;
                @if (Model.Count() > 0)
                {
                <button id="btnSubmit" name="btnSubmit" value="submit" type="submit" class="btn CommonAttachValidation btn-tgs">Submit</button>
                }
            </div>
        </div>
        
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(document).ready(function () {

        $('#example').DataTable({
            "pageLength": 10, "ordering": false
        });

        $(".DisableItem").each(function () {
            var ID = $(this).attr("id");
            var value = $(this).val();
            var InvID = ID.split('_')[1];
            $("#RefNo_" + InvID).attr("disabled", "disabled");
            $("#TranDate_" + InvID).attr("disabled", "disabled");
            $("#ChargeAmt_" + InvID).attr("disabled", "disabled");
            $("#btnSubmit").attr("disabled", "disabled");
            $("#chk_" + InvID).prop("checked", false);
        });
    });

    $(".DisableItem").on("change", function () {
        var ID = $(this).attr("id");
        var value = $(this).val();
        var InvID = ID.split('_')[1];
        if ($("#chk_" + InvID).is(':checked')) {
            $("#RefNo_" + InvID).removeAttr("disabled", "disabled");
            $("#TranDate_" + InvID).removeAttr("disabled", "disabled");
            $("#ChargeAmt_" + InvID).removeAttr("disabled", "disabled");
            $("#btnSubmit").removeAttr("disabled", "disabled");
            $("#chk_" + InvID).prop("checked", true);
        }
        else {
            $("#RefNo_" + InvID).attr("disabled", "disabled");
            $("#TranDate_" + InvID).attr("disabled", "disabled");
            $("#ChargeAmt_" + InvID).attr("disabled", "disabled");
            $("#btnSubmit").attr("disabled", "disabled");
            $("#chk_" + InvID).prop("checked", false);
        }
    });
    $(document).ready(function () {

        $('th input.dataTables_filter').on('keyup', function () {
            var columnIndex = $(this).data('column');
            var searchValue = $(this).val();

            $('#example').DataTable().column(columnIndex).search(searchValue).draw();
        });

        $('th select.dataTables_filter').on('change', function () {
            var columnIndex = $(this).data('column');
            var searchValue = $(this).val();

            $('#example').DataTable().column(columnIndex).search(searchValue).draw();
        });

    });

</script>
<style>
    .table-responsive-grid {
        display: grid;
        width: 100% !important;
        overflow: auto;
    }
    .filter-value-not-filtered {
        height: 20px;
    }
</style>

