@model TMP.Models.InvoiceTransactionModel
@using CONT = TMP.Infrastructure.Web.StatusManager.OtherDetail.Constant;

<div class="col-md-12" style="text-align:center;background-color:transparent; padding-top:50px;">

    <button id="AccSumm" name="AccSumm" value="AccSumm" type="submit" class="btn btn-tgs" style="margin-right:25px;">ACCOUNT SUMMARY</button>
    @if (Model._currentUser == CONT.mSupplier_Maker || Model._currentUser == CONT.mBuyer_Maker)
    {
        <button id="UplInvoi" name="UplInvoi" value="UplInvoi" type="submit" class="btn btn-tgs" style="margin-right:25px;">PAYABLE UPLOAD</button>
        <button id="BulkUplInvoi" name="BulkUplInvoi" value="BulkUplInvoi" type="submit" class="btn btn-tgs" style="margin-right:25px;">BULK PAYABLE UPLOAD</button>
    }
    else if (Model._currentUser == CONT.mFunder_Checker)
    {
        <button id="funDash" name="funDash" value="funDash" type="submit" class="btn btn-tgs" style="margin-right:25px;">DASHBOARD</button>
        if (Model.ProgramType == CONT.FType)
        {
            <button id="funObl" name="funObl" value="funObl" type="submit" class="btn btn-tgs" style="margin-right:25px;">BUYER</button>
            <button id="funSupp" name="funSupp" value="funSupp" type="submit" class="btn btn-tgs" style="margin-right:25px;">SUPLLIER</button>
        }
        else
        {
            <button id="funBuyer" name="funBuyer" value="funBuyer" type="submit" class="btn btn-tgs" style="margin-right:25px;">BUYER</button>
        }
    }
    else if (Model._currentUser == CONT.mInsurance_Maker || Model._currentUser == CONT.mInsurance_Checker)
    {
        if (Model.ProgramType == CONT.FType)
        {
            <button id="funObl" name="funObl" value="funObl" type="submit" class="btn btn-tgs" style="margin-right:25px;">BUYER</button>
        }
        else
        {
            <button id="funBuyer" name="funBuyer" value="funBuyer" type="submit" class="btn btn-tgs" style="margin-right:25px;">BUYER</button>
        }
    }
    @if (Model._currentUser == CONT.mFunder_Checker)
    {
        <button id="funderTraSumm" name="funderTraSumm" value="funderTraSumm" type="submit" class="btn btn-tgs">TRANSACTION SUMMARY</button>
    }
    else
    {
        <button id="TraSumm" name="TraSumm" value="TraSumm" type="submit" class="btn btn-tgs">TRANSACTION SUMMARY</button>
    }
    @if (Model._currentUser == CONT.mObligor_Maker)
    {
        <button id="btnOblBulkUpld" name="btnOblBulkUpld" value="btnOblBulkUpld" type="submit" class="btn btn-tgs" style="margin-right:33px; margin-left:22px;">BULK PAYABLE UPLOAD</button>
    }    
</div>
<script>
    $("#TraSumm").click(function () {
        $("#4a").css("display", "block");
    });
    $("#AccSumm").click(function () {
        $("#4a").css("display", "none");
    });

    
    $("#BulkUplInvoi").click(function () {
        document.location = '@Url.Action("BulkInvoiceUpload", "InvoiceCommon", new { ProgramType= Model.ProgramType})';
        return false;
    });
    $("#UplInvoi").click(function () {
        document.location = '@Url.Action("UploadInvoice", "Factoring",new { ProgramType= Model.ProgramType})';
        return false;
    });
    $("#funDash").click(function () {
        document.location = '@Url.Action("FunderDashboard", "Factoring", new { ProgramType = Model.ProgramType })';
        return false;
    });
    $("#funObl").click(function () {
        document.location = '@Url.Action("FundingPartnerObligors", "Factoring", new { ProgramType = Model.ProgramType })';
        return false;
    });
    $("#funSupp").click(function () {
        document.location = '@Url.Action("FundingPartnerSuppliers", "Factoring", new { ProgramType = Model.ProgramType })';
        return false;
    });
    $("#funderTraSumm").click(function () {
        document.location = '@Url.Action("FunderIndex", "Factoring", new { ProgramType = Model.ProgramType })';
        return false;
    });
    $("#funBuyer").click(function () {
        document.location = '@Url.Action("FundingPartnerBuyer", "Factoring", new { ProgramType = Model.ProgramType })';
        return false;
    });

    $("#btnOblBulkUpld").click(function () {
        document.location = '@Url.Action("BulkInvoiceUpload", "InvoiceCommon", new { ProgramType= Model.ProgramType})';
        return false;
    });
</script>