@model TMP.Models.UserMaster_ListAll_Result
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/MasterPage/_defaultLayout.cshtml";
}
<div class="col-md-1"></div>
<div class="col-md-10 div-border padoff">

    <div class="col-sm-12 createusertitle">
        <div style="font-size:14px;">CHANGE PASSWORD<span style="float:right;"><a class="" href="/mUserMasters/Login">Login</a></span></div>
      
    </div>
    <div class="col-sm-12" style="height:5px;"></div>
    @using (Html.BeginForm("ChangePasswordExpDate", "mUserMasters", FormMethod.Post, new { @class = "col-sm-12", id = "UMCPOForm" }))
            {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.UserID)
        @Html.HiddenFor(m => m.LoginName)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <fieldset>
            <div class="col-md-12" style="height:10px;"></div>
            <input id="hidUserID" name="hidUserID" type="hidden" value="@Model.UserID" />
            <div class="form-group">
                <label class="col-md-3" for="textinput">Current Password</label>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control validate[required]" } })
                    @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="col-md-12" style="height:10px;"></div>

            <div class="form-group">
                <label class="col-md-3" for="textinput">New Password</label>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control validate[required]", maxlength = "50" } })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-5" style="padding-top:10px;">
                    <span id="ReqChar" style="color:red;">Required character </span>
                    <span id="CharCount" name="CharCount" style="color:red;">[6]</span>-
                    <span id="Saz" style="color:red;">[a-z]</span>-
                    <span id="CAZ" style="color:red;">[A-Z]</span>-
                    <span id="Number" style="color:red;">[0-9]</span>-
                    <span id="Spchar" style="color:red;">[!@@#$%^&*]</span>
                </div>

            </div>

            <div class="col-md-12" style="height:10px;"></div>

            <div class="form-group">
                <label class="col-md-3" for="textinput">Confirm New Password</label>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control validate[required]", maxlength = "50" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-12" style="height:10px;"></div>

            <div class="form-group col-md-10">
                <div class="col-md-3"></div>
                <div class="col-md-4" style="text-align:right;"> <button id="forgotuser" name="forgotuser" onclick="return CheckUserPassword();" class="btn-tgs">SUBMIT</button></div>
            </div>

        </fieldset>

    }
    <div class="col-sm-12" style="height:10px;"></div>
</div>
<div class="col-md-1"></div>
<style>
    .navbar{
        display:none;
    }

    .footeronline {
        position: fixed;
    }
</style>
<script type="text/javascript">

    $('#NewPassword').blur(function () {
        var NewPassword = document.getElementById("NewPassword").value;
        var hidUserID = document.getElementById("hidUserID").value;
        var rSatus = checkForm(NewPassword);


        if (rSatus) {
            $.ajax({
                url: "/mUserMasters/UserPasswordHistory",
                type: "POST",
                data: "{UserID:'" + hidUserID + "',Password:'" + NewPassword + "'}",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (result == 'Fail') {
                        $("#errorMsg").html("Password already used.please try new password.");
                        $('#Error').modal('show');
                        $('#NewPassword').val('');
                        $('#NewPassword').focus();
                        return false;
                    }
                },
                error: function () {
                    $("#errorMsg").html("error");
                    $('#Error').modal('show');
                    return false;
                }
            });
        }
        else {
            return false;
        }

    });

    $('#NewPassword').keyup(function () {

        var NewPassword = document.getElementById("NewPassword").value

        var InputCount = NewPassword.length;
        var TotalCount = 6 - InputCount;
        $("#CharCount").css('color', 'red');
        $("#ReqChar").css('color', 'red');
        if (TotalCount >= 0) {
            document.getElementById("CharCount").innerHTML = "[ " + TotalCount + " ]";
        }
        else { $("#ReqChar").css('color', 'green'); $("#CharCount").css('color', 'green'); }
        checkForm(NewPassword);
    });

    function checkForm(NewPassword) {
        $("#ReqChar").css('color', 'red');
        $("#CharCount").css('color', 'red');
        $("#Saz").css('color', 'red');
        $("#CAZ").css('color', 'red');
        $("#Number").css('color', 'red');
        $("#Spchar").css('color', 'red');

        var Count = 0;
        if (NewPassword.length < 6) {
            Count = 1;
        }
        else { $("#ReqChar").css('color', 'green'); $("#CharCount").css('color', 'green'); }

        re = /[a-z]/;
        if (!re.test(NewPassword)) {
            $("#Saz").css('color', 'red');
            Count = 1;
        }
        else { $("#Saz").css('color', 'green'); }

        re = /[A-Z]/;
        if (!re.test(NewPassword)) {
            $("#CAZ").css('color', 'red');
            Count = 1;
        }
        else { $("#CAZ").css('color', 'green'); }

        re = /[0-9]/;
        if (!re.test(NewPassword)) {
            $("#Number").css('color', 'red');
            Count = 1;
        }
        else { $("#Number").css('color', 'green'); }

        re = /[!@@#$%^&*]/;
        if (!re.test(NewPassword)) {
            $("#Spchar").css('color', 'red');
            Count = 1;
        }
        else { $("#Spchar").css('color', 'green'); }

        if (Count == 0) {
            return true;
        }
        else { return false; }
    }

    function CheckUserPassword() {

        var OldPassword = document.getElementById("OldPassword").value
        var NewPassword = document.getElementById("NewPassword").value
        var ConfirmPassword = document.getElementById("ConfirmPassword").value
        if (OldPassword == NewPassword) {
            $("#errorMsg").html("Error: Old and New Password can not be the same.");
            $('#Error').modal('show');
            return false;
        }
        else if (NewPassword != ConfirmPassword) {
            $("#errorMsg").html("Error: Password and Confirm Password does not match.");
            $('#Error').modal('show');
            return false;
        }
        else {
            var CheckCond = checkForm(NewPassword);
            if (CheckCond == false) {
                $("#errorMsg").html("Required Password format does not match.");
                $('#Error').modal('show');
            }
            return CheckCond;
        }
    }

    $('.OpenTC').click(function () {
        $.ajax({
            url: "/MasterPage/TermsCondistions",
            type: "POST",
            data: "{}",
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#termscondiDetail").html(data);
                return false;
            },
            error: function () {
                $("#errorMsg").html(Error);
                $('#Error').modal('show');
            }
        });

    });
</script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#UMCPOForm").validationEngine(
              'attach', {
                  promptPosition: "bottomLeft",
                  scroll: false,
                  autoHidePrompt: true,
                  autoHideDelay: 3500,
                  fadeDuration: 0.3,
                  focusFirstField: false,
                  MaxErrorsPerField: 1
              });



    });



    $("#Iagree").change(function () {
        var chkconform = document.getElementById('Iagree').checked
        if (chkconform) {
            $("#forgotuser").show();
            return true;
        }
        else {
            $("#forgotuser").hide();
            return false;
        }
    })

</script>
