@model TMP.Models.UserMaster_ListAll_Result
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/MasterPage/_defaultLayout.cshtml";
}

<div class="col-md-3"></div>
<div class="col-md-6 padoff padoff-forgot">
    <div class="col-sm-12 createusertitle">
        FORGOT PASSWORD

    </div>
    <div class="col-sm-12" style="height:5px;"></div>
    @using (Html.BeginForm("ForgotPassword", "mUserMasters", FormMethod.Post, new { @class = "col-sm-12 padding-forgot-pwd ", id = "UMFPForm" }))
            {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<fieldset>
    <div class="col-md-12" style="height:10px;"></div>

    <div>
        <div class="col-md-1"></div>
        <div class="col-md-10">
            @Html.TextBox("LoginSearch", "", new { @class = "form-control validate[required]", placeholder = "Login Name" })
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-12">
            <div class="col-md-1"></div>
            <div class="col-md-2 padding-forgot-pwd">
                <button id="search" name="search" class="btn-tgs">Search</button>
                 <div class="link-top"><a href="/mUserMasters/Login">Login</a></div>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="height:20px;"></div>
    @{
        if (@ViewBag.Status == 1)
        {
            <div class="form-group">
                <label class="col-md-2" for="textinput">Login Name</label>
                <div class="col-md-6">
                    @Html.HiddenFor(model => model.UserID)
                    @Html.EditorFor(model => model.LoginName, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control validate[required]" } })
                </div>
            </div>

            <div class="col-md-12" style="height:20px;"></div>

            <div class="form-group">
                <label class="col-md-2" for="textinput">E-Mail</label>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control isEmailGood validate[required,[custom[email]]" } })
                </div>
                <div class="col-md-1">
                    @Html.RadioButton("ChkMobileNo", "EmailID")
                </div>
            </div>


            <div class="col-md-12" style="height:20px;"></div>

            <div class="form-group">
                <label class="col-md-2" for="textinput">Phone</label>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control validate[required]" } })
                </div>
                <div class="col-md-1">
                    @Html.RadioButton("ChkMobileNo", "MobileNo")
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2" for="textinput"></label>
                <div class="col-md-8" style="color:red;">
                    **Currently SMS not available, Please go with email.
                </div>

            </div>

            <div class="col-md-12" style="height:10px;"></div>
            <div class="col-md-10" style="padding-bottom:15px;">
                <div class="col-md-6"> </div>
                <div class="col-md-1"><button id="forgotuser" formaction="ForgotPasswordSubmit" name="forgotuser" class="btn-tgs">SUBMIT</button></div>
            </div>
        }
    }

</fieldset>
                }
</div>

<div class="col-md-3"></div>


            
   

    <div class="modal fade" id="divtermscondi" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="height:450px;width:800px">
                <div class="modal-header">
                    <button id="DivClose" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div id="termscondiDetail" class="modal-body">
                </div>

            </div>

        </div>
    </div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#UMFPForm").validationEngine(
              'attach', {
                  promptPosition: "bottomLeft",
                  scroll: false,
                  autoHidePrompt: true,
                  autoHideDelay: 3500,
                  fadeDuration: 0.3,
                  focusFirstField: false,
                  MaxErrorsPerField: 1
              });
    });

    $('.OpenTC').click(function () {
        $.ajax({
            url: "/MasterPage/TermsCondistions",
            type: "POST",
            data: "{}",
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#termscondiDetail").html(data);
                return false;
            },
            error: function () {
                $("#errorMsg").html(Error);
                $('#Error').modal('show');
            }
        });
    });
</script>
<style>
    .footeronline{
       /* position:fixed;*/
    }
    .padoff-forgot {
        background-color: #fff;
        margin-top: 100px;
        font-size: 24px;
        line-height: 0.5;
        height: auto;
        padding-bottom: 50px;
    }
    .padding-forgot-pwd{
        padding:15px 0px 0px 0px;
    }
    .link-top{
        padding-top:20px;
    }
</style>