
@model TMP.Models.CustomerMasterModel
@using CONT = TMP.Infrastructure.Web.StatusManager.OtherDetail.Constant;
@{
    int _currTabIndex = Convert.ToInt32(ViewBag.SelectedTab);
}
@if (@Model.CustomerID > 0)
{
    <div class="col-md-12 bgsp">
        <div id="exTab1">
            <ul class="nav nav-tabs">

                <li class="@(_currTabIndex == 1 ? "active" : "valdt")">
                    <a href="/CustomerReg/CompanyInfoDetails?CustomerID=@Model.CustomerID">COMPANY INFORMATION</a>
                </li>
                
                <li class="@(_currTabIndex == 2 ? "active" : "valdt")">
                    <a href="/CustomerReg/CompanyMoreInfoDetails?CustomerID=@Model.CustomerID">MORE DETAILS</a>
                </li>
                
                <li class="@(_currTabIndex == 3 ? "active" : "valdt")">
                    <a href="/CustomerReg/CommonDetails?CustomerID=@Model.CustomerID&currentStatus=@Model.Status">SHAREHOLDERS / DIRECTORS</a>
                </li>
                
                <li class="@(_currTabIndex == 4 ? "active" : "valdt")">
                    <a href="/CustomerReg/BankAccountDetailsList?CustomerID=@Model.CustomerID&currentStatus=@Model.Status">BANK DETAILS</a>
                </li>
                
                @if ((Model.CustomerTypeID == CONT.BuyerCustomerTypeID && Model.ProgramType == CONT.RType) ||
    (Model.CustomerTypeID == CONT.BothObligorAndBuyerTypeID && Model.ProgramType == CONT.BothProgramType))
                {
                    <li class="@(_currTabIndex == 5 ? "active" : "valdt")">

                        <a href="/CustomerReg/SupplierDetailList?CustomerID=@Model.CustomerID&currentStatus=@Model.Status">SUPPLIER</a>
                    </li>
                    
                }

                <li class="@(_currTabIndex == 6 ? "active" : "valdt")">
                    <a href="/CustomerReg/ViewUserMaster?CustomerID=@Model.CustomerID&CustomerTypeID=@Model.CustomerTypeID&currentStatus=@Model.Status">AUTHORIZED USERS</a>
                </li>
                
                <li class="@(_currTabIndex == 7 ? "active" : "valdt")">
                    <a href="/CustomerReg/DocumentsDetails?CustomerID=@Model.CustomerID&currentStatus=@Model.Status">DOCUMENTATION</a>
                </li>

                @if (Convert.ToBoolean(Session["IsEditProfile"]) == false)
                {
                    if (Model.Status == CONT.NR || Model.Status == CONT.NH || Model.Status == CONT.UR || Model.Status == CONT.UH || Model.Status == CONT.NP || Model.Status == CONT.NK ||
                        Model.Status == CONT.UP || Model.Status == CONT.UK || Model.Status == CONT.NC || Model.Status == CONT.UC || Model.Status == CONT.NV || Model.Status == CONT.NO ||
                        Model.Status == CONT.UV || Model.Status == CONT.NA || Model.Status == CONT.UA || Model.Status == CONT.NS || Model.Status == CONT.NL)
                    {
                        
                        <li>
                            <div class="dropdown nav-pills">
                                <button class="dropbtn @(_currTabIndex == 8 ? "active1" : "valdt")">COMPLIANCE</button>
                                <div class="dropdown-content">
                                    <a href="/CustomerReg/ComplianceScreening?CustomerID=@Model.CustomerID&CustomerTypeID=@Model.CustomerTypeID&currentStatus=@Model.Status&SendToCredit=true&MenuOrderNo=1">SCREENING</a>
                                    @*<a href="/CustomerReg/ComplianceScreening?CustomerID=@Model.CustomerID&CustomerTypeID=@Model.CustomerTypeID&currentStatus=@Model.Status&SendToCredit=true&MenuOrderNo=1">SCREENING</a>*@
                                    <a href="/CustomerReg/ComplianceScreening?CustomerID=@Model.CustomerID&CustomerTypeID=@Model.CustomerTypeID&currentStatus=@Model.Status&SendToCredit=true&MenuOrderNo=2">CLASSIFICATION</a>
                                    <a href="/CustomerReg/CustomerRisk?CustomerID=@Model.CustomerID&SendToCredit=true">RISK CATEGORIZATION</a>
                                </div>
                            </div>
                            @*<a href="/CustomerReg/ComplianceScreening?CustomerID=@Model.CustomerID&CustomerTypeID=@Model.CustomerTypeID&currentStatus=@Model.Status&SendToCredit=true">COMPLIANCE SCREENING</a>*@
                        </li>
                        @*<li class="mFotter1">|</li>
                            <li class="@(_currTabIndex == 8 ? "active" : "valdt")">
                                <a href="/CustomerReg/ComplianceScreening?CustomerID=@Model.CustomerID&CustomerTypeID=@Model.CustomerTypeID&currentStatus=@Model.Status&SendToCredit=true">COMPLIANCE SCREENING</a>
                            </li>*@
                    }

                    if (Model.Status == CONT.NP || Model.Status == CONT.NK || Model.Status == CONT.UM || Model.Status == CONT.NA || Model.Status == CONT.UA || Model.Status == CONT.NL)
                    {
                        
                        <li class="@(_currTabIndex == 9 ? "active" : "valdt")">
                            <a href="/CustomerReg/CreditReview?CustomerID=@Model.CustomerID&CustomerTypeID=@Model.CustomerTypeID&ProgramType=@Model.ProgramType&currentStatus=@Model.Status">CREDIT REVIEW</a>
                        </li>
                    }
                    else if (Model.Status == CONT.NC || Model.Status == CONT.UC || Model.Status == CONT.NV || Model.Status == CONT.NO || Model.Status == CONT.UV || Model.Status == CONT.UO || Model.Status == CONT.UP)
                    {
                        if (Model.CustomerTypeID != CONT.FunderCustomerTypeID)
                        {
                            
                            <li class="@(_currTabIndex == 10 ? "active" : "valdt")">
                                <a href="/CustomerReg/CreditReviewApprove?CustomerID=@Model.CustomerID&CustomerTypeID=@Model.CustomerTypeID&ProgramType=@Model.ProgramType&currentStatus=@Model.Status">CREDIT APPROVAL</a>
                            </li>
                        }
                    }
                    if (Model.Status == CONT.NV || Model.Status == CONT.NO || Model.Status == CONT.UV || Model.Status == CONT.UO || Model.Status == CONT.UP)
                    {
                        
                        <li class="@(_currTabIndex == 11 ? "active" : "valdt")">
                            @if (Model.Status == CONT.UV || Model.Status == CONT.UO || Model.Status == CONT.UP)
                            {
                                <a href="/CustomerReg/AccountActivation?CustomerID=@Model.CustomerID&CustomerTypeID=@Model.CustomerTypeID&currentStatus=@Model.Status">UPDATE ACTIVATION</a>
                            }
                            else
                            {
                                <a href="/CustomerReg/AccountActivation?CustomerID=@Model.CustomerID&CustomerTypeID=@Model.CustomerTypeID&currentStatus=@Model.Status">ACCOUNT ACTIVATION</a>
                            }
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    @*<div class="col-md-12 investorName">
        &nbsp;<div class="col-md-5">COMPANY NAME : @Model.CompanyName</div> <div class="col-md-5">
            @if (Model.CustomerCode != "")
            { <span>COMPANY CODE : @Model.CustomerCode</span>}
        </div>
    </div>*@
}
<style>
    .dropbtn {
        background-color: #f6eebe;
        color: #000;
        padding: 11px 12.5px;
        font-size: inherit;
        font-family: 'Roboto', sans-serif;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6eebe;
        min-width: 170px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: #000;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #787d83;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #787d83;
    }

    .active1 {
        background-color: #f6eebe;
        color: #000;
    }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #000;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
}
    .valdt {
        border: 1px solid #f6eebe;
        border-radius: 5px;
    }
</style>

