
@using CONT = TMP.Infrastructure.Web.StatusManager.OtherDetail.Constant;
@model  IEnumerable<TMP.Models.InvoiceTransactionModel>

@if (Enumerable.Count(@ViewBag.RTranst) > 0)
{
    <div class="col-md-12 dashboard-titel">PORTFOLIO</div>
    <div class="tab-pane" id="4a">
        <!--tab 4a-->
        <div class="col-md-12">
            <table id="exampleDB2" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr class="bgspr">
                        <th>Transaction Number</th>
                        <th>Product</th>
                        <th>Transaction Date</th>
                        <th>Currency</th>
                        <th>Total Amount</th>
                        <th>Supplier Name</th>
                       
                        <th>Invoice Due Date</th>
                        <th>Status</th>
                        <th>Transaction History</th>
                        <th style="display:none;">
                        </th>
                        <th style="display:none;">
                        </th>
                    </tr>
                    @if (Enumerable.Count(@ViewBag.RTranst) > 0)
                {
                    <tbody>
                        @foreach (var item in ViewBag.RTranst)
                    {
                            <tr>
                                @if ((ViewBag._currentUser.IsMaker) && (item.Status == CONT.BQ || item.Status == CONT.BP ))
                                {
                                    <td><a href='@Url.Action("UploadInvoice", "Factoring", new { InvoiceID = item.InvoiceID, ProgramType = item.ProgramType })'>@item.TranRefNo</a></td>
                                }
                                else if ((ViewBag._currentUser.IsChecker) && (item.Status == CONT.BR || item.Status == CONT.CE))
                                {
                                    <td><a href='@Url.Action("SupplierChecker", "Factoring", new { InvoiceID = item.InvoiceID, ProgramType = item.ProgramType })'>@item.TranRefNo</a></td>
                                }
                                else
                                {
                                    <td>
                                        <a href="javascript:void(0);" class="factoringView" data-id="@item.InvoiceID">@item.TranRefNo</a>
                                    </td>
                                }
                                @if (item.ProgramType == CONT.FType)
                                {
                                    <td>Receivables Finance</td>
                                }
                                else
                                {
                                    <td>Payables Finance</td>
                                }
                                <td>@Convert.ToDateTime(item.TranDate).ToString("dd-MMM-yyyy")</td>
                                <td>@item.CurrencyCode</td>
                                <td>@item.CurrencyCode @string.Format("{0:0,0.00}", item.TotAmt)</td>
                                <td>@item.ExporterName</td>
                               
                                <td>@Convert.ToDateTime(item.DueDate).ToString("dd-MMM-yyyy")</td>
                                <td>@item.StatusUserDesc</td>
                                <td>
                                    <a href="javascript:void(0);" class="InvoiceCommentHistoryView" data-id="@item.InvoiceID">View</a>
                                </td>
                                <td class="InvoiceID" style="display:none;">
                                    <span>@item.InvoiceID</span>
                                </td>
                                <td class="ProgramType" style="display:none;">
                                    <span>@item.ProgramType</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                    }
                </table>

            </div>
           
        </div>
        <hr />
}