@model Tuple<TMP.Models.CustomerMasterModel, TMP.Models.CustomerInfoModel>
@using CONT = TMP.Infrastructure.Web.StatusManager.OtherDetail.Constant;


<div class="container">

    <div class="container createusertitle" style="text-align:left;background:#336699;color:#fff">
        <span class="col-md-2" for="textinput" style="padding-top: 5px;">Company Name</span>
        <span class="col-md-3 round-label">
            @Model.Item1.CompanyName
        </span>
        <div class="col-md-1"></div>
        @if (@Model.Item1.CustomerCode != "")
        {
            <span class="col-md-2" for="textinput" style="padding-top: 5px;">Company Code&nbsp;<span style="color:red;width:50px;"></span></span>
            <span class="col-md-3 round-label">
                @Model.Item1.CustomerCode
            </span>
        }
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-12" style="height:15px;"></div>
    <div class="col-md-12  dashboard-title">COMPANY IDENTIFICATION DETAILS</div>
    <div class="col-md-12" style="height:15px;"></div>

    <div class="form-group">
        <label class="col-md-2" for="textinput">Name as on Trade License&nbsp;<span style="color:red;width:50px;"></span></label>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.Item1.CompanyName, new { @class = "form-control", maxlength = "50", autocomplete = "off" })
        </div>
        <div class="col-md-1"></div>

        <label class="col-md-2" for="textinput">Trading Name&nbsp;<span style="color:red;width:50px;"></span></label>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.Item1.TradingName, new { @class = "form-control", maxlength = "50", autocomplete = "off" })
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-12" style="height:10px;"></div>
    <div class="form-group">
        @if (Model.Item2.CompanyTypeName != "Other")
            {
            <label class="col-md-2" for="textinput">Type of Company&nbsp;<span style="color:red;width:50px;"></span></label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Item2.CompanyTypeName, new { @class = "form-control  disbl-cntrl-cls", maxlength = "50", autocomplete = "off" })
            </div>
        }
        else
        {
            <label class="col-md-2" for="textinput">Other Type of Company&nbsp;<span style="color:red;width:50px;"></span></label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Item2.OtherCompanyType, new { @class = "form-control  disbl-cntrl-cls", maxlength = "50", autocomplete = "off" })
            </div>
        }

        <div class="col-md-1"></div>

        <label class="col-md-2" for="textinput">Trade License Number&nbsp;<span style="color:red;width:50px;"></span></label>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.Item2.TradeLicNo, new { @class = "form-control  disbl-cntrl-cls", maxlength = "50", autocomplete = "off" })
        </div>
        <div class="col-md-1"></div>

    </div>
    <div class="col-md-12" style="height:10px;"></div>
    <div class="form-group">
        <label class="col-md-2" for="textinput">Place of Incorporation&nbsp;<span style="color:red;width:50px;"></span></label>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.Item2.IncCountryName, new { @class = "form-control disbl-cntrl-cls", maxlength = "50", autocomplete = "off" })
        </div>
        <div class="col-md-1"></div>

        <label class="col-md-2" for="textinput">Date of Incorporation&nbsp;<span style="color:red;width:50px;"></span></label>
        <div class="col-md-3">
            @if (Model.Item2.IncDate != Convert.ToDateTime("01-01-1900") && Model.Item2.IncDate != Convert.ToDateTime("01-01-0001"))
            {
                <input id="IncDate" name="IncDate" type="text" placeholder="" class="form-control  disbl-cntrl-cls" autocomplete="off" value="@Convert.ToDateTime(Model.Item2.IncDate).ToString("dd-MMM-yyyy")">
            }
            else
            {
                <input id="IncDate" name="IncDate" type="text" placeholder="" class="form-control  disbl-cntrl-cls" autocomplete="off">
            }
        </div>

        <div class="col-md-1"></div>

    </div>
    <div class="col-md-12" style="height:10px;"></div>
    <div class="form-group">
        <label class="col-md-2" for="textinput">License Expiry Date&nbsp;<span style="color:red;width:50px;"></span></label>
        <div class="col-md-3">
            @if (Model.Item2.LicExpDate != Convert.ToDateTime("01-01-1900") && Model.Item2.LicExpDate != Convert.ToDateTime("01-01-0001"))
            {
                <input id="LicExpDate" name="LicExpDate" type="text" placeholder="" class="form-control disbl-cntrl-cls" autocomplete="off" value="@Convert.ToDateTime(Model.Item2.LicExpDate).ToString("dd-MMM-yyyy")">

            }
            else
            {
                <input id="LicExpDate" name="LicExpDate" type="text" placeholder="" class="form-control disbl-cntrl-cls" autocomplete="off">
            }
        </div>
        <div class="col-md-1"></div>

        <label class="col-md-2" for="textinput">Trade License Issuing Authority &nbsp;<span style="color:red;width:50px;"></span></label>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.Item2.IssuingAuth, new { @class = "form-control disbl-cntrl-cls", maxlength = "50", autocomplete = "off" })
        </div>
        <div class="col-md-1"></div>

    </div>


    <div class="col-md-12" style="height:15px;"></div>
    <div class="col-md-12  dashboard-title">REGISTERED / MAILING ADDRESS</div>
    <div class="col-md-12" style="height:15px;"></div>
    <div class="form-group">
        <label class="col-md-2" for="textinput">Address</label>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.Item1.Address, new { @class = "form-control", maxlength = "50", autocomplete = "off" })
        </div>
        <div class="col-md-1"></div>

        <label class="col-md-2" for="textinput">P.O. Box</label>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.Item1.POBox, new { @class = "form-control", maxlength = "50", autocomplete = "off" })
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-12" style="height:10px;"></div>
    <div class="form-group">

        <label class="col-md-2" for="textinput">Country&nbsp;<span style="color:red;width:50px;"></span></label>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.Item1.NationalityName, new { @class = "form-control", maxlength = "50", autocomplete = "off" })
        </div>
        <div class="col-md-1"></div>

        @if (Model.Item1.OtherCity == "")
            {
            <label class="col-md-2" for="textinput">City</label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Item1.CityName, new { @class = "form-control", value = Model.Item1.CityName, @readonly = "readonly" })
            </div>
        }
        else
        {
            <label class="col-md-2" for="textinput">Other City</label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Item1.OtherCity, new { @class = "form-control", value = Model.Item1.OtherCity, @readonly = "readonly" })
            </div>
        }
    </div>

    <div class="col-md-12" style="height:15px;"></div>
    <div class="col-md-12  dashboard-title">CONTACT DETAILS</div>
    <div class="col-md-12" style="height:15px;"></div>
    <div class="form-group">
        <label class="col-md-2" for="textinput">Telephone Number&nbsp;<span style="color:red;width:50px;"></span></label>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.Item1.TelNo, new { @class = "form-control", maxlength = "50", autocomplete = "off" })
        </div>
        <div class="col-md-1"></div>

        <label class="col-md-2" for="textinput">Website&nbsp;<span style="color:red;width:50px;"></span></label>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.Item1.Website, new { @class = "form-control validate[custom[url]]", maxlength = "50", autocomplete = "off" })
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-12" style="height:10px;"></div>
    <div class="form-group">
        <label class="col-md-2" for="textinput">Contact Person&nbsp;</label>
        <div class="col-md-9">
            <input value="@Model.Item1.ContactFullName" class="form-control" />
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-12" style="height:10px;"></div>
    <div class="form-group">
        <label class="col-md-2" for="textinput">E-Mail</label>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.Item1.EmailID, new { @class = "form-control", maxlength = "50", autocomplete = "off" })
        </div>
        <div class="col-md-1"></div>

        <label class="col-md-2" for="textinput">Mobile Number</label>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.Item1.MobileNo, new { @class = "form-control", maxlength = "50", autocomplete = "off" })
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-12" style="height:10px;"></div>


    <div class="col-md-12" style="height:15px;"></div>
    <div class="col-md-12  dashboard-title">OTHER DETAILS</div>
    <div class="col-md-12" style="height:15px;"></div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @if (Model.Item2.CustomerTypeID == CONT.SupplierCustomerTypeID)
    {
        <div class="form-group">
            <label class="col-md-2" for="textinput">Select one or multiple Buyers &nbsp;<span style="color:red;width:50px;"></span></label>
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.Item2.ObligorNames, new { @class = "form-control  disbl-cntrl-cls", maxlength = "250", autocomplete = "off" })
            </div>

        </div>
    }

    <div class="col-md-12" style="height:10px;"></div>

    @if (Model.Item1.CustomerTypeID != CONT.FunderCustomerTypeID)
    {
        <div class="col-md-12" style="height:10px;"></div>
        <div class="form-group">

            @if (Model.Item1.IndustryName != "Other")
            {
                <label class="col-md-2" for="textinput">Industry&nbsp;<span style="color:red;width:50px;"></span></label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.Item1.IndustryName, new { @class = "form-control", maxlength = "50", autocomplete = "off" })
                </div>
            }
            else
            {
                <label class="col-md-2" for="textinput">Other Industry&nbsp;<span style="color:red;width:50px;"></span></label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.Item1.OtherIndustry, new { @class = "form-control", maxlength = "50", autocomplete = "off" })
                </div>
            }
            <div class="col-md-1"></div>

            @if (Model.Item1.IndustryName != "Other")
            {
                <label class="col-md-2" for="textinput">Sub Industry&nbsp;<span style="color:red;width:50px;"></span></label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.Item1.SubIndustryName, new { @class = "form-control", maxlength = "50", autocomplete = "off" })
                </div>
            }
            else
            {
                <label class="col-md-2" for="textinput">Other Sub Industry&nbsp;<span style="color:red;width:50px;"></span></label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.Item1.OtherSubIndustry, new { @class = "form-control", maxlength = "50", autocomplete = "off" })
                </div>
            }
            <div class="col-md-1"></div>
        </div>
    }


    @if (Model.Item2.CustomerTypeID != CONT.FunderCustomerTypeID)
    {

        <div class="col-md-12" style="height:10px;"></div>
        <div class="form-group">
            <label class="col-md-2" for="textinput">Currency</label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Item2.CurrencyCode, new { @class = "form-control disbl-cntrl-cls", maxlength = "50", autocomplete = "off" })
            </div>
            <div class="col-md-1"></div>

            <label class="col-md-2" for="textinput">Annual Turnover</label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Item2.AnnTurnOver, new { @class = "form-control disbl-cntrl-cls", maxlength = "50", autocomplete = "off" })
            </div>
            <div class="col-md-1"></div>

        </div>
        <div class="col-md-12" style="height:10px;"></div>
        <div class="form-group">
            <label class="col-md-2" for="textinput">Projected Sales Volume</label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Item2.SaleVolume, new { @class = "form-control num disbl-cntrl-cls", maxlength = "50", autocomplete = "off" })
            </div>
            <div class="col-md-1"></div>

            <label class="col-md-2" for="textinput">Net Profit</label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Item2.NetProfit, new { @class = "form-control num disbl-cntrl-cls", maxlength = "50", autocomplete = "off" })
            </div>
            <div class="col-md-1"></div>

        </div>
        <div class="col-md-12" style="height:10px;"></div>
        <div class="form-group">
            @if (Model.Item2.SaleInvTerms != "Other")
            {
                <label class="col-md-2" for="textinput">Sales Payable Terms</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.Item2.SaleInvTerms, new { @class = "form-control disbl-cntrl-cls ", maxlength = "50", autocomplete = "off" })
                </div>
            }
            else
            {
        <label class="col-md-2" for="textinput">Other Sales Payable Terms</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.Item2.OtherSaleInvTerms, new { @class = "form-control disbl-cntrl-cls ", maxlength = "50", autocomplete = "off" })
                </div>
            }


            <div class="col-md-1"></div>
            <label class="col-md-2" for="textinput">Number of Employees</label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Item2.EmpCount, new { @class = "form-control num validate[required] disbl-cntrl-cls", maxlength = "50", autocomplete = "off" })
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="col-md-12" style="height:10px;"></div>
    }
    @if (Model.Item2.CustomerTypeID == CONT.FunderCustomerTypeID)
    {
        <div class="form-group" style="padding-bottom:50px;"></div>
    }
    <div class="col-md-12" style="height:10px;"></div>
    <div class="col-md-12  dashboard-title">GROUP / REGULATORY DETAILS </div>
    <div class="container padoff box-boder-form">
        <div class="col-md-4 padoff">
            <div class="form-group">
                <div class="form-group box-form">
                    <label class="col-md-6" for="textinput">Is the company part of a group?&nbsp;<span style="color:red;width:50px;"></span></label>
                    @if (Model.Item2.IsCompGrpPart)
                    {
                        <div class="col-md-6" style="padding-top:10px;">
                            <input type="checkbox" id="cb1" name="cb1" value="cb1" class="chb disbl-cntrl-cls" checked="checked" /> Yes
                            <input type="checkbox" id="cb2" name="cb2" class="chb disbl-cntrl-cls" /> No
                        </div>
                    }
                    else
                    {
                        <div class="col-md-6" style="padding-top:10px;">
                            <input type="checkbox" id="cb1" name="cb1" value="cb1" class="chb disbl-cntrl-cls" /> Yes
                            <input type="checkbox" id="cb2" name="cb2" class="chb disbl-cntrl-cls" checked="checked" /> No
                        </div>
                    }

                </div>
                @if (Model.Item2.IsCompGrpPart)
                {
                    <div class="form-group box-form group">
                        <label class="col-md-6" for="textinput">Name of the group&nbsp;<span style="color:red;width:50px;"></span></label>
                        <div class="col-md-6 group">
                            @Html.TextBoxFor(model => model.Item2.GroupName, new { @class = "form-control", maxlength = "50", autocomplete = "off" })
                        </div>

                    </div>
                    <div class="form-group box-form group">
                        <label class="col-md-6" for="textinput">Group website&nbsp;<span style="color:red;width:50px;"></span></label>
                        <div class="col-md-6 group">
                            @Html.TextBoxFor(model => model.Item2.GroupWebsite, new { @class = "form-control validate[custom[url]]", maxlength = "50", autocomplete = "off" })
                        </div>

                    </div>
                }
            </div>
        </div>
        <div class="col-md-4 padoff">
            <div class="form-group">
                <div class="form-group box-form">
                    <label class="col-md-6" for="textinput">Is the company supervised by a financial services regulator?&nbsp;<span style="color:red;width:50px;"></span></label>
                    @if (Model.Item2.IsCompFinServ)
                    {
                        <div class="col-md-6" style="padding-top:10px;">
                            <input type="checkbox" id="cb5" name="cb5" value="cb5" class="chb disbl-cntrl-cls" checked="checked" /> Yes
                            <input type="checkbox" id="cb6" name="cb6" class="chb disbl-cntrl-cls" /> No
                        </div>
                    }
                    else
                    {
                        <div class="col-md-6" style="padding-top:10px;">
                            <input type="checkbox" id="cb5" name="cb5" value="cb5" class="chb disbl-cntrl-cls" /> Yes
                            <input type="checkbox" id="cb6" name="cb6" class="chb disbl-cntrl-cls" checked="checked" /> No
                        </div>
                    }
                </div>
                @if (Model.Item2.IsCompFinServ)
                {
                    <div class="form-group box-form financial">
                        <label class="col-md-6" for="textinput">Regulator Name&nbsp;<span style="color:red;width:50px;"></span></label>
                        <div class="col-md-6 financial">
                            @Html.TextBoxFor(model => model.Item2.RegulatorName, new { @class = "form-control", maxlength = "50", autocomplete = "off" })
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-4 padoff">
            <div class="form-group">
                <div class="form-group box-form">
                    <label class="col-md-6" for="textinput">Is the company publicly listed?&nbsp;<span style="color:red;width:50px;"></span></label>
                    @if (Model.Item2.IsCompPubList)
                    {
                        <div class="col-md-6" style="padding-top:10px;">
                            <input type="checkbox" id="cb3" name="cb3" value="cb3" class="chb" checked="checked" /> Yes
                            <input type="checkbox" id="cb4" name="cb4" class="chb disbl-cntrl-cls" /> No
                        </div>

                    }
                    else
                    {
                        <div class="col-md-6" style="padding-top:10px;">
                            <input type="checkbox" id="cb3" name="cb3" value="cb3" class="chb" /> Yes
                            <input type="checkbox" id="cb4" name="cb4" class="chb disbl-cntrl-cls" checked="checked" /> No
                        </div>
                    }

                </div>
                @if (Model.Item2.IsCompPubList)
                {
                    <div class="form-group box-form publicly">
                        <label class="col-md-6" for="textinput">Exchange Name&nbsp;<span style="color:red;width:50px;"></span></label>
                        <div class="col-md-6 publicly">
                            @Html.TextBoxFor(model => model.Item2.ExchangeName, new { @class = "form-control disbl-cntrl-cls", maxlength = "50", autocomplete = "off" })
                        </div>

                    </div>
                    <div class="form-group box-form publicly">
                        <label class="col-md-6" for="textinput">Ticker Code&nbsp;<span style="color:red;width:50px;"></span></label>
                        <div class="col-md-6 publicly">
                            @Html.TextBoxFor(model => model.Item2.TickerCode, new { @class = "form-control disbl-cntrl-cls", maxlength = "50", autocomplete = "off" })
                        </div>

                    </div>
                }
            </div>
        </div>

    </div>
    @if (Enumerable.Count(@ViewBag.CreditDetails) > 0)
    {
        int i = 1;
        <div class="col-md-12" style="height:15px;"></div>
        <div class="col-md-12  dashboard-title">CREDIT LINE FACILITIES PER BANK</div>
        <div class="col-md-12" style="height:15px;"></div>

        foreach (var item in ViewBag.CreditDetails)
        {
            if (i >= 2)
            {
                <hr />
            }
            <div class="col-md-12" style="height:15px;"></div>
            <div class="col-md-12 sub-header">Credit Line # @i</div>
            <div class="col-md-12" style="height:15px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">Bank Name&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.BankName" class="form-control" />
                </div>
                <div class="col-md-1"></div>
                <label class="col-md-2" for="textinput">Facility Type&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.FacType" class="form-control" />
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">Facility Limit&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.CurrencyCode @string.Format("{0:0,0.00}", item.FacLimit)" class="form-control" />
                </div>
                <div class="col-md-1"></div>
                <label class="col-md-2" for="textinput">Utilization&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.CurrencyCode @string.Format("{0:0,0.00}", item.FacUtilize)" class="form-control" />
                </div>
                <div class="col-md-1"></div>
            </div>

            i = i + 1;
        }
    }
    @if (Enumerable.Count(@ViewBag.BankAccDetail) > 0)
    {
        int i = 1;
        <div class="col-md-12" style="height:15px;"></div>
        <div class="col-md-12  dashboard-title">BANK ACCOUNT DETAILS</div>
        <div class="col-md-12" style="height:15px;"></div>
        foreach (var item in ViewBag.BankAccDetail)
        {
            if (i >= 2)
            {
                <hr />
            }
            <div class="col-md-12" style="height:15px;"></div>
            <div class="col-md-12 sub-header">Bank Account # @i</div>
            <div class="col-md-12" style="height:15px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">Currency&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.CurrencyCode" class="form-control" />
                </div>
                <div class="col-md-1"></div>
                <label class="col-md-2" for="textinput">Account Name&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.AccountName" class="form-control" />
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">Bank Name&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.BankName" class="form-control" />
                </div>
                <div class="col-md-1"></div>
                <label class="col-md-2" for="textinput">Bank Address&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.Address" class="form-control" />
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">Account Number&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.AccountNo" class="form-control" />
                </div>
                <div class="col-md-1"></div>
                <label class="col-md-2" for="textinput">IBAN&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.IBAN" class="form-control" />
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">Country&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.CountryName" class="form-control" />
                </div>
                <div class="col-md-1"></div>
                <label class="col-md-2" for="textinput">Swift Code&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.Swift" class="form-control" />
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-12" style="height:10px;"></div>
                <div class="form-group">
                    <label class="col-md-2" for="textinput">IFSC Code&nbsp;</label>
                    <div class="col-md-3">
                        <input value="@item.IFSC" class="form-control" />
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="col-md-12" style="height:10px;"></div>
            i = i + 1;
        }
    }

    @if (Enumerable.Count(@ViewBag.AuthUser) > 0)
    {
        int i = 1;
        <div class="col-md-12" style="height:15px;"></div>
        <div class="col-md-12  dashboard-title" style="margin-bottom:0px;">DIRECTORS / AUTHORIZED SIGNATORIES</div>

        foreach (var item in ViewBag.AuthUser)
        {
            if (i >= 2)
            {
                <hr />
            }
            <div class="col-md-12" style="height:15px;"></div>
            <div class="col-md-12 sub-header">Director/Signatory # @i</div>
            <div class="col-md-12" style="height:15px;"></div>

            <div class="form-group">
                <label class="col-md-2" for="textinput">Full Name&nbsp;</label>
                <div class="col-md-9">
                    <input value="@item.ContactFullName" class="form-control" />
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">E-Mail&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.EmailID" class="form-control" />
                </div>
                <div class="col-md-1"></div>
                <label class="col-md-2" for="textinput">Mobile Number&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.MobileNo" class="form-control" />
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">Passport Number&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.PassNo" class="form-control" />
                </div>
                <div class="col-md-1"></div>
                <label class="col-md-2" for="textinput">Place of Issuance&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.PassCountryName" class="form-control" />
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">Issuance Date&nbsp;</label>
                <div class="col-md-3">
                    <input value="@(string.Format("{0:dd-MMM-yyyy}", item.PassIssueDate))" class="form-control" />
                </div>
                <div class="col-md-1"></div>
                <label class="col-md-2" for="textinput">Expiry Date&nbsp;</label>
                <div class="col-md-3">
                    <input value="@(string.Format("{0:dd-MMM-yyyy}", item.PassExpDate))" class="form-control" />
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-12" style="height:10px;"></div>
                <div class="form-group">
                    <label class="col-md-2" for="textinput">Nationality&nbsp;</label>
                    <div class="col-md-3">
                        <input value="@item.NatCountryName" class="form-control" />
                    </div>
                    <div class="col-md-1"></div>
                    <label class="col-md-2" for="textinput">Designation&nbsp;</label>
                    <div class="col-md-3">
                        <input value="@item.DesignationName" class="form-control" />
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="col-md-12" style="height:10px;"></div>
                <div class="form-group">
                    <label class="col-md-2" for="textinput">Company Type&nbsp;</label>
                    <div class="col-md-3">
                        <input value="@item.CustTypeDesc" class="form-control" />
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="col-md-12" style="height:10px;"></div>
            i = i + 1;
        }
    }
    @if (Enumerable.Count(ViewBag.ShareIndi) > 0 || Enumerable.Count(ViewBag.ShareComp) > 0)
    {
        <div class="col-md-12" style="height:15px;"></div>
        <div class="col-md-12  dashboard-title" style="margin-bottom:0px;">SHAREHOLDERS OF THE COMPANY</div>
    }

    @if (Enumerable.Count(@ViewBag.ShareIndi) > 0)
    {
        int i = 1;

        foreach (var item in ViewBag.ShareIndi)
        {
            if (i >= 2)
            {
                <hr />
            }
            <div class="col-md-12" style="height:15px;"></div>
            <div class="col-md-12 sub-header">Individual Shareholder # @i</div>
            <div class="col-md-12" style="height:15px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">Full Name&nbsp;</label>
                <div class="col-md-9">
                    <input value="@item.ContactFullName" class="form-control" />
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">Shareholding Percentage&nbsp;</label>
                <div class="col-md-3">
                    <input value="@string.Format("{0:0,0.00}", @item.SharePer) %" class="form-control" />
                </div>
                <div class="col-md-1"></div>
                <label class="col-md-2" for="textinput">Nationality&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.NatCountryName" class="form-control" />
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">Passport Number&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.PassNo" class="form-control" />
                </div>
                <div class="col-md-1"></div>
                <label class="col-md-2" for="textinput">Place of Issuance&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.PassCountryName" class="form-control" />
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">Issuance Date&nbsp;</label>
                <div class="col-md-3">
                    <input value="@(string.Format("{0:dd-MMM-yyyy}", item.PassIssueDate))" class="form-control" />
                </div>
                <div class="col-md-1"></div>
                <label class="col-md-2" for="textinput">Expiry Date&nbsp;</label>
                <div class="col-md-3">
                    <input value="@(string.Format("{0:dd-MMM-yyyy}", item.PassExpDate))" class="form-control" />
                </div>
                <div class="col-md-1"></div>
            </div>

            <div class="col-md-12" style="height:10px;"></div>

            i = i + 1;
        }
    }
    @if (Enumerable.Count(@ViewBag.ShareComp) > 0)
    {
        int i = 1;

        foreach (var item in ViewBag.ShareComp)
        {
            if (i >= 2)
            {
                <hr />
            }
            if (item.ParentID == 0)
            {
                <div class="col-md-12" style="height:15px;"></div>
                <div class="col-md-12 sub-header">Company Shareholder # @i</div>
                <div class="col-md-12" style="height:15px;"></div>
                <div class="col-md-12" style="height:15px;"></div>
                <div class="form-group">
                    <label class="col-md-2" for="textinput">Name of Company&nbsp;</label>
                    <div class="col-md-3">
                        <input value="@item.ShareCompanyName" class="form-control" />
                    </div>
                    <div class="col-md-1"></div>
                    <label class="col-md-2" for="textinput">Shareholding Percentage&nbsp;</label>
                    <div class="col-md-3">
                        <input value="@string.Format("{0:0,0.00}", @item.SharePer) %" class="form-control" />
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="col-md-12" style="height:15px;"></div>
                <div class="form-group">
                    <label class="col-md-2" for="textinput">Trade License Number&nbsp;</label>
                    <div class="col-md-3">
                        <input value="@item.TradeLicNo" class="form-control" />
                    </div>
                    <div class="col-md-1"></div>
                    <label class="col-md-2" for="textinput">Beneficial Owner&nbsp;</label>
                    <div class="col-md-3">
                        <input value="@item.ChildCnt" class="form-control" />
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="col-md-12" style="height:10px;"></div>
                i = i + 1;

                int j = 0;
                if (Enumerable.Count(@ViewBag.ShareBene) > 0)
                {
                    j = 1;
                    foreach (var item1 in ViewBag.ShareBene)
                    {
                        if (item1.ParentID == item.CustomerShareHoldID)
                        {
                            if (j >= 2)
                            {
                                <hr />
                            }
                            <div class="col-md-12" style="height:15px;"></div>
                            <div class="col-md-12 sub-header">Beneficial Owner # @j</div>
                            <div class="col-md-12" style="height:15px;"></div>

                            <div class="form-group">
                                <label class="col-md-2" for="textinput">Full Name&nbsp;</label>
                                <div class="col-md-9">
                                    <input value="@item1.ContactFullName" class="form-control" />
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="col-md-12" style="height:10px;"></div>
                            <div class="form-group">
                                <label class="col-md-2" for="textinput">Shareholding Percentage&nbsp;</label>
                                <div class="col-md-3">
                                    <input value="@string.Format("{0:0,0.00}", @item1.SharePer) %" class="form-control" />
                                </div>
                                <div class="col-md-1"></div>
                                <label class="col-md-2" for="textinput">Nationality&nbsp;</label>
                                <div class="col-md-3">
                                    <input value="@item1.NatCountryName" class="form-control" />
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="col-md-12" style="height:10px;"></div>
                            <div class="form-group">
                                <label class="col-md-2" for="textinput">Passport Number&nbsp;</label>
                                <div class="col-md-3">
                                    <input value="@item1.PassNo" class="form-control" />
                                </div>
                                <div class="col-md-1"></div>
                                <label class="col-md-2" for="textinput">Place of Issuance&nbsp;</label>
                                <div class="col-md-3">
                                    <input value="@item1.PassCountryName" class="form-control" />
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="col-md-12" style="height:10px;"></div>
                            <div class="form-group">
                                <label class="col-md-2" for="textinput">Issuance Date&nbsp;</label>
                                <div class="col-md-3">
                                    <input value="@(string.Format("{0:dd-MMM-yyyy}", item1.PassIssueDate))" class="form-control" />
                                </div>
                                <div class="col-md-1"></div>
                                <label class="col-md-2" for="textinput">Expiry Date&nbsp;</label>
                                <div class="col-md-3">
                                    <input value="@(string.Format("{0:dd-MMM-yyyy}", item1.PassExpDate))" class="form-control" />
                                </div>
                                <div class="col-md-1"></div>
                            </div>

                            <div class="col-md-12" style="height:10px;"></div>
                            j = j + 1;
                        }
                    }
                }
            }
        }
    }

    @if (Enumerable.Count(@ViewBag.UserDetail) > 0)
    {
        int i = 1;
        <div class="col-md-12" style="height:15px;"></div>
        <div class="col-md-12  dashboard-title" style="margin-bottom:0px;">AUTHORIZED USERS</div>

        foreach (var item in ViewBag.UserDetail)
        {
            if (i >= 2)
            {
                <hr />
            }
            <div class="col-md-12" style="height:15px;"></div>
            <div class="col-md-12 sub-header">User # @i</div>
            <div class="col-md-12" style="height:15px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">First Name&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.FirstName" class="form-control" />
                </div>
                <div class="col-md-1"></div>
                <label class="col-md-2" for="textinput">Middle Name&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.MiddleName" class="form-control" />
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">Last Name&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.LastName" class="form-control" />
                </div>
                <div class="col-md-1"></div>
                <label class="col-md-2" for="textinput">Mobile Number&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.MobileNo" class="form-control" />
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">E-Mail ID&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.EmailID" class="form-control" />
                </div>
                <div class="col-md-1"></div>
                <label class="col-md-2" for="textinput"></label>
                <div class="col-md-3">
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">Access Rights&nbsp;</label>
                <div class="col-md-9">
                    <input value="@item.RoleNames" class="form-control" />
                </div>
                <div class="col-md-1"></div>
            </div>
            i = i + 1;
        }
    }

    @if (Enumerable.Count(@ViewBag.Supplier) > 0)
    {

        <div class="col-md-12" style="height:15px;"></div>
        <div class="col-md-12  dashboard-title" style="margin-bottom:0px;">SUPPLIER DETAILS</div>
        int i = 1;

        foreach (var item in ViewBag.Supplier)
        {
            if (i >= 2)
            {
                <hr />
            }
            <div class="col-md-12" style="height:15px;"></div>
            <div class="col-md-12 sub-header">Supplier # @i</div>
            <div class="col-md-12" style="height:15px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">Company Name&nbsp;</label>
                <div class="col-md-9">
                    <input value="@item.CompanyName" class="form-control" />
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">Trade License Number&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.TradeLicNo" class="form-control" />
                </div>
                <div class="col-md-1"></div>

                <label class="col-md-2" for="textinput">Date of Incorporation&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.IncDate.ToString("dd-MMM-yyyy")" class="form-control" />
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-12" style="height:15px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">License Expiry Date&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.LicExpDate.ToString("dd-MMM-yyyy")" class="form-control" />

                </div>
                <div class="col-md-1"></div>
                <label class="col-md-2" for="textinput">Country of Incorporation&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.IncCountryName" class="form-control" />
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-12" style="height:15px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">Industry&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.IndustryName" class="form-control" />
                </div>
                <div class="col-md-1"></div>
                <div id="DV_SubIndustry">
                    <label class="col-md-2" for="textinput">Sub Industry&nbsp;</label>
                    <div class="col-md-3">
                        <input value="@item.SubIndustryName" class="form-control" />
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">Currency&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.CurrencyCode" class="form-control" />
                </div>
                <div class="col-md-1"></div>

                <label class="col-md-2" for="textinput">Average Payable Amount&nbsp;</label>
                <div class="col-md-3">
                    <input value="@string.Format("{0:0,0.00}", @item.InvAmt)" class="form-control" />
                </div>
            </div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="form-group">

                <label class="col-md-2" for="textinput">Invoice Terms with Buyer &nbsp;</label>

                <div class="col-md-3">
                    <input value="@item.InvTerm" class="form-control" />
                </div>
                <div class="col-md-1"></div>
            </div>


            <div class="col-md-12" style="height:15px;"></div>
            <div class="col-md-12 sub-header">SUPPLIER  – COMPANY CONTACT INFORMATION</div>
            <div class="col-md-12" style="height:15px;"></div>

            <div class="form-group">
                <label class="col-md-2" for="textinput">Address&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.Address" class="form-control" />
                </div>
                <div class="col-md-1"></div>

                <label class="col-md-2" for="textinput">P.O. Box&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.POBox" class="form-control" />
                </div>
                <div class="col-md-1"></div>

            </div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">Official website&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.Website" class="form-control" />
                </div>
                <div class="col-md-1"></div>

                <label class="col-md-2" for="textinput">Telephone Number&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.TelNo" class="form-control" />
                </div>
                <div class="col-md-1"></div>

            </div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">Country&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.CountryName" class="form-control" />
                </div>
                <div class="col-md-1"></div>

                <label class="col-md-2" for="textinput">City&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.CityName" class="form-control" />
                </div>
                <div class="col-md-1"></div>
            </div>

            <div class="col-md-12" style="height:15px;"></div>
            <div class="col-md-12 sub-header">SUPPLIER  – PRIMARY CONTACT INFORMATION</div>
            <div class="col-md-12" style="height:15px;"></div>

            <div class="form-group">
                <label class="col-md-2" for="textinput">Full Name&nbsp;</label>
                <div class="col-md-9">
                    <input value="@item.ContactFullName" class="form-control" />
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-12" style="height:10px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">Designation in the Company&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.DesignationName" class="form-control" />
                </div>
                <div class="col-md-1"></div>

                <label class="col-md-2" for="textinput">Mobile Number&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.MobileNo" class="form-control" />
                </div>
            </div>

            <div class="col-md-12" style="height:10px;"></div>
            <div class="form-group">
                <label class="col-md-2" for="textinput">E-Mail&nbsp;</label>
                <div class="col-md-3">
                    <input value="@item.EmailID" class="form-control" />
                </div>
                <div class="col-md-1"></div>
            </div>
            i = i + 1;

            if (Enumerable.Count(@ViewBag.ExpoBankDetail) > 0)
            {
                <div class="col-md-12" style="height:15px;"></div>
                <div class="col-md-12 sub-header">SUPPLIER  BANK DETAILS</div>
                <div class="col-md-12" style="height:15px;"></div>

                int j = 1;
                foreach (var item1 in ViewBag.ExpoBankDetail)
                {

                    if (item1.CustomerSuppID == item.CustomerSuppID)
                    {
                        if (j >= 2)
                        {
                            <hr />
                        }

                        <div class="col-md-12" style="height:15px;"></div>
                        <div class="col-md-12 sub-header">Bank Account # @j</div>
                        <div class="col-md-12" style="height:15px;"></div>

                        <div class="form-group">
                            <label class="col-md-2" for="textinput">Currency&nbsp;</label>
                            <div class="col-md-3">
                                <input value="@item1.CurrencyCode" class="form-control" />
                            </div>
                            <div class="col-md-1"></div>
                            <label class="col-md-2" for="textinput">Account Name&nbsp;</label>
                            <div class="col-md-3">
                                <input value="@item1.AccountName" class="form-control" />
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="col-md-12" style="height:10px;"></div>
                        <div class="form-group">
                            <label class="col-md-2" for="textinput">Bank Name&nbsp;</label>
                            <div class="col-md-3">
                                <input value="@item1.BankName" class="form-control" />
                            </div>
                            <div class="col-md-1"></div>
                            <label class="col-md-2" for="textinput">Bank Address&nbsp;</label>
                            <div class="col-md-3">
                                <input value="@item1.Address" class="form-control" />
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="col-md-12" style="height:10px;"></div>
                        <div class="form-group">
                            <label class="col-md-2" for="textinput">Account Number&nbsp;</label>
                            <div class="col-md-3">
                                <input value="@item1.AccountNo" class="form-control" />
                            </div>
                            <div class="col-md-1"></div>
                            <label class="col-md-2" for="textinput">IBAN&nbsp;</label>
                            <div class="col-md-3">
                                <input value="@item1.IBAN" class="form-control" />
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="col-md-12" style="height:10px;"></div>
                        <div class="form-group">
                            <label class="col-md-2" for="textinput">Country&nbsp;</label>
                            <div class="col-md-3">
                                <input value="@item1.CountryName" class="form-control" />
                            </div>
                            <div class="col-md-1"></div>
                            <label class="col-md-2" for="textinput">Swift Code&nbsp;</label>
                            <div class="col-md-3">
                                <input value="@item1.Swift" class="form-control" />
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="col-md-12" style="height:10px;"></div>
                        <div class="form-group">
                            <label class="col-md-2" for="textinput">IFSC Code&nbsp;</label>
                            <div class="col-md-3">
                                <input value="@item1.IFSC" class="form-control" />
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="col-md-12" style="height:10px;"></div>
                        j = j + 1;
                    }
                }
            }
        }
    }

</div>


<script>
    $('.form-control').attr('readonly', 'true');

    $("#Item2_AnnTurnOver").val(parseFloat($("#Item2_AnnTurnOver").val(), 10).toFixed(2));
    $("#Item2_SaleVolume").val(parseFloat($("#Item2_SaleVolume").val(), 10).toFixed(2));
    $("#Item2_NetProfit").val(parseFloat($("#Item2_NetProfit").val(), 10).toFixed(2));
    $("input.chb").attr("disabled", true);

    var CompanyTypeName = $("#CompanyTypeName").val();
    if (CompanyTypeName != "") {
        if (CompanyTypeName == '@ViewBag.Global_CompanyTypeName') {
            $('.disbl-cntrl-cls').attr('disabled', true);
        }
    }
    $('#example1,#example2,#example3,#example4,#example5,#example6,#example7,#example8,#example9').DataTable({
        //"pageLength": 10,

    });
   
</script>


<style>
    .dataTables_filter, .dataTables_info, .dataTables_paginate {
        display: none;
    }

    .form-group {
        padding-bottom: 40px;
    }

    .box-form {
        padding-bottom: 0%;
    }

    .box-boder-form {
        padding-bottom: 0px;
        border: none;
        height: 220px;
    }

    p {
        font-size: 14px;
    }

    
    .sub-header {
        font-weight: 600;
        text-transform: uppercase;
    }

    .round-label {
        color: #58595b;
        background: #fff;
        padding: 5px 5px 5px 15px;
        border-radius: 15px;
    }
</style>

