@model TMP.Models.FeeMaster_ListAll_Model
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/MasterPage/_defaultLayout.cshtml";
}
<div class="col-md-12 div-border padoff">
    <div class="col-md-12 createusertitle">Fee Master</div>

    <fieldset>
        @using (Html.BeginForm("Details", "mFeeMasters", FormMethod.Post, new { id = "AAFForm" }))
            {
            @Html.AntiForgeryToken()

            if (ViewBag.ErrorMsg != null)
            {
                <span class="text-danger"> @ViewBag.ErrorMsg</span>
            }
            <input type="hidden" id="FeeId" name="FeeId" value="@Model.lstFeeMasterListBind[0].FeeId" />
                    @Html.HiddenFor(model => model.lstFeeMasterListBind[0].FeeId)

                    <div class="form-group">
                        <label class="col-md-2" for="textinput">Fee Name&nbsp;<span style="color:red;width:50px;">*</span></label>
                        <div class="col-md-3">
                            <input id="FeeName" disabled="disabled" name="FeeName" type="text" value="@Model.lstFeeMasterListBind[0].FeeName" class="form-control validate[required,custom[onlyLetterSp]]" maxlength="100" autocomplete="off">
                        </div>
                        <div class="col-md-1"></div>
                        
                            <label class="col-md-2"></label>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-1"></div>
                        
                    </div>
                    <div class="form-group">
                        <label class="col-md-2" for="textinput">Fixed</label>
                        <div class="col-md-3">
                            @if (Model.lstFeeMasterListBind[0].IsFix == true)
                            {
                                <div class="col-md-10"><input type="checkbox" disabled="disabled" id="chkIsFix" name="chkIsFix" value="@Model.IsFix" checked="checked" style="display:block;" /></div>
                            }
                            else
                            {
                                <div class="col-md-10"><input type="checkbox" disabled="disabled" id="chkIsFix" name="chkIsFix" value="@Model.IsFix" style="display:block;" /></div>
                            }
                        </div>
                        <div class="col-md-1"></div>
                        
                            <label class="col-md-2"></label>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-1"></div>
                        
                    </div>
                    <div class="col-md-12">
                        <table id="example" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr class="bgsp">                                  
                                    <th>Company Type</th>
                                    <th>Percentage</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.lstCustomerTypeMaster)
                                {
                                    foreach (var itemFeeDetailSelected in Model.lstFeeDetPHListBind)
                                    {
                                        if (item.CustomerTypeID == itemFeeDetailSelected.CustomerTypeID)
                                        {
                                            <tr>                                               
                                                <td>
                                                    @item.CustomerTypeName
                                                </td>
                                                <td>
                                                    @if (itemFeeDetailSelected.FeePer > 0)
                                                    {
                                                        <label>@string.Format("{0:0,0.00}", itemFeeDetailSelected.FeePer)</label>
                                                    }
                                                    else
                                                    {
                                                        <label>0.00</label>
                                                    }
                                                </td>
                                                <td>
                                                    @if (itemFeeDetailSelected.FeeAmt > 0)
                                                    {
                                                        <label>@string.Format("{0:0,0.00}", itemFeeDetailSelected.FeeAmt)</label>
                                                    }
                                                    else
                                                    {
                                                        <label>0.00</label>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                  
                   
                    <div class="col-md-12" style="height:10px;"></div>
                    <div class="form-group col-md-12">
                        <div class="col-md-7">
                           
                        </div>

                        @if (ViewData["iCheck"].Equals("Checker"))
                        {
                            <div class="col-md-5" style="text-align:right;">
                                <button id="amend" formaction="/mFeeMasters/DetailsAmend?FeeID=@Model.lstFeeMasterListBind[0].FeeId" type="submit" name="amend" class="btn-tgs">Return to Maker</button>
                                <button type="submit" formaction="/mFeeMasters/Detailsapprove?FeeID=@Model.lstFeeMasterListBind[0].FeeId" id="approve" name="approve" class="btn-tgs">Recommend for Approval</button>
                            </div>
                        }
                        @if (ViewData["iCheck"].Equals("Approver"))
                        {
                            <div class="col-md-5" style="text-align:right;">
                                <button type="submit" formaction="/mFeeMasters/Detailsapprove?FeeID=@Model.lstFeeMasterListBind[0].FeeId" id="approve" name="approve" class="btn-tgs">Approve</button>
                                <button id="amend" formaction="/mFeeMasters/DetailsAmend?FeeID=@Model.lstFeeMasterListBind[0].FeeId" type="submit" name="amend" class="btn-tgs">Reject</button>
                            </div>
                        }
                    </div>
        }
    </fieldset>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog " style="width:1100px">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="DivClose" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body scroll" style="height:500px;">
                    <div id='myModalContent'></div>
                </div>
            </div>
        </div>
    </div> 
</div>


<script type="text/javascript">
    $(document).ready(function () {
        
        $('#popup').click(function () {
            
            var FeeId = $("#FeeId").val();

            $.ajax({
                url: "/mFeeMasters/CommentResult?FeeId=" + FeeId,
                type: "POST",
                data: "{}",
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                //contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success: function (data) {
                    $('#myModalContent').html(data);
                    $('#myModal').modal('show');
                    //$("#NEW2").html(data);
                    $("table.display").DataTable();
                    event.preventDefault();
                    return false;
                },

            });

        });

    });
</script>

<script type="text/javascript">
    $("#amend").on("click", function () {
        $("#AAFForm").validationEngine('attach', {
            promptPosition: "bottomLeft",
            scroll: false,
            autoHidePrompt: true,
            autoHideDelay: 3500,
            fadeDuration: 0.3,
            focusFirstField: false,
            MaxErrorsPerField: 1
        });

    });

    $("#approve").on("click", function () {
        $("#AAFForm").validationEngine('detach');
    });
</script>
